:host /deep/ .club {

  outline: none;

  .club-name-editor {
    input[type="text"] {
      max-width: 108px;
    }
  }

  input[type="text"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-expansion-indicator {
    padding: 0 14px;
  }

  .mat-expansion-panel-header {

    padding: 0 14px;
    min-width: 0;
    min-height: 0;

    button {
      font-size: 12px;
      letter-spacing: 0.075px;
    }

    .mat-content {
      min-width: 0;
      min-height: 0;
      align-content: flex-start;
      justify-content: center;
    }

    .mat-expansion-panel-header-title {
      margin: 0;
    }

    .mat-expansion-panel-header-description {
      align-items: center;
      flex: 0 1 100%;
    }

  }

  .player-tag,
  .skill-rating {
    line-height: 1;
  }

  md-menu {
    margin: 0 !important;
  }

}
