<div class="skills py-3 px-3" fxLayout="column" fxLayoutGap="14px">
  <p>Widowmaker equips herself with whatever it takes to eliminate her targets, including mines that dispense poisonous gas, a visor that grants her squad infra-sight, and a powerful sniper rifle that can fire in fully-automatic mode.</p>
  <mat-list>
    <div fxLayout="column" fxLayoutGap="14px" fxFlex>
      <mat-list-item>
        <div class="skill" fxLayout="row" fxLayoutGap="14px" fxFill>
          <div class="skill-icon-container" fxFlexAlign="start">
            <div class="skill-icon">
              <img class="md-image md-image-48" src="https://blzgdapipro-a.akamaihd.net/hero/widowmaker/ability-widows-kiss/icon-ability.png">
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="4px">
            <span class="text-uppercase"><strong>WIDOW’S KISS</strong></span>
            <p class="mat-body-1 my-0">Widowmaker’s versatile sniper rifle is ideal for scope-aimed shots at distant targets. Should targets close to medium range, the rifle can also be fired in fully-automatic mode.</p>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="skill" fxLayout="row" fxLayoutGap="14px" fxFill>
          <div class="skill-icon-container" fxFlexAlign="start">
            <div class="skill-icon">
              <img class="md-image md-image-48" src="https://blzgdapipro-a.akamaihd.net/hero/widowmaker/ability-grappling-hook/icon-ability.png">
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="4px">
            <span class="text-uppercase"><strong>GRAPPLING HOOK</strong></span>
            <p class="mat-body-1 my-0">Widowmaker launches a grappling hook towards the location she’s aiming at – when the hook connects with a scalable surface, she’s quickly drawn towards it, allowing her to expand her view of the battlefield and evade or flank targets.</p>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="skill" fxLayout="row" fxLayoutGap="14px" fxFill>
          <div class="skill-icon-container" fxFlexAlign="start">
            <div class="skill-icon">
              <img class="md-image md-image-48" src="https://blzgdapipro-a.akamaihd.net/hero/widowmaker/ability-venom-mine/icon-ability.png">
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="4px">
            <span class="text-uppercase"><strong>VENOM MINE</strong></span>
            <p class="mat-body-1 my-0">Widowmaker adheres a swiftly-arming venom mine to nearly any surface. When a target wanders within range of the mine’s motion trigger, it explodes, delivering poison gas to any enemies in the vicinity.</p>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="skill" fxLayout="row" fxLayoutGap="14px" fxFill>
          <div class="skill-icon-container" fxFlexAlign="start">
            <div class="skill-icon">
              <img class="md-image md-image-48" src="https://blzgdapipro-a.akamaihd.net/hero/widowmaker/ability-infra-sight/icon-ability.png">
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="4px">
            <span class="text-uppercase"><strong>INFRA-SIGHT</strong></span>
            <p class="mat-body-1 my-0">Widowmaker’s recon visor allows her to see the heat signatures of her targets through walls and objects for a moderate amount of time. This enhanced vision is shared with her allies.</p>
          </div>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</div>
