<form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
  <input
  formControlName="email"
  type="email"
  name="email"
  id="email"
  placeholder="email">
  <input
    formControlName="displayName"
    type="text"
    name="displayName"
    id="displayName"
    placeholder="displayName">
  <input
    formControlName="password"
    type="password"
    name="password"
    id="password"
    placeholder="password">
  <button [disabled]="!registrationForm.valid" type="submit">Sign Up</button>
  <div *ngIf="createUserError">
    Problem Creating account, try again.
  </div>
</form>
<div>
  <button (click)="bnetAuth()">Battle Net</button>
</div>
