<div class="row">
  <div class="col-auto pl-3">
    <img src="img/imgplaceholder_square.png" alt="" class="avatar-md rounded">
  </div>
  <!-- end .col -->
  <div class="col">
    <div class="row mb-1">
      <div class="col">
        <span class="text-uppercase font-weight-bold">Skill Name</span>
      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->
    <div class="row">
      <div class="col">
        <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus purus libero, auctor id faucibus vitae, varius ac
          diam. In hac habitasse platea dictumst.</p>
      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .col -->
</div>
<!-- end .row -->
