<a href="#">
  <div class="news-post-card {{ featuredPost ? 'featured-post' : '' }} ">

    <div class="news-post-card-body">

      <div class="post-overview text-center py-4">

        <p class="post-category text-uppercase font-weight-bold py-3">Patch Notes</p>
        <!-- end .post-category -->

        <p class="post-title text-uppercase">Vestibulum condimentum ultrices eleifend</p>
        <!-- end .post-title -->

        <p class="post-summary text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod quam pharetra feugiat posuere. Integer ac pharetra urna. Morbi eleifend aliquet velit a semper. Nunc sollicitudin non nunc a vehicula.</p>
        <!-- end .post-summary -->

        <p class="creation-breadcrumb small text-uppercase">By Caymus - 4 Days Ago</p>
        <!-- end .creation-breadcrumb -->

      </div>
      <!-- end post-summary -->

      <div class="thumbnail">
        <img src="img/mercy.png">
      </div>
      <!-- end .thumbnail -->

    </div>
    <!-- end .news-post-card-body -->

  </div>
  <!-- end .news-post-card -->
</a>
<!-- end .news-post-card -->