<div class="hero-card-header px-3" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px">

  <div class="mt-3" fxLayout="column">
    <ow-hero-portrait [class]="'md-image-48'" [hero]="hero"></ow-hero-portrait>
  </div>

  <div class="mt-3" fxLayout="column">
    <span><strong>{{ hero.hero.name }}</strong></span>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
      <md-icon class="md-14" svgIcon="role_{{ hero.hero.role | lowercase }}"></md-icon>
      <span class="mat-caption text-uppercase">{{ hero.hero.role }}</span>
    </div>
  </div>

  <div class="mt-3" fxLayout="column" fxFlex>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="14px">

      <div class="text-center" fxLayout="column" fxFlex="20%">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span><strong>{{ hero.gameHistoryStatistic.gamesPlayed }}</strong></span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20px">
          <md-progress-bar mode="determinate" value="50"></md-progress-bar>
        </div>
        <span class="mat-caption text-uppercase">Games</span>
      </div>

      <div class="text-center" fxLayout="column" fxFlex="20%">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="mat-caption">{{ hero.gameHistoryStatistic?.gamesWon }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20px">
          <md-progress-bar mode="determinate" value="50"></md-progress-bar>
        </div>
        <span class="mat-caption text-uppercase">Wins</span>
      </div>

      <div class="text-center" fxLayout="column" fxFlex="20%">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
          <span><strong>{{ hero.combatLifetimeStatistic?.timeSpentOnFire | owSecondsToHours }}</strong>hrs</span>
          <md-icon class="md-18">access_time</md-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" fxFlex="20px">
          <md-progress-bar mode="determinate" value="50"></md-progress-bar>
          <md-icon class="md-18">whatshot</md-icon>
        </div>
        <span class="mat-caption text-uppercase">Played</span>
      </div>

      <div class="text-center" fxLayout="column" fxFlex="20%">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
          <span class="medal medal-gold mat-caption px-1">{{ hero.matchAwardsStatistic?.goldMedals || 0 }}</span>
          <span class="medal medal-silver mat-caption px-1">{{ hero.matchAwardsStatistic?.silverMedals || 0 }}</span>
          <span class="medal medal-bronze mat-caption px-1">{{ hero.matchAwardsStatistic?.bronzeMedals || 0 }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20px">
          <md-progress-bar mode="determinate" value="50"></md-progress-bar>
        </div>
        <span class="mat-caption text-uppercase">Medals</span>
      </div>

    </div>

  </div>

</div>
