<mat-card class="news-post-card flex-layout" (click)="loadPost()" *ngIf="post">

  <img mat-card-image [src]="post.thumbnailUrl" fxFlexFill>

  <div class="content" fxLayout="column" fxLayoutGap="24px">

    <div fxLayout="column">

      <div fxLayout="column" fxFlex="grow">

        <p class="post-card-title text-center"
           ngClass.lt-md="mat-title mb-0"
           ngClass.gt-sm="mat-headline mb-0">
           {{ post.title }}
        </p>

      </div>

    </div>

    <div fxLayout="column">

      <div fxLayout="column" fxLayoutGap="14px" fxFlex="grow">

        <div fxLayout="row" fxFlex="noshrink">
          <div class="slice-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="grow">
            <mat-chip-list class="slice">
              <mat-chip class="mx-2 mb-2" *ngFor="let category of post.blogCategories">{{ category.name }}</mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div fxLayout="row" fxFlex="grow">

          <div class="slice-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="50%">
            <span class="slice mat-caption text-uppercase">{{ post.author.displayName }}</span>
          </div>

          <div class="slice-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="50%">
            <span class="slice mat-caption text-uppercase">{{ post.insertedAt | amTimeAgo }}</span>
          </div>

        </div>

        <div class="slice-container" fxLayout="row" fxLayoutAlign="center start" fxFlex="grow">

          <mat-card-content class="slice text-center">
            <p>{{ post.summary }}</p>
          </mat-card-content>

        </div>

      </div>

    </div>

  </div>

</mat-card>
