:host /deep/ .news-post-card {

  padding: 0;
  line-height: 0;
  overflow: hidden;

  .content {
    line-height: 1.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px;
  }

  .mat-card-image {
    margin: 0;
  }

  .slice-container {
    overflow: hidden;
  }

  .slice {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.35s cubic-bezier(0.55, 0, 0.1, 1),
                opacity 0.35s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .post-card-title {
    line-height: 1.2;
    transition: margin-top 0.35s cubic-bezier(0.55, 0, 0.1, 1),
                margin-bottom 0.35s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .mat-chip-list {
    .mat-chip-list-wrapper {
      justify-content: center;
    }
  }

  &:hover {

    cursor: pointer;

    .post-card-title {
      margin-top: 8px;
      margin-bottom: -8px;
    }

    .slice {
      transform: translateY(0);
      opacity: 1;
    }

  }

}
