<div class="post-user-actions">

  <div class="inner">

    <div class="user-actions">

      <button class="btn btn-user-action text-center px-4 py-3">
            <span class="label text-uppercase">News</span>
            <i class="fa fa-header" aria-hidden="true"></i>
          </button>
      <!-- end .btn-user-action -->

      <button class="btn btn-user-action text-center px-4 py-3">
            <span class="label text-uppercase">Share</span>
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </button>
      <!-- end .btn-user-action -->

    </div>
    <!-- end .user-actions -->

    <div class="post-scrolled">
      <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
    </div>
    <!-- end .post-scrolled -->

  </div>
  <!-- end .inner -->

</div>
<!-- end .post-user-actions -->
