<form  [formGroup]="clubForm" (ngSubmit)="createClub(clubForm.value); clubForm.reset()">
  <div class="flex-layout"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="14px"
      fxFlex="noshrink">

    <div class="flex-layout" fxLayout="column" fxFlex="grow" >
      <input type="text" required formControlName="name" placeholder="Enter a Club Name">
    </div>

    <div class="flex-layout" fxLayout="row" fxFlex="noshrink">
      <button class="min-width-0"
        md-mini-fab
        type="submit"
        [disabled]="!clubForm.valid"
        mdTooltip="Submit">
        <md-icon>add</md-icon>
      </button>

      <button class="min-width-0"
        md-mini-fab
        type="button"
        (click)="cancel()"
        mdTooltip="cancel">
        <md-icon>cancel</md-icon>
      </button>
    </div>
  </div>
</form>