<div class="friends-list py-3" fxLayout="column" fxLayoutGap="14px" fxFlexFill>

  <div *ngIf="openSearchResults; then showSearchResults; else showTabContent;"></div>

  <ng-template #showSearchResults>
    <div class="flex-layout" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px" fxFlex="noshrink">
      <div class="flex-layout" fxLayout="column" fxFlex="grow" *ngIf="!clubCreationPending">
        <span class="mat-caption matching">{{ searchResults.length }} results found.</span>
      </div>
      <div class="flex-layout" fxLayout="column" fxFlex="noshrink">
        <button class="min-width-0" (click)="openSearchResults = false" md-button>
          <md-icon>close</md-icon>
        </button>
      </div>
    </div>
    <div class="ow-tab-content flex-layout px-2 py-2" fxLayout="column" fxFlex="grow" [perfect-scrollbar]>
      <ow-search-results [searchResults]="searchResults"></ow-search-results>
    </div>
  </ng-template>

  <ng-template #showTabContent>

    <div *ngIf="!(hasFriends | async); then noFriends; else friendsList;"></div>

    <ng-template #noFriends>
      <div class="px-3 flex-layout" fxLayout="column" fxFlex="grow">
        <div fxLayout="column" fxLayoutAlign="end center" fxFlex="1 1 55%">
          <p class="text-heading mat-display-2 mb-2">Did you try turning it on and off?</p>
        </div>
        <div fxLayout="column" fxFlex="1 1 45%">
          <p>There's nothing to see here.</p>
        </div>
      </div>
    </ng-template>

    <ng-template #friendsList>

      <div *ngIf="!clubCreationPending; then clubHeader; else pendingClubCreation;"></div>

      <ng-template #clubHeader>
        <div class="flex-layout" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px" fxFlex="noshrink">
          <div class="flex-layout" fxLayout="column" fxFlex="grow">
            <span fxLayout="row" fxLayoutAlign="start center">
              <md-icon class="mr-2">group</md-icon> ({{ (clubs | async)?.length }}) Clubs
            </span>
          </div>
          <div class="flex-layout" fxLayout="column" fxFlex="noshrink">
            <button class="min-width-0" md-button mdTooltip="Create a New Club" (click)="toggleClubCreation()">
              <md-icon>playlist_add</md-icon>
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template #pendingClubCreation>
        <ow-create-club (blur)="toggleClubCreation()" (inProgress)="toggleClubCreation()"></ow-create-club>
      </ng-template>

      <div class="ow-tab-content flex-layout px-2 py-2"
           fxLayout="column"
           fxLayoutGap="8px"
           fxFlex="grow"
           [perfect-scrollbar]>

        <ng-container *ngIf="(clubs | async)?.length">
          <ow-club class="flex-layout"
                   fxLayout="row"
                   fxFlex="noshrink"
                   *ngFor="let club of clubs | async"
                   [club]="club">
          </ow-club>
        </ng-container>

      </div>

    </ng-template>

  </ng-template>

  <div class="flex-layout" fxLayout="column" fxFlex="noshrink">
    <ow-search
      [searchInProgress]="searchInProgress"
      [placeholder]="'Add a friend'"
      (onSearch)="onSearch($event)">
    </ow-search>
  </div>

</div>
