:host /deep/ .friends-list {

  .btn-content-toggle {

    i {
      transform: rotate(0);
      transition: transform 0.25s cubic-bezier(0.55, 0, 0.1, 1);
    }

    &.collapsed i {
      transform: rotate(-90deg);
    }

  }

  .mat-list-item-content {
    padding: 0 8px !important;
  }

}
