<div class="row footer-nav">
  <ul class="nav">
    <li class="nav-item footer-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="#">Following</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="#">Leaderboard</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="#">Heroes</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="#">E-Sports</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="#">Live</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="#">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Friends</a>
    </li>
  </ul>
</div>

<div class="row">
  <span class="mx-auto tos">
    Terms of Service - Privacy Policy
  </span>
</div>

<div class="row mb-3">
  <span class="mx-auto copy">
    <img src="/img/stplogo.svg" class="logo">
    &copy; Stop The Payload. Trademarks, Copyrights, and brands are the property of their respective owners.
  </span>
</div>
