@import "../../../style/colors";
.hero-portrait {
  position: relative;
  .header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    word-wrap: break-word;
    color: $white;
    line-height: 0.65;
    font-size: 10px;
  }
  .thumbnail img {
    background-color: #3F51B5;
  }
}
