@mixin ow-hero-portrait-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .hero-portrait {
    img {
      background-color: mat-color($mat-amber, 500);
    }
  }

}

@mixin ow-hero-portrait-theme($theme) {
  @include ow-hero-portrait-component-theme($theme);
}
