<section class="fixed-top main-nav" #mainnav>
  <div class="container-fluid px-0">
    <div class="row align-items-center mx-0">
      <div class="col-12 px-0">

        <nav class="navbar navbar-toggleable-md">

          <a class="navbar-brand mr-auto" [routerLink]="">
            <img src="img/stplogo.svg" alt="logo">
          </a>

          <ul class="navbar-nav mr-auto align-items-center ml-2 hidden-md-down">
            <li class="nav-item px-1 active">
              <a routerLink="/news" class="nav-link">News <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-1">
              <a routerLink="/leaderboard" class="nav-link">Leaderboard</a>
            </li>
            <li class="nav-item px-1">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="material-icons">more_horiz</i>
                </button>
                <div class="dropdown-menu px-3 py-3" aria-labelledby="dropdownBasic1">
                  <i class="material-icons arrow-up">arrow_drop_up</i>
                  <a routerLink="/heroes"    class="dropdown-item pl-2 pr-4 py-1">Heroes</a>
                  <a routerLink="/following" class="dropdown-item pl-2 pr-4 py-1">Following</a>
                  <a routerLink="/esports"   class="dropdown-item pl-2 pr-4 py-1">Esports</a>
                  <a routerLink="/live"      class="dropdown-item pl-2 pr-4 py-1">Live</a>
                </div>
              </div>
            </li>
          </ul>
          <!-- end .navbar-nav -->

          <form [formGroup]="questionForm" class="search-form">
            <ow-search #search (search)='onSearch($event)'></ow-search>
          </form>
          <!-- end .search-form -->

          <button class="navbar-toggler ml-auto"
                  type="button"
                  (click)="isCollapsed = !isCollapsed"
                  data-toggle="collapse"
                  data-target="#toggled-navigation"
                  aria-controls="toggled-navigation"
                  aria-expanded="!isCollapsed"
                  aria-label="Toggle Navigation">
                  <i class="material-icons">menu</i>
                </button>
          <!-- end .navbar-toggle -->

          <div class="navbar-collapse collapse py-2" id="toggled-navigation" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item my-1">
                <a class="nav-link btn btn-primary px-3 py-2 mx-2" href="#">Sign Up</a>
              </li>
              <li class="nav-item my-1">
                <a class="nav-link btn btn-primary px-3 py-2 mx-2" href="#">Login</a>
              </li>
            </ul>
            <ul class="nav navbar-nav hidden-lg-up">
              <li class="nav-item my-1">
                <a routerLink="/news" class="nav-link px-3 py-2 mx-2">News</a>
              </li>
              <li class="nav-item my-1">
                <a routerLink="/leaderboard" class="nav-link px-3 py-2 mx-2">Leaderboard</a>
              </li>
              <li class="nav-item my-1">
                <a routerLink="/heroes" class="nav-link px-3 py-2 mx-2">Heroes</a>
              </li>
              <li class="nav-item my-1">
                <a routerLink="/following" class="nav-link px-3 py-2 mx-2">Following</a>
              </li>
              <li class="nav-item my-1">
                <a routerLink="/esports" class="nav-link px-3 py-2 mx-2">Esports</a>
              </li>
              <li class="nav-item my-1">
                <a routerLink="/live"  class="nav-link px-3 py-2 mx-2">Live</a>
              </li>
            </ul>
          </div>
          <!-- end .navbar-collapse -->

        </nav>
        <!-- end nav -->
      </div>
      <!-- end .col-12 -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container-fluid -->
</section>
<!-- end .main-nav #mainnav -->