<div class="hero-cards" fxLayout="row">
  <div class="flex-layout" fxLayout="column" fxLayoutGap="14px" fxFlex>
    <div class="flex-layout" fxLayout="row">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <span class="text-uppercase"><strong>Heroes</strong></span>
      </div>
    </div>
    <div class="flex-layout" fxLayout="row" *ngFor="let hero of heroes">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <ow-hero-card></ow-hero-card>
      </div>
    </div>
  </div>
</div>
