<div class="top-news-post-card {{ featuredPost ? 'featured' : '' }}">

    <a href="#">
        <div class="post-card-body">

            <div class="post-overview text-center py-4">

                <p class="post-category text-uppercase font-weight-bold pb-2">Patch Notes</p>
                <!-- end .post-category -->

                <p class="post-title text-uppercase">Vestibulum condimentum ultrices eleifend</p>
                <!-- end .post-title -->

                <p class="creation-breadcrumb small text-uppercase">By Caymus - 4 Days Ago</p>
                <!-- end .creation-breadcrumb -->

            </div><!-- end .post-overview -->

            <div class="thumbnail">
                <img src="img/mercy.png">
            </div><!-- end .thumbnail -->

        </div><!-- end .post-card-body -->
    </a>

</div><!-- end .top-news-post-card -->