<div class="top-news-post-card {{ featuredPost ? 'featured' : '' }}">

    <a href="#">
        <div class="post-card-body">

            <div class="post-overview text-center py-4">

                <p *ngFor="let category of post.blogCategories" class="post-category text-uppercase font-weight-bold pb-2"> {{category.name}} </p>
                <!-- end .post-category -->

                <p class="post-title text-uppercase">{{post.title}}</p>
                <!-- end .post-title -->

                <p class="creation-breadcrumb small text-uppercase">By {{post.author.displayName}} - {{post.insertedAt | amLocal | amTimeAgo}}</p>
                <!-- end .creation-breadcrumb --> <!-- calculate from creation point display in human readable/maintain format --> 

            </div><!-- end .post-overview -->

            <div class="thumbnail">
                <img [src]="post.thumbnailUrl">
            </div><!-- end .thumbnail -->

        </div><!-- end .post-card-body -->
    </a>

</div><!-- end .top-news-post-card -->
