<div class="flex-layout pt-3" fxLayout="row" fxLayoutWrap>
  <div class="pt-3" fxLayout="column" fxFlex="20%" *ngFor="let block of statBlocks">
    <div fxLayout="row">
      <div fxLayout="column">
        <div fxLayout="row">
          <div fxLayout="column">
            <span><strong>{{ block.value ? ( block.value | number : '1.0-2' ) : '-' }}</strong></span>
          </div>
          <div fxLayout="column">
            <span *ngIf="block.value">{{ block.format }}</span>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column">
        <md-progress-bar mode="determinate" [value]="block.percent || 0"></md-progress-bar>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column">
        <span class="mat-caption text-uppercase">{{ block.name }}</span>
      </div>
    </div>
  </div>
</div>
