<div class="sidebar-secondary-content flex-layout" fxLayout="column" fxFlex="grow">

  <md-tab-group class="flex-layout" fxLayout="column" fxFlex="grow" [dynamicHeight]="false">

    <md-tab>

      <ng-template md-tab-label>

        <div class="flex-layout" fxLayout="row" fxLayoutAlign="center center" fxFlex="grow">
          <i class="material-icons md-18">people</i>
          <span class="ml-1">Friends ({{ friendsCount }})</span>
        </div>

      </ng-template>

      <div class="flex-layout" fxFlexFill>

        <ow-sidebar-friends-list></ow-sidebar-friends-list>

      </div>

    </md-tab>

    <md-tab>

      <ng-template md-tab-label>

        <div class="flex-layout" fxLayout="row" fxLayoutAlign="center center" fxFlex="grow">
          <i class="material-icons md-18">person_add</i>
          <span class="ml-1">
            Requests ({{ friendRequestsCount > 99 ? '99+' : friendRequestsCount }})
          </span>
        </div>

      </ng-template>

      <div class="flex-layout" fxFlexFill>

        <ow-sidebar-friend-requests>
        </ow-sidebar-friend-requests>

      </div>

    </md-tab>

  </md-tab-group>

</div>
