<div class="following px-3 pt-3">

  <md-tab-group>

    <md-tab label="Overview">
      <div class="pt-3" fxLayout="row" fxLayoutWrap>
        <div class="px-3 pb-3" fxLayout="column"
             fxFlex.xs="100%"
             fxFlex.sm="50%"
             fxFlex.md="33.333%"
             fxFlex.lg="20%"
             *ngFor="let player of players">
          <ow-player-profile-button [player]="player"></ow-player-profile-button>
        </div>
      </div>
    </md-tab>

  </md-tab-group>

</div>
