<md-card>
  <md-card-header>
    <md-card-title>{{ followedUser.displayName }}</md-card-title>
  </md-card-header>
  <md-card-content>
    <div *ngFor="let gamerTag of followedUser.gamerTags">
      <ow-gamer-tag-card [gamerTag]="gamerTag" [profileMode]="false"></ow-gamer-tag-card>
    </div>
  </md-card-content>
  <md-card-actions>
    <button class="min-width-0" color="warn" (click)="unfollow(followedUser.id)" md-button mdTooltip="Unfollow">
      <md-icon>favorite_border</md-icon>
    </button>
  </md-card-actions>
</md-card>
