<div class="following container-fluid">

  <div class="row content py-3">

    <div class="col-12 my-3">
      <span class="h3 text-uppercase font-weight-bold">Following</span>
    </div>
    <!--- end .col -->

    <div class="col-12 mt-3">

      <div class="row">

        <div class="col-3">
          <div class="row">
            <div class="col-3 pr-0">
              <img src="img/imgplaceholder_square.png" alt="" class="full-width rounded">
            </div>
            <!-- end .col -->
            <div class="col-7">
              <div class="row">
                <div class="col-12">
                  <p class="d-flex align-items-center text-uppercase mb-0">MoonMoonOW <span class="small skill-rating mx-2">5000</span></p>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <small class="text-uppercase">23,456 Viewers</small>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
            </div>
            <!-- end .col -->
            <div class="col-2">
              <a href="#" class="btn btn-view-profile d-flex align-items-center justify-content-center full-height rounded"><i class="material-icons">chevron_right</i></a>
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
        </div>
        <!-- end .col -->

        <div class="col-3">
          <div class="row">
            <div class="col-3 pr-0">
              <img src="img/imgplaceholder_square.png" alt="" class="full-width rounded">
            </div>
            <!-- end .col -->
            <div class="col-7">
              <div class="row">
                <div class="col-12">
                  <p class="d-flex align-items-center text-uppercase mb-0">MoonMoonOW <span class="small skill-rating mx-2">5000</span></p>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <small class="text-uppercase">23,456 Viewers</small>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
            </div>
            <!-- end .col -->
            <div class="col-2">
              <a href="#" class="btn btn-view-profile d-flex align-items-center justify-content-center full-height rounded"><i class="material-icons">chevron_right</i></a>
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
        </div>
        <!-- end .col -->

      </div>
      <!-- end .row -->

    </div>
    <!-- end .col -->

  </div>
  <!-- end .row -->

</div>
<!-- end .following -->
