<div class="following px-3 pt-3">
  <md-tab-group>
    <md-tab label="Users">
      <div class="pt-3" fxLayout="row" fxLayoutWrap>
        <div class="px-3 pb-3"
             fxLayout="column"
             fxFlex.xs="100%"
             fxFlex.sm="50%"
             fxFlex.md="33.333%"
             fxFlex.lg="33.333%"
             *ngFor="let followedUser of followedUsers | async">

        <ow-followed-user 
          [followedUser]="followedUser" 
          fxLayout="row">
        </ow-followed-user>
        </div>
      </div>
    </md-tab>

    <md-tab label="Profiles">
      <div class="pt-3" fxLayout="row" fxLayoutWrap>
        <div 
          class="px-3 pb-3"
          fxLayout="column"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="33.333%"
          fxFlex.lg="33.333%"
          *ngFor="let gamerTag of followedGamerTags | async">
            <ow-gamer-tag-card [gamerTag]="gamerTag" [profileMode]="true"></ow-gamer-tag-card>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>
