<div class="hero-card rounded px-3 py-3">
  <div class="row mb-3">
    <div class="col-12">
      <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
    </div>
    <!-- end .col -->
  </div>
  <!-- end .row -->
  <section class="row align-items-center">
    <div class="col-auto pl-3 pb-1">
      <img src="img/imgplaceholder_square.png" alt="" class="avatar-md rounded">
    </div>
    <div class="col pb-1">
      <div class="row">
        <div class="col pb-1">
          <span class="text-uppercase font-weight-bold">Reaper</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="small text-uppercase d-flex align-items-center font-weight-bold">
            <img src="img/OffenseIcon.svg" alt="" class="role-icon-sm mr-2">offense
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="x-small text-uppercase">54 Games Analyzed</span>
        </div>
      </div>
    </div>
    <!-- end .col -->
    <div class="col-12 pb-3">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-6">
          <div class="row align-items-center my-1">
            <div class="col-sm col-12 ">
              <span class="small">Win Rate</span>
            </div>
            <!-- end .col -->
            <div class="col-auto px-3">
              <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
          <div class="row my-1">
            <div class="col-12">
              <span class="h4 font-weight-bold">68.4%</span>
              <sup class="text-uppercase mx-1">99th</sup>
            </div>
            <!-- end .col -->
          </div>
        </div>
        <!-- end .col -->
        <div class="col-xl-3 col-md-6 col-6">
          <div class="row align-items-center my-1">
            <div class="col-sm col-12 ">
              <span class="small">Game Time</span>
            </div>
            <!-- end .col -->
            <div class="col-auto px-3">
              <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_down</i>0.11% )</span>
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
          <div class="row my-1">
            <div class="col-12">
              <span class="h4 font-weight-bold">7</span>
              <span class="small ml-1">hrs</span>
              <sup class="text-uppercase mx-1">99th</sup>
            </div>
            <!-- end .col -->
          </div>
        </div>
        <!-- end .col -->
        <div class="col-xl-3 col-md-6 col-6">
          <div class="row align-items-center my-1">
            <div class="col-sm col-12">
              <span class="small text-u">On Fire</span>
            </div>
            <!-- end .col -->
            <div class="col-auto px-3">
              <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
          <div class="row my-1">
            <div class="col-12">
              <span class="h4 font-weight-bold">0.69</span>
              <span class="small ml-1">min</span>
            </div>
            <!-- end .col -->
          </div>
        </div>
        <!-- end .col -->
        <div class="col-xl-3 col-md-6 col-6">
          <div class="row align-items-center my-1">
            <div class="col-sm col-12">
              <span class="small text-u">Medals</span>
            </div>
            <!-- end .col -->
            <div class="col-auto px-3">
              <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
          <div class="row my-1">
            <div class="col-12 text-center">
              <span class="d-inline-block small px-2 py-1 mx-1 my-1 rounded medal gold">1.69</span>
              <span class="d-inline-block small px-2 py-1 mx-1 my-1 rounded medal silver">1.69</span>
              <span class="d-inline-block small px-2 py-1 mx-1 my-1 rounded medal bronze">1.69</span>
            </div>
          </div>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
  </section>
  <!-- end .row -->
  <div class="row">
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-6 pt-3">
      <div class="row">
        <div class="col-12">
          <span class="small font-weight-bold">2.27</span>
          <span class="small ml-1">min</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12 py-1">
          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <div class="row">
        <div class="col-12">
          <span class="small">Eliminations</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .col -->
  </div>
</div>
<!-- end .hero-card -->
