@import './hero-card-header/hero-card-header-theme';
@import './hero-card-body/hero-card-body-theme';

@mixin ow-hero-card-progress-bar-theme($theme) {

  $primary: map-get($theme, primary);

  .ow-hero-card-header-progress-bar {
    .mat-progress-bar-fill::after {
      background-color: mat-color($primary);
    }
  }

}

@mixin ow-hero-card-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $border-color: mat-color($mat-grey, 200);

  .hero-card {
    @include ow-hero-card-header-theme($theme);
    @include ow-hero-card-body-theme($theme);
    @include ow-hero-card-progress-bar-theme($theme);
  }

}
