<div class="news-post-card mb-3">
              <div class="row">
                <div class="col-md-5 col-6 mb-3">
                  <div class="banner">
                    <img src="/img/cardplaceholder4.png" alt="">
                  </div>
                </div>
                <div class="col-md-7 col-6">
                  <div class="post-title mb-2">
                    <span class="h4 text-uppercase font-weight-bold">Pellentesque habitant morbi tristique senectus</span>
                  </div>
                  <div class="date-time-category mb-2 small">
                    <span class="date">Aug 28, 2017</span>
                    <span>in <a href="#">Patch Notes</a></span>
                  </div>
                  <div class="post-summary mb-2 small">
                     <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                  <div class="read-more">
                    <a href="#" class="btn btn-outline-primary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .news-post-card -->
            