@import "../../../../style/colors";

.post-entry {

    font-size: 1rem;
    letter-spacing: 0.08rem;
    line-height: 1.5;

    .post-header {

        padding: 0 !important;

        .post-header-inner {
            padding: 0 calc(2rem + 9vw);
        }

        .split {
            overflow: hidden;
            .part {
                float: left;
                width: 50%;
            }
        }

        .post-title {
            letter-spacing: 0.25rem;
        }

        .post-meta {
            padding: 0 calc(1rem + 0.5vw);
        }

        .post-short,
        .post-author,
        .post-date-time {
            font-weight: 300;
        }

    }

    .post-body {

        p {
            font-weight: 300;
            padding: 0 calc(2rem + 8vw);
            margin-bottom: 2rem;
            line-height: 2;
        }

        img {
            width: 100%;
            max-width: 80%;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

    }

}