<div class="post-entry py-3 mb-5" #postentry>

  <div class="post-header text-center" #postheader>

    <div class="post-header-inner py-4">

      <div class="post-category mb-3">
        <span class="small text-uppercase font-weight-bold">Patch Notes</span>
      </div><!-- end .post-category -->

      <div class="post-title mb-3">
        <span class="h3 text-uppercase font-weight-bold">Origins: Genji</span>
      </div><!-- end .post-title -->

      <div class="post-short mb-5">
        <span>Etiam viverra mauris a lectus iaculis imperdiet.</span>
      </div><!-- end .post-category -->

      <div class="split post-meta clear-fix my-3">
        <div class="part post-author">
          <span class="small text-uppercase">By Caymus</span>
        </div><!-- end .post-author -->
        <div class="part post-date-time">
          <span class="small text-uppercase">4 Days Ago</span>
        </div><!-- end .post-date-time -->

      </div><!-- end .post-meta -->

    </div><!-- end .post-header-inner -->

  </div><!-- end .post-header -->

  <div class="post-body">

    <div class="post-body-inner container">

      <div class="row">

        <div class="col-12">

          <div class="image text-center">
            <img src="img/cardplaceholder7.png" alt="">
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat at dolor quis tempus. Nullam pretium lectus ut interdum eleifend. Proin mattis non diam a interdum. Duis egestas dolor odio. Phasellus eleifend pulvinar porttitor. Vivamus fringilla ipsum eu massa lacinia, id vestibulum ex finibus. Vivamus volutpat nisl vel quam cursus, id faucibus neque gravida.</p>

          <p>Proin aliquet molestie ante eget imperdiet. Mauris id nisl vitae felis scelerisque dignissim non ac massa. Aenean et blandit dui. Vestibulum bibendum rutrum purus, ac viverra risus pellentesque eget. Sed ut tortor ipsum. Aenean venenatis interdum hendrerit. Integer velit dui, eleifend varius fringilla vitae, imperdiet et neque. Maecenas vestibulum, diam vitae blandit dignissim, sem enim ornare ante, non commodo ipsum leo at risus. Mauris posuere mollis risus, fringilla varius libero finibus et.</p>

          <p>Morbi pretium interdum malesuada. Curabitur tincidunt posuere lectus eget ultrices. Morbi eu tristique justo. Fusce vestibulum lacinia sapien, sed ornare lacus. In dignissim, nisl eu porta gravida, urna turpis laoreet magna, nec egestas erat turpis quis nulla. Nullam luctus nunc elit, id semper ligula auctor eu. Pellentesque pellentesque porta lectus id consectetur.</p>

          <div class="image text-center">
            <img src="img/cardplaceholder7.png" alt="">
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat at dolor quis tempus. Nullam pretium lectus ut interdum eleifend. Proin mattis non diam a interdum. Duis egestas dolor odio. Phasellus eleifend pulvinar porttitor. Vivamus fringilla ipsum eu massa lacinia, id vestibulum ex finibus. Vivamus volutpat nisl vel quam cursus, id faucibus neque gravida.</p>

          <p>Proin aliquet molestie ante eget imperdiet. Mauris id nisl vitae felis scelerisque dignissim non ac massa. Aenean et blandit dui. Vestibulum bibendum rutrum purus, ac viverra risus pellentesque eget. Sed ut tortor ipsum. Aenean venenatis interdum hendrerit. Integer velit dui, eleifend varius fringilla vitae, imperdiet et neque. Maecenas vestibulum, diam vitae blandit dignissim, sem enim ornare ante, non commodo ipsum leo at risus. Mauris posuere mollis risus, fringilla varius libero finibus et.</p>

          <p>Morbi pretium interdum malesuada. Curabitur tincidunt posuere lectus eget ultrices. Morbi eu tristique justo. Fusce vestibulum lacinia sapien, sed ornare lacus. In dignissim, nisl eu porta gravida, urna turpis laoreet magna, nec egestas erat turpis quis nulla. Nullam luctus nunc elit, id semper ligula auctor eu. Pellentesque pellentesque porta lectus id consectetur.</p>

        </div><!-- end .col -->

      </div><!-- end .row -->

    </div><!-- end .container -->

  </div><!-- end .post-body -->

</div>
<!-- end .post -->
