:host /deep/ .post {

  padding: 60px 24px;

  .content {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05rem;

    p {
      width: 75%;
    }

  }

  .post-body {
    max-width: 960px;
  }

  .post-thumbnail {
    img {
      width: 100%;
    }
  }

  .meta-data,
  .post-thumbnail {
    padding: 16px 0;
  }

}
