<div class="post"
     fxLayout="row"
     fxLayoutAlign="center start"
     fxFlex="grow"
     *ngIf="post">

  <div class="post-body" fxLayout="column" fxLayoutGap="14px" fxFlex="grow">

    <div class="categories" fxLayout="row" fxLayoutAlign="center start" fxFlex="noshrink">
      <mat-chip-list>
        <mat-chip class="text-uppercase mx-2 mb-2"
                 *ngFor="let category of post.blogCategories">
          {{ category.name }}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="title" fxLayout="row" fxLayoutAlign="center start" fxFlex="noshrink">
      <div fxLayout="column" fxFlex="75%">
        <span class="mat-display-1 text-center pb-3">{{ post.title }}</span>
      </div>
    </div>

    <div class="meta-data" fxLayout="row" fxFlex="noshrink">
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50%">
        <span class="text-uppercase">{{ post.author.displayName }}</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50%">
        <span class="text-uppercase">{{ post.insertedAt | amTimeAgo }}</span>
      </div>
    </div>

    <div class="post-thumbnail" fxLayout="row" fxFlex="noshrink">
      <div fxLayout="column" fxFlex="grow">
        <img [src]="post.heroImageUrl">
      </div>
    </div>

    <div class="content" fxLayout="row" fxFlex="noshrink">
      <div fxLayout="column"
           fxLayoutAlign="start center"
           fxFlex="grow"
           [innerHTML]="post.content">
      </div>
    </div>

  </div>

</div>
