<div class="post-entry pt-3">

  <div class="post-header container">
    <div class="row">
      <div class="post-header-inner col">
        
        <div class="post-header-content text-center">

          <p class="post-category small text-uppercase font-weight-bold">Patch Notes</p>

          <p class="post-title text-uppercase font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>

          <p class="post-short">Etiam viverra mauris a lectus iaculis imperdiet.</p>

          <p class="post-creation small text-uppercase py-3 my-5">By Caymus - 4 Days Ago</p>

        </div>
        <!-- end .post-header -->

      </div>
      <!-- end .col -->

    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->

  <div class="post-body container">
    <div class="row">
      <div class="post-body-inner col">

        <div class="post-body-content">

          <div class="image text-center">
            <img src="img/cardplaceholder7.png" alt="">
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget orci ut lectus convallis pulvinar sed in dui. Sed vulputate a lorem et faucibus. Nulla mollis, ante vitae fermentum cursus, dui risus ullamcorper dolor, sed venenatis nisl ex vel nunc. Maecenas imperdiet bibendum diam tristique feugiat. Suspendisse potenti. Proin ultricies quam sit amet magna finibus auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus velit sit amet pretium accumsan. Suspendisse ac turpis interdum est lobortis porta. Quisque eget lacus massa. Fusce in gravida metus. Nam luctus id risus nec malesuada. In sollicitudin pulvinar mauris, a placerat massa tempus ac.</p>

          <p>Proin quis auctor dolor. Sed augue mi, pulvinar id orci ac, mattis consequat risus. Nullam pulvinar dolor ut euismod hendrerit. Etiam egestas est id dui tincidunt, et ornare dui mollis. Nullam sodales eros non leo varius interdum. Sed quis imperdiet nulla. Nunc a nulla nunc. Maecenas consectetur tortor vehicula sem suscipit, ac euismod odio luctus. Curabitur tincidunt quam vel sagittis convallis. Suspendisse accumsan enim at velit vehicula, eu pulvinar eros tincidunt. Duis ullamcorper metus ante, ut vulputate ligula accumsan vitae. Cras interdum feugiat mi eu varius.</p>

        </div>
        <!-- end .post-body-content -->

      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .post-body -->

</div>
<!-- end .post -->