<div class="lifetime-stats" fxLayout="column" fxLayoutGap="14px" fxFlex>

  <span class="text-uppercase"><strong>Lifetime Statistics</strong></span>

  <div class="px-3" fxLayout="row">
    <div fxLayout="column" fxFlex>
      <div fxLayout="row">
        <span class="mat-caption text-uppercase"><strong>Overview</strong></span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Games Played</span>
        <span class="mat-caption">{{ gameHistory.gamesPlayed }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Games Won</span>
        <span class="mat-caption">{{ gameHistory.gamesWon }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Play Time</span>
        <span class="mat-caption">{{ gameHistory.timePlayed | owSecondsToHours }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Win Rate</span>
        <span class="mat-caption">{{ gameHistory.winPercentage | owParsePercent }}%</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Avg. Game Length</span>
        <span class="mat-caption">{{ gameHistory.timePlayed | owAverageMatchLength:gameHistory.gamesPlayed | owSecondsToMinutes }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Avg. Game Length</span>
        <span class="mat-caption">{{ gameHistory.timePlayed | owAverageMatchLength:gameHistory.gamesPlayed | owSecondsToMinutes }}</span>
      </div>
    </div>
  </div>

  <div class="px-3" fxLayout="row">
    <div fxLayout="column" fxFlex>
      <div fxLayout="row">
        <span class="mat-caption text-uppercase"><strong>Combat</strong></span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Eliminations</span>
        <span class="mat-caption">{{ lifetimeStats.eliminations }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Deaths</span>
        <span class="mat-caption">{{ lifetimeStats.deaths }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">K/D Ratio</span>
        <span class="mat-caption">{{ lifetimeStats.eliminations| owKillDeathAverage:lifetimeStats.deaths }}:1</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Accuracy</span>
        <span class="mat-caption">{{ lifetimeStats.weaponAccuracyPercentage }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Damage Done</span>
        <span class="mat-caption">{{ lifetimeStats.damageDone }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Damage Blocked</span>
        <span class="mat-caption">{{ lifetimeStats.damageBlocked }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="mat-caption text-uppercase">Healing Done</span>
        <span class="mat-caption">{{ lifetimeStats.healingDone }}</span>
      </div>
    </div>
  </div>

</div>
