<div class="profile-checkbox mb-3">

  <div class="row">
    <div class="col">
      <div class="header rounded px-2 py-2">
        <div class="row align-items-center">
          <div class="col-auto pl-3">
            <img src="img/imgplaceholder_square.png" alt="" class="md-image rounded">
          </div><!-- .col-auto -->
          <div class="col">
            <p class="player-tag text-uppercase font-weight-bold mb-0">{{ owTag }}</p>
            <p class="skill-rating text-uppercase mb-0">
              Skill Rating: 1256
            </p>
          </div><!-- .col -->
        </div><!-- .row -->
      </div><!-- .header -->
    </div><!-- .col -->
  </div><!-- .row -->

  <div class="row">
    <div class="col">
      <div class="platform-regions rounded pt-2">
        <div class="row">
          <div class="col-12">
            <!-- <ow-platform-region [player]="player" [players]="players"></ow-platform-region> -->
          </div>
        </div><!-- .row -->
      </div><!-- .platform-regions -->
    </div><!-- .col -->
  </div><!-- .row -->

</div><!-- end .profile-checkbox -->
