<div class="flex-layout px-3" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
  <div class="flex-layout" fxLayout="column" fxLayoutGap="14px" fxFlex>
    <div class="flex-layout" fxLayout="row" fxLayoutAlign="start center" fxFlex="noshrink">
      <span class="mat-caption text-uppercase"><strong>Skill Rating Distribution</strong></span>
    </div>
    <div class="flex-layout" fxLayout="row" fxLayoutAlign="start center" fxFlex="noshrink">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <ow-chart
          [chartType]="srdChart.chartType"
          [labels] = "srdChart.xAxisLabels"
          [datasets]="srdChart.datasets"
          [legend]="srdChart.legend">
        </ow-chart>
      </div>
    </div>
  </div>
</div>
