<div class="input-group">
  <a [routerLink]="['home']"><img src="/img/stplogo.svg" class="logo mr-2"/></a>
  <!--<p class="h5 mt-2 mr-3">{{ fieldName }}</p>-->
  <input type="text"
         class="form-control"
         placeholder="Search for player by battle tag, psn or xbox live">
</div>


<!--<div class="input-group" [formGroup]="form">-->
  <!--<a [routerLink]="['home']"><img src="/img/stplogo.svg" class="logo mr-2"/></a>-->
  <!--<p class="h5 mt-2 mr-3">{{ fieldName }}</p>-->
  <!--<input type="text"-->
         <!--class="form-control"-->
         <!--formControlName="{{ controlName }}"-->
         <!--placeholder="Search for player by battle tag, psn or xbox live">-->
<!--</div>-->
