@import "../../../style/colors";

.main-nav {

  background-color: $brand-inverse;

  .navbar-brand img {
    width: 100%;
    max-width: 2.5rem;
  }

  .nav-link {
    color: $purple-lighter;
    font-size: 0.85rem;
  }

  .nav-link:hover {
    color: $white;
  }

  .navbar-collapse {
    width: 100%;
  }

  .search-form {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 45%;
    height: 100% !important;
  }

  .dropdown-menu {
    border-color: $brand-inverse;
  }
  .dropdown-item:hover {
    background-color: $brand-inverse;
  }

  .navbar-toggler {
    color: $white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991px) {
    .search-form {
      max-width: 60%;
    }
    .navbar-collapse {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      background-color: $purple-darker;
    }
  }

}

:host /deep/ .main-nav {

  .form-group,
  .form-group > .form-control {
    height: 100% !important;
  }

  .form-group {

    .form-control {
      border: 0 !important;
      border-radius: 0 !important;
      background-color: $purple-light;
      font-size: 0.85rem;
      color: $purple-lighter;
    }

    i {
      color: $purple-lighter;
    }

  }

  .dropdown-toggle {
    line-height: 1;
  }

  .dropdown-toggle::after {
    display: none !important;
  }

}
