<div class="fixed-top main-nav" #mainnav>

    <div class="container-fluid">

        <div class="row navbar-container">

            <nav class="navbar navbar-toggleable-md col-12">

                <button class="navbar-toggler navbar-toggler-left" type="button" 
                    (click)="isCollapsed = !isCollapsed; userActionCollapsed = true;" 
                    data-toggle="collapse" 
                    data-target="#navbarText" 
                    aria-controls="navbarText" 
                    aria-expanded="!isCollapsed" 
                    aria-label="Toggle navigation">
                    <i class="material-icons">menu</i>
                </button>
                <!-- end .navbar-toggle -->

                <a class="navbar-brand mx-auto" [routerLink]="['home']"><img src="img/stplogo.svg" alt="logo" width="50"></a>

                <div class="collapse navbar-collapse nav-menu" id="navbarText" [ngbCollapse]="isCollapsed">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-2 active">
                            <a class="nav-link text-uppercase font-weight-bold" [routerLink]="['following']">Following</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-uppercase font-weight-bold" [routerLink]="['leaderboard']">Leaderboard</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-uppercase font-weight-bold" [routerLink]="['heroes']">Heroes</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-uppercase font-weight-bold" [routerLink]="['esports']">Esports</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-uppercase font-weight-bold" [routerLink]="['live']">Live</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-uppercase font-weight-bold" [routerLink]="['news']">News</a>
                        </li>
                    </ul>
                </div>
                <!-- end .navbar-collapse -->

                <button class="navbar-toggler navbar-toggler-right" type="button" 
                    (click)="userActionCollapsed = !userActionCollapsed; isCollapsed = true;" 
                    data-toggle="collapse" 
                    data-target="#userAction" 
                    aria-controls="userAction" 
                    aria-expanded="!userActionCollapsed" 
                    aria-label="Toggle navigation">
                    <i class="material-icons">account_box</i>
                </button>
                <!-- end .navbar-toggle -->

                <div class="navbar-collapse collapse user-action" id="userAction" [ngbCollapse]="userActionCollapsed">
                    <ul class="nav navbar-nav ml-auto align-items-center">
                        <li class="nav-item mx-2">
                            <a class="nav-link btn text-uppercase" href="#">Sign Up</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link d-flex align-items-center btn btn-primary text-uppercase" href="#"><i class="material-icons mr-1">person</i>Login</a>
                        </li>
                    </ul>
                </div>
                <!-- end .navbar-collapse -->

            </nav>
            <!-- end .navbar -->

        </div>
        <!-- end .row.navbar-container -->

        <div class="row">
            <div class="col-12">
                <ow-schedule></ow-schedule>
            </div>
        </div>
        <!-- end .row -->

        <div class="row my-2 py-2 search-form-container">
            <div class="col-xl-12">
                <form [formGroup]="questionForm">
                    <ow-search #search></ow-search>
                    <small>Profile searching is case sensitive.</small>
                </form>
            </div>
        </div>
        <!-- end .row -->

    </div>
    <!-- end .container-fluid -->

</div>
<!-- end .fixed-top main-nav -->