<div class="main-nav">
  <md-toolbar>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px" fxFill>
      <a class="img-link" routerLink="">
        <img width="30" src="./img/stplogo_small.svg" fxHide.gt-sm>
        <img width="150" src="./img/stplogo.svg" fxHide.lt-md>
      </a>
      <ow-nav-list></ow-nav-list>
      <div fxLayout="column" fxFlex="40%" fxFlex.lt-md>
        <ow-search
          [searchInProgress]="searchInProgress"
          [placeholder]="searchPlaceholder"
          (onSearch)='onSearch$.next($event)'>
        </ow-search>
      </div>
      <div fxLayout="column" fxFlex fxFlex.lt-md="initial">
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <ow-user-actions></ow-user-actions>
        </div>
      </div>
    </div>
  </md-toolbar>
  <ow-main-search-results></ow-main-search-results>
</div>
