@import './account-overview/account-overview-theme';

@mixin ow-main-nav-toolbar-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-toolbar {
    background-color: mat-color($background, card);
  }

}

@mixin ow-main-nav-search-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $bg-color: mat-color($background, card);
  $border-color: mat-color($primary);
  $text-color: mat-color($foreground, text);

  .main-search-form {

    input[type="text"] {

      background-color: $bg-color;
      border: 1px solid rgba($border-color, 0.5);
      color: $text-color;

      &:focus {
        border-color: rgba($border-color, 1);
      }

    }

    .form-icon {
      border-right: 1px solid $border-color;
    }

    .mat-icon {
      color: $border-color;
    }

  }

}

@mixin ow-main-nav-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .main-nav {

    @include ow-main-nav-search-theme($theme);
    @include ow-main-nav-toolbar-theme($theme);
    @include ow-main-nav-account-overview-theme($theme);

  }

}
