:host /deep/ .main-nav {

<<<<<<< 93ee6c656f3c102a18e63492f2f855c89097f279
  .main-search-form {
=======
  .form-group {
>>>>>>> feat: global-sidebar / main-nav / search results / login & register page

    .form-icon {
      padding: 0 14px !important;
    }

    input[type="text"] {
      border-radius: 3px;
      padding-left: 66px !important;
      height: 48px;
    }

  }

}
