@import "../../../style/colors";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";

.main-nav {
  z-index: 10;
  background-color: $white;
}

.main-nav .nav-link {
  font-size: 0.85rem;
}

.search-form-container {
  border-bottom: 1px solid $gray-lightest;
}