<div class="main-nav" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px" fxFill>
  <div fxLayout="column" fxHide.gt-sm>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item *ngFor="let link of navLinks">
        <mat-icon>{{link.iconName}}</mat-icon>
        <span>{{link.name}}</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxFlex>
    <div fxLayout="row">
      <ow-search
        fxFlex="40%"
        fxFlex.lt-md
        [searchInProgress]="searchInProgress"
        [placeholder]="searchPlaceholder"
        (onSearch)='onSearch$.next($event)'>
      </ow-search>
    </div>
  </div>
  <div fxLayout="column" *ngIf="!userLoggedIn; else accountOverview;">
    <mat-menu #userActionsMenu="matMenu">
      <button mat-menu-item routerLink="/register">
        <mat-icon>link</mat-icon>
        <span>Sign Up via Battle.net</span>
      </button>
      <button mat-menu-item routerLink="/login">
        <mat-icon>account_box</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="userActionsMenu" fxHide.gt-sm>
      <mat-icon>account_box</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" fxHide.lt-md>
      <button class="battle-net" mat-button routerLink="/register">
        <mat-icon>link</mat-icon>
        <span>Sign Up via Battle.net</span>
      </button>
      <button mat-button routerLink="/login">
        <mat-icon>account_box</mat-icon>
        <span>Login</span>
      </button>
    </div>
  </div>
  <ng-template #accountOverview>
    <ow-account-overview></ow-account-overview>
  </ng-template>
</div>
<ow-main-search-results></ow-main-search-results>
