@import "../../../style/colors";

.form-group {

  position: relative;

  .form-control {
    padding-left: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    min-width: 4rem;
  }

  .hidden {
    display: none !important;
  }
  
}
