<div [formGroup]="form" class="form-group mx-0 my-0">
  <div class="form-icon d-flex align-items-center justify-content-center">
    <!-- feedback animation -->
    <div class="hidden" id="search-animation">
      <i class="material-icons">stop</i>
      <i class="material-icons">stop</i>
      <i class="material-icons">stop</i>
    </div>
    <!-- standard search icon -->
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <input
    type="text"
    id="user-search-form"
    class="form-control"
    formControlName="{{ controlName }}"
    placeholder="{{ placeholder }}"
    (keyup.enter)='onKeyUp()'>
</div>
