<div [formGroup]="form" class="form-group mx-0 my-0">
  <div class="form-icon d-flex align-items-center justify-content-center">
    <i class="fa fa-search" aria-hidden="true" *ngIf="!searchInProgress"></i>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true" *ngIf="searchInProgress"></i>
  </div>
  <input
    type="text"
    id="user-search-form"
    class="form-control"
    formControlName="{{ controlName }}"
    placeholder="{{ placeholder }}"
    (keyup.enter)='onKeyUp()'>
</div>
