<section class="row mb-3">
  <div class="col-12 ngb-tabset">
    <ngb-tabset #t="ngbTabset">
      <ngb-tab id="tab-overview">
        <ng-template ngbTabTitle>Overview</ng-template>
        <ng-template ngbTabContent>
          <div class="container-fluid pt-3">
            <ow-hero-career></ow-hero-career>
            <!-- end ow-hero-career -->
          </div>
          <!-- end .container-fluid -->
        </ng-template>
      </ngb-tab>
      <!-- end ngb-tab -->
    </ngb-tabset>
    <!-- end ngb-tabset -->
  </div>
  <!-- end .col -->
</section>
<!-- end section -->
