// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Colors are available at https://material.io/guidelines/style/color.html#color-color-palette
$app-theme-dark-primary: mat-palette($mat-grey, 900, 500, 900);
$app-theme-dark-accent: mat-palette($mat-green, A200);
// The warn palette is optional (defaults to red).
$app-theme-dark-warn: mat-palette($mat-red, A200);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme-dark: mat-dark-theme(
  $app-theme-dark-primary,
  $app-theme-dark-accent,
  $app-theme-dark-warn
);
