<div class="friend-requests pt-2" fxLayout="column" fxLayoutGap="14px" fxFlex *ngIf="friendRequests | async as requests; else noFriendRequests;">
  <div class="scroll-content px-2 pb-2" fxLayout="column" fxFlex [perfect-scrollbar]>
    <md-list>
      <md-list-item *ngFor="let friendship of requests">

        <div fxLayout="column" fxLayoutGap="8px" fxFlex *ngIf="friendship.primaryGamerTag; else noStatsBlock">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <a draggable="false" (click)="gotoProfile$.next(friendship.primaryGamerTag)">
              <img class="md-image md-image-36" draggable="false" [src]="friendship.primaryGamerTag?.portraitUrl">
            </a>
            <div fxLayout="column">
              <span class="mat-caption"><strong>{{ friendship.friend.displayName }}</strong></span>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px" *ngIf="friendship.primaryGamerTag?.snapshotStatistics.length;">
                <img width="18" [src]="friendship.primaryGamerTag.snapshotStatistics[0].profileSnapshotStatistic.profileStatistic.competitiveRankUrl">
                <span>{{ friendship.primaryGamerTag.snapshotStatistics[0].profileSnapshotStatistic.profileStatistic.competitiveLevel }}</span>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noStatsBlock>
          <div fxLayout="column" fxLayoutGap="8px" fxFlex>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <img class="md-image md-image-36" draggable="false" src="./img/unknown_hero.jpg">
              <span class="mat-caption text-uppercase"><strong>{{friendship.friend.displayName}}</strong></span>
            </div>
          </div>
        </ng-template>

        <div fxLayout="column" fxLayoutAlign="center end">
          <div fxLayout="row" fxLayoutGap="8px">
            <button md-icon-button mdTooltip="Ignore" (click)="ignore(friendship.friend.id, friendship.id)">
              <md-icon>close</md-icon>
            </button>
            <button md-icon-button mdTooltip="Accept" (click)="accept(friendship.friend.id, friendship.id)">
              <md-icon>check</md-icon>
            </button>
          </div>
        </div>

      </md-list-item>
    </md-list>
  </div>
</div>

<ng-template #noFriendRequests>
  <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
    <p class="text-heading mat-display-2 mb-2">Did you try turning it on and off?</p>
    <p>There's nothing to see here.</p>
  </div>
</ng-template>
