@mixin ow-sidebar-friend-requests-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .friend-requests {

    .mat-list {
      .mat-list-item {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
      }
    }

  }

}
