<div class="login" fxLayout="column" fxFlex>

  <div class="container" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex.gt-sm="initial" fxFlex.sm="25%" fxHide.xs>
      <img class="hero-portrait" ngClass.lt-md="offset" src="/img/hero_renders/mei.png" draggable="false">
    </div>
    <div fxLayout="column" fxFlex.gt-sm="1 1 510px" fxFlex.sm="75%" fxFlex.xs>
      <p class="mat-display-1">Why, hello there ;)</p>
      <form class="login-form" fxLayout="column" fxLayoutGap="30px" [formGroup]="loginForm" (ngSubmit)="loginForm$.next(loginForm.value)">
        <mat-form-field fxFlexFill>
          <input matInput type="email" placeholder="E-mail" formControlName="email">
          <mat-error *ngIf="loginForm.controls.email.hasError('pattern')">
            Please enter a valid email address.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.controls.password.hasError('pattern')">
            Please enter a valid password.
          </mat-error>
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button class="ow-primary" type="submit" mat-button [disabled]="!loginForm.valid">Login</button>
        <p class="mat-caption">Don’t you have an account? <a routerLink="/register">Sign Up Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
      </form>
    </div>
  </div>

</div>
