@import "../../../style/colors";

.sidebar {
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid $gray-lighter;
  color: $gray-light;
  background-color: white;

  :hover {
    color: white;
    background-color: $brand-primary;
  }

  .active {
    color: white;
    background-color: $brand-primary;
  }
}

.sidebar-toggle {
  border-right: 1px solid $gray-lighter;
  color: $gray-light;
  background-color: white;

  :hover {
    color: white;
    background-color: $brand-primary;
  }

  .active {
    color: white;
    background-color: $brand-primary;
  }
}
