<ul class="nav flex-column sidebar mt-1">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" (click)="_toggleSidebar()"><i class="material-icons">dehaze</i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" [routerLink]="['home']"><i class="material-icons">home</i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" [routerLink]="['following']"><i class="material-icons">favorite</i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" [routerLink]="['leaderboard']"><i class="material-icons">filter_list</i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" [routerLink]="['heroes']"><i class="material-icons">healing</i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" [routerLink]="['esports']"><i class="material-icons">games</i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" [routerLink]="['live']"><i class="material-icons">tv</i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" [routerLink]="['news']"><i class="material-icons">line_style</i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pt-3" [routerLink]="['friends']"><i class="material-icons">group</i></a>
  </li>
</ul>

<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" [mode]="'push'" [position]="'left'" [showBackdrop]="true" [closeOnClickOutside]="true">
    <ul class="nav flex-column sidebar-toggle mt-1">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3 float-right" (click)="_toggleSidebar()"><i class="material-icons">dehaze</i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3" (click)="_toggleSidebar()" [routerLink]="['home']">
          <i class="material-icons">home</i> <span class="align-top">Home</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3" (click)="_toggleSidebar()" [routerLink]="['following']">
          <i class="material-icons">favorite</i> <span class="align-top">Following</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3" (click)="_toggleSidebar()" [routerLink]="['leaderboard']">
          <i class="material-icons">filter_list</i> <span class="align-top">Leaderboard</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3" (click)="_toggleSidebar()" [routerLink]="['heroes']">
          <i class="material-icons">healing</i> <span class="align-top">Heroes</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3" (click)="_toggleSidebar()" [routerLink]="['esports']">
          <i class="material-icons">games</i> <span class="align-top">E-Sports</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3" (click)="_toggleSidebar()" [routerLink]="['live']">
          <i class="material-icons">tv</i> <span class="align-top">Live</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3" (click)="_toggleSidebar()" [routerLink]="['news']">
          <i class="material-icons">line_style</i> <span class="align-top">News</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link pt-3" (click)="_toggleSidebar()" [routerLink]="['friends']">
          <i class="material-icons">group</i> <span class="align-top">Friends</span>
        </a>
      </li>
    </ul>
  </ng-sidebar>

  <!-- Page content -->
  <button (click)="_toggleSidebar()">Toggle sidebar</button>

</ng-sidebar-container>
