<div class="leaderboard container-fluid">

  <div class="container">
    <div class="row content py-3">

      <div class="col-12 skill-rating-distribution">

        <div class="row">

          <div class="col-12">
            <p class="font-weight-bold mb-1">Skill Rating Distribution</p>
            <p class="small text-uppercase">Showing players in All Regions</p>
          </div>
          <!-- end .col -->

        </div>
        <!-- end .row -->

        <div class="row">

          <div class="col-12">

            <ngx-datatable class="material" 
              [rows] = "rows"
              [columns] = "columns" 
              #leaderboardtable>
            </ngx-datatable>
            <!-- end ngx-datatable -->

          </div>
          <!-- end .col -->

        </div>
        <!-- end .row -->

      </div>
      <!-- end .col -->

    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->

</div>
<!-- end .leaderboard -->
