<div class="leaderboard"
     fxLayout="column"
     fxLayoutGap="30px"
     fxFlex
     infiniteScroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="250"
     (scrolled)="onScrollDown()">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
    <div class="pt-3 px-3" fxLayout="column" fxFlex.lg="20%" fxFlex.md>
      <mat-select placeholder="Platform" [(ngModel)]="selectedPlatform">
         <mat-option *ngFor="let platform of platforms" [value]="platform.value">{{ platform.name }}</mat-option>
      </mat-select>
    </div>
    <div class="pt-3 px-3" fxLayout="column" fxFlex.lg="20%" fxFlex.md>
      <mat-select placeholder="Region" [(ngModel)]="selectedRegion">
         <mat-option *ngFor="let region of regions" [value]="region.value">{{ region.name }}</mat-option>
      </mat-select>
    </div>
    <div class="pt-3 px-3" fxLayout="column" fxFlex.lg="20%" fxFlex.md>
      <mat-select placeholder="Game Mode" [(ngModel)]="selectedGameMode">
         <mat-option *ngFor="let gameMode of gameModes" [value]="gameMode.value">{{ gameMode.name }}</mat-option>
      </mat-select>
    </div>
  </div>

  <ow-leaderboard-chart></ow-leaderboard-chart>

  <ow-leaderboard-table [platform]="selectedPlatform" [region]="selectedRegion" [gamemode]="selectedGameMode"></ow-leaderboard-table>

  <button mat-button>
    <mat-icon>more_horiz</mat-icon>
    <span class="mat-caption">Load more entries</span>
  </button>

</div>
