<div class="leaderboard flex-layout px-3"
     fxLayout="column"
     fxLayoutGap="14px"
     fxFlex
     infiniteScroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="250"
     (scrolled)="onScrollDown()">
  <div class="flex-layout" fxLayout="row" fxFlex="noshrink">
    <ow-leaderboard-header class="flex-layout" fxLayout="column" fxFlex></ow-leaderboard-header>
  </div>
  <div class="flex-layout px-3" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
    <ow-leaderboard-chart class="flex-layout" fxLayout="column" fxFlex></ow-leaderboard-chart>
  </div>
  <div class="flex-layout px-3" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
    <ow-leaderboard-table class="flex-layout" fxLayout="column" fxFlex></ow-leaderboard-table>
  </div>
</div>
