:host /deep/ .leaderboard {
  .main-search-form {
    .form-icon {
      padding: 0 14px;
    }
    input[type="text"] {
      padding: 14px 48px;
    }
  }
  .chart {
    canvas {
      height: 150px !important;
      max-height: 150px !important;
    }
  }
}
