<section class="row sidebar">
  <div class="col-12 mb-3">
    <span class="text-uppercase font-weight-bold">Lifetime Statistics</span>
  </div>
  <!-- end .col -->
  <div class="col-12">
    <table class="table" class="mb-2">
      <thead class="thread-default">
      <tr>
        <th class="text-uppercase">Combat</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Kills</td>
        <td class="text-right text-truncate">{{ combatLifetimeStats.finalBlows || '-' }}</td>
      </tr>
      <tr>
        <td>Assists</td>
        <td class="text-right text-truncate">{{ assists || '-' }}</td>
      </tr>
      <tr>
        <td>Deaths</td>
        <td class="text-right text-truncate">{{ combatLifetimeStats.deaths || '-' }}</td>
      </tr>
      <tr>
        <td>K/D Ratio</td>
        <td class="text-right text-truncate">{{ kdRatio | number : '1.2-2' || '-' }}:1</td>
      </tr>
      <tr>
        <td>Melee Kills</td>
        <td class="text-right text-truncate">{{ combatLifetimeStats.meleeKills || '-' }}</td>
      </tr>
      <tr>
        <td>Multi Kills</td>
        <td class="text-right text-truncate">{{ combatLifetimeStats.multikills || '-' }}</td>
      </tr>
      <tr>
        <td>Damage Dealt</td>
        <td class="text-right text-truncate">{{ combatLifetimeStats.damageDone || '-' }}</td>
      </tr>
      <tr>
        <td>Damage Blocked</td>
        <td class="text-right text-truncate">{{ combatLifetimeStats.damageBlocked || '-' }}</td>
      </tr>
      <tr>
        <td>Healing Done</td>
        <td class="text-right text-truncate">{{ combatLifetimeStats.healingDone || '-' }}</td>
      </tr>
      <tr>
        <td>Accuracy</td>
        <td class="text-right text-truncate">{{ combatLifetimeStats.weaponAccuracyPercentage || '-' }}</td>
      </tr>
      </tbody>
    </table>
    <table class="table">
      <thead class="thead-default">
      <tr>
        <th class="text-uppercase">Game</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Games Played</td>
        <td class="text-right">{{ allHeroSnapshotStats.gameHistoryStatistic.gamesPlayed || '-' }}</td>
      </tr>
      <tr>
        <td>Games Won</td>
        <td class="text-right">{{ allHeroSnapshotStats.gameHistoryStatistic.gamesWon || '-' }}</td>
      </tr>
      <tr>
        <td>Total Time Played</td>
        <td class="text-right">
          {{ allHeroSnapshotStats.gameHistoryStatistic.timePlayed / 60 | number : '1.0-1' || '-' }} minutes</td>
      </tr>
      <tr>
        <td>Time Spent on Fire</td>
        <td class="text-right">
          {{ allHeroSnapshotStats.gameHistoryStatistic.timeSpentOnFire / 60 | number : '1.0-1' || '-' }} minutes</td>
      </tr>
      <tr>
        <td>Objective Time</td>
        <td class="text-right">{{ combatLifetimeStats.objectiveTime / 60 | number : '1.0-1' || '-' }} minutes</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- end .col -->
</section>
<!-- end section -->
