<section class="row sidebar">
  <div class="col-12 mb-3">
    <span class="text-uppercase font-weight-bold">Lifetime Statistics</span>
  </div>
  <!-- end .col -->
  <div class="col-12">
    <table class="table" class="mb-2">
      <thead class="thread-default">
      <tr>
        <th class="text-uppercase">Combat</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Kills</td>
        <td class="text-right">238</td>
      </tr>
      <tr>
        <td>Assists</td>
        <td class="text-right">114</td>
      </tr>
      <tr>
        <td>Deaths</td>
        <td class="text-right">{{ allHeroSnapshotStats.combatLifetimeStatistic.deaths }}</td>
      </tr>
      <tr>
        <td>K/D Ratio</td>
        <td class="text-right">2.63:1 (886/223)</td>
      </tr>
      <tr>
        <td>Melee Kills</td>
        <td class="text-right">{{ allHeroSnapshotStats.combatLifetimeStatistic.meleeKills }}</td>
      </tr>
      <tr>
        <td>Multi Kills</td>
        <td class="text-right">{{ allHeroSnapshotStats.combatLifetimeStatistic.multikills }}</td>
      </tr>
      <tr>
        <td>Damage Dealt</td>
        <td class="text-right">{{ allHeroSnapshotStats.combatLifetimeStatistic.damageDone }}</td>
      </tr>
      <tr>
        <td>Damage Blocked</td>
        <td class="text-right">{{ allHeroSnapshotStats.combatLifetimeStatistic.damageBlocked }}</td>
      </tr>
      <tr>
        <td>Healing Done</td>
        <td class="text-right">{{ allHeroSnapshotStats.combatLifetimeStatistic.healingDone }}</td>
      </tr>
      <tr>
        <td>Accuracy</td>
        <td class="text-right">24</td>
      </tr>
      </tbody>
    </table>
    <table class="table">
      <thead class="thead-default">
      <tr>
        <th class="text-uppercase">Game</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Games Played</td>
        <td class="text-right">238</td>
      </tr>
      <tr>
        <td>Games Won</td>
        <td class="text-right">114</td>
      </tr>
      <tr>
        <td>Total Time Played</td>
        <td class="text-right">29 Hrs</td>
      </tr>
      <tr>
        <td>Time Spent on Fire</td>
        <td class="text-right">7 Mins</td>
      </tr>
      <tr>
        <td>Objective Time</td>
        <td class="text-right">7 Mins</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- end .col -->
</section>
<!-- end section -->
