<section class="row sidebar">
  <div class="col-12 mb-3">
    <span class="text-uppercase font-weight-bold">Lifetime Statistics</span>
  </div>
  <!-- end .col -->
  <div class="col-12">
    <table class="table" class="mb-2" *ngFor="let table of tables">
      <thead class="thread-default">
      <tr>
        <th class="text-uppercase">{{ table.title }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{ data.title }}</td>
        <td class="text-right text-truncate">{{ data.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- end .col -->
</section>
<!-- end section -->
