<md-card class="skill-rating-trend">
  <div class="flex-layout" fxLayout="row">
    <div class="flex-layout" fxLayout="column" fxFlex="grow">
      <span class="mat-caption text-uppercase">Skill Rating Trend</span>
    </div>
  </div>
  <div class="flex-layout" fxLayout="row">
    <div class="flex-layout" fxLayout="column" fxFlex="grow">
      <ow-chart [chartType]="chart.chartType"
        [labels] = "chart.xAxisLabels"
        [datasets]="chart.datasets"
        [legend]="chart.legend">
      </ow-chart>
    </div>
  </div>
</md-card>
