<nav class="navbar navbar-light fixed-top nav-offset">
  <div class="row">
    <div class="col-sm-7 offset-sm-2">
      <form class="input-group my-2">
        <img src="/img/stplogo.svg" class="logo mx-3"/>
        <input class="form-control mr-sm-2" type="text"
               placeholder="Search for player by battle tag, psn or xbox live">
        <span class="input-group-btn">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </span>
      </form>
    </div>

    <div class="col offset-sm-1">
      <button class="btn btn-outline-success my-2" type="submit">Sign up</button>
      <button class="btn btn-success my-2" type="submit">Login</button>
    </div>
  </div>
</nav>
