<nav class="navbar navbar-light fixed-top">
  <div class="row">
    <div class="col-sm-7 offset-sm-2 p-0">
      <div class="input-group">
        <img src="/img/stplogo.svg" class="logo mr-2"/>
        <input class="form-control" type="text"
               placeholder="Search for player by battle tag, psn or xbox live">
      </div>
    </div>

    <div class="col offset-sm-2 my-2 input-group p-0 login">
      <button class="btn btn-outline-primary btn-sm" type="submit">Sign up</button>
      <button class="btn btn-primary btn-sm" type="submit">Login</button>
    </div>
  </div>
</nav>
