<form [formGroup]='postForm' (ngSubmit)="onSubmit(postForm.value)">
  <div fxLayout="column" fxLayoutGap="36px">
    <div fxLayout="row" fxFlex="noshrink">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlex="noshrink">
      <label>Blog Categories</label>
      <!-- <mat-error *ngIf="postCategories"> -->
      <!-- </mat-error> -->
      <tag-input formControlName='blogCategories'>
        <tag-input-dropdown [autocompleteItems]="blogCategories">
        </tag-input-dropdown>
       </tag-input>
    </div>

    <div fxLayout="row" fxFlex="noshrink">
      <mat-form-field>
        <input matInput type="url" placeholder="Thumbnail URL" formControlName="thumbnailUrl">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlex="noshrink">
      <mat-form-field>
        <input matInput type="url" placeholder="Hero Image URL" formControlName="heroImageUrl">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlex="noshrink">
      <mat-form-field>
        <textarea matInput placeholder="Summary" height='300px' width='500px' formControlName="summary"></textarea>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlex="noshrink">
      <label>Content</label>
      <mat-error
        *ngIf="postForm.get('content').invalid && postForm.get('content').touched">
        This field is required
      </mat-error>
      <quill-editor formControlName="content"></quill-editor>
    </div>

    <div fxLayout="row" fxFlex="noshrink">
      <button
        mat-raised-button
        [disabled]="postForm.invalid"
        color="primary">
        Submit
      </button>
    </div>
  </div>
</form>
