<div class="row my-3 relative post">

  <div class="col-2 offset-lg-2 fixed pos-left pos-top full-height py-3 sidebar" #postsidebar>

    <div class="row">

      <div class="col-12">
        <a href="#" class="d-flex btn btn-outline-primary align-items-center text-uppercase base-line-height"><i class="material-icons match-font-size mr-1">chevron_left</i>Back</a>
      </div>
      <!-- end .col -->

    </div>
    <!-- end .section -->

    <section class="row flex-column mt-3">

      <div class="col-12 full-height">

        <div class="post-card relative full-height">
          <div class="post-card-image">
            <img src="img/cardplaceholder.png" alt="">
          </div>
          <!-- end .post-card-image -->
          <div class="post-card-header full-width absolute pos-left pos-top px-3 py-3">
            <small class="text-uppercase font-weight-bold">Now Reading</small>
          </div>
          <!-- end .post-card-header -->
          <div class="post-card-block absolute pos-bot pos-left">
            <div class="px-3 py-3">
              <p class="post-title text-uppercase font-weight-bold large">Lorem ipsum dolor sit amet</p>
              <p class="post-summary mb-0">Fusce a faucibus magna. Ut sed sollicitudin metus. Fusce sit amet hendrerit ex.</p>
            </div>
          </div>
          <!-- end .post-card-block -->
        </div>
        <!-- end .post-card -->

      </div>
      <!-- end .col -->

    </section>
    <!-- end section -->

    <section class="row flex-column">

      <div class="col-12 full-height">

        <a href="#">
          <div class="post-category-card relative">
            <div class="absolute pos-bot pos-left full-width px-2 py-2">
              <p class="h1 post-title mb-0 text-uppercase font-weight-bold base-line-height">Meta Snapshots</p>
            </div>
            <img src="img/cardplaceholder7.png" alt="" class="full-width">
          </div>
        </a>
        <!-- end .post-category-card -->

      </div>
      <!-- end .col -->

    </section>
    <!-- end section -->

    <section class="row flex-column">

      <div class="col-12 full-height">

        <a href="#">
          <div class="post-category-card relative">
            <div class="absolute pos-bot pos-left full-width px-2 py-2">
              <p class="h1 post-title mb-0 text-uppercase font-weight-bold base-line-height">Meta Snapshots</p>
            </div>
            <img src="img/cardplaceholder7.png" alt="" class="full-width">
          </div>
        </a>
        <!-- end .post-category-card -->

      </div>
      <!-- end .col -->

    </section>
    <!-- end section -->

  </div>
  <!-- end sidebar -->

</div>
<!-- end .row -->
