<div class="container-fluid post">

  <div class="row relative content">

    <div class="sidebar col-2 offset-lg-2 fixed pos-left pos-top full-height py-3 flex-column" #postsidebar>

      <div class="row">

        <div class="col-12">
          <a href="#" class="d-flex btn btn-primary align-items-center text-uppercase base-line-height"><i class="material-icons match-font-size mr-1">chevron_left</i>Back</a>
        </div>
        <!-- end .col -->

      </div>
      <!-- end .row -->

      <section class="row mt-3">

        <div class="col-12">

          <div class="post-card full-height relative">

            <div class="post-card-image">
              <img src="img/cardplaceholder4.png" alt="">
            </div>
            <!-- end .post-card-image -->

            <div class="post-card-header full-width absolute pos-left pos-top px-3 py-3">
              <small class="text-uppercase font-weight-bold">Now Reading</small>
            </div>
            <!-- end .post-card-header -->

            <div class="post-card-block absolute pos-bot pos-left">
              <div class="px-3 py-3">
                <p class="post-title text-uppercase font-weight-bold large">Lorem ipsum dolor sit amet</p>
                <p class="post-summary mb-0">Fusce a faucibus magna. Ut sed sollicitudin metus. Fusce sit amet hendrerit ex.</p>
              </div>
            </div>
            <!-- end .post-card-block -->

          </div>
          <!-- end .col -->

        </div>
        <!-- end .col -->

      </section>
      <!-- end section -->

      <div class="row">

        <div class="col-12">

          <div class="post-card category full-height relative">

            <div class="post-card-image">
              <img src="img/cardplaceholder7.png" alt="">
            </div>
            <!-- end .post-card-image -->

            <div class="post-card-block absolute pos-bot pos-left">
              <div class="px-3 py-3">
                <p class="post-title text-uppercase font-weight-bold large">Meta Snapshots</p>
              </div>
            </div>
            <!-- end .post-card-block -->

          </div>
          <!-- end .col -->

        </div>
        <!-- end .row -->

      </div>
      <!-- end .row -->

      <section class="row mt-3">

        <div class="col-12">
          <button class="d-flex full-height full-width align-items-center justify-content-center btn btn-outline-primary"><i class="material-icons">keyboard_arrow_up</i></button>
        </div>
        <!-- end .col -->

        <div class="col-12 mt-3 mb-2">

          <ul class="list-group">
            <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
            <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
            <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
          </ul>

        </div>
        <!-- end .col -->

        <div class="col-12">
          <button class="d-flex full-height full-width align-items-center justify-content-center btn btn-outline-primary"><i class="material-icons">keyboard_arrow_down</i></button>
        </div>
        <!-- end .col -->

      </section>
      <!-- end .row -->

    </div>
    <!-- end .sidebar -->

    <div class="col-xl-9 offset-lg-3 py-3">

      <div class="row mb-3">
        <div class="col-12">
          <img src="img/post-banner.png" alt="" class="full-width">
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->

      <div class="row mb-3 align-items-center">
        <div class="col-12">
          <span class="skill-rating small text-uppercase px-2 py-1 mr-2 rounded">Meta Snapshot</span>
          <span class="small text-uppercase">20 Feb 2017</span>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->

      <div class="row mb-3 align-items-center">
        <div class="col-12">
          <p class="post-content-title font-weight-bold text-uppercase mb-1">Meta Snapshot #37</p>
        </div>
        <!-- end .col -->
        <div class="col-12">
          <a href="#" class="d-inline-flex align-items-center btn btn-outline-primary text-uppercase"><i class="material-icons match-font-size mr-1">share</i>Share</a>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->

      <div class="row mt-3">

        <div class="col-12 post-body">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies finibus tempor. Phasellus neque velit, tincidunt
            eget nisi in, cursus consequat orci. Pellentesque bibendum, nulla ac elementum lacinia, purus mi sagittis lacus,
            sit amet sollicitudin ante enim eu purus. Aliquam erat volutpat. Nulla hendrerit est sed ante luctus, in maximus
            ligula ultrices. Cras et ligula ac metus rhoncus luctus. In tristique finibus urna eget dictum. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ultrices sapien
            sem, at posuere nisi sagittis a. Aenean facilisis massa sit amet quam lacinia ultricies. Nam luctus dui et aliquam
            consequat. Quisque magna neque, sollicitudin ut libero vel, vehicula auctor lorem. In mi dui, venenatis ut urna
            et, malesuada volutpat sapien. Duis malesuada ante a leo rhoncus, rhoncus tempus massa ullamcorper.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies finibus tempor. Phasellus neque velit, tincidunt
            eget nisi in, cursus consequat orci. Pellentesque bibendum, nulla ac elementum lacinia, purus mi sagittis lacus,
            sit amet sollicitudin ante enim eu purus. Aliquam erat volutpat. Nulla hendrerit est sed ante luctus, in maximus
            ligula ultrices. Cras et ligula ac metus rhoncus luctus. In tristique finibus urna eget dictum. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ultrices sapien
            sem, at posuere nisi sagittis a. Aenean facilisis massa sit amet quam lacinia ultricies. Nam luctus dui et aliquam
            consequat. Quisque magna neque, sollicitudin ut libero vel, vehicula auctor lorem. In mi dui, venenatis ut urna
            et, malesuada volutpat sapien. Duis malesuada ante a leo rhoncus, rhoncus tempus massa ullamcorper.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies finibus tempor. Phasellus neque velit, tincidunt
            eget nisi in, cursus consequat orci. Pellentesque bibendum, nulla ac elementum lacinia, purus mi sagittis lacus,
            sit amet sollicitudin ante enim eu purus. Aliquam erat volutpat. Nulla hendrerit est sed ante luctus, in maximus
            ligula ultrices. Cras et ligula ac metus rhoncus luctus. In tristique finibus urna eget dictum. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ultrices sapien
            sem, at posuere nisi sagittis a. Aenean facilisis massa sit amet quam lacinia ultricies. Nam luctus dui et aliquam
            consequat. Quisque magna neque, sollicitudin ut libero vel, vehicula auctor lorem. In mi dui, venenatis ut urna
            et, malesuada volutpat sapien. Duis malesuada ante a leo rhoncus, rhoncus tempus massa ullamcorper.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies finibus tempor. Phasellus neque velit, tincidunt
            eget nisi in, cursus consequat orci. Pellentesque bibendum, nulla ac elementum lacinia, purus mi sagittis lacus,
            sit amet sollicitudin ante enim eu purus. Aliquam erat volutpat. Nulla hendrerit est sed ante luctus, in maximus
            ligula ultrices. Cras et ligula ac metus rhoncus luctus. In tristique finibus urna eget dictum. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ultrices sapien
            sem, at posuere nisi sagittis a. Aenean facilisis massa sit amet quam lacinia ultricies. Nam luctus dui et aliquam
            consequat. Quisque magna neque, sollicitudin ut libero vel, vehicula auctor lorem. In mi dui, venenatis ut urna
            et, malesuada volutpat sapien. Duis malesuada ante a leo rhoncus, rhoncus tempus massa ullamcorper.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies finibus tempor. Phasellus neque velit, tincidunt
            eget nisi in, cursus consequat orci. Pellentesque bibendum, nulla ac elementum lacinia, purus mi sagittis lacus,
            sit amet sollicitudin ante enim eu purus. Aliquam erat volutpat. Nulla hendrerit est sed ante luctus, in maximus
            ligula ultrices. Cras et ligula ac metus rhoncus luctus. In tristique finibus urna eget dictum. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ultrices sapien
            sem, at posuere nisi sagittis a. Aenean facilisis massa sit amet quam lacinia ultricies. Nam luctus dui et aliquam
            consequat. Quisque magna neque, sollicitudin ut libero vel, vehicula auctor lorem. In mi dui, venenatis ut urna
            et, malesuada volutpat sapien. Duis malesuada ante a leo rhoncus, rhoncus tempus massa ullamcorper.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies finibus tempor. Phasellus neque velit, tincidunt
            eget nisi in, cursus consequat orci. Pellentesque bibendum, nulla ac elementum lacinia, purus mi sagittis lacus,
            sit amet sollicitudin ante enim eu purus. Aliquam erat volutpat. Nulla hendrerit est sed ante luctus, in maximus
            ligula ultrices. Cras et ligula ac metus rhoncus luctus. In tristique finibus urna eget dictum. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ultrices sapien
            sem, at posuere nisi sagittis a. Aenean facilisis massa sit amet quam lacinia ultricies. Nam luctus dui et aliquam
            consequat. Quisque magna neque, sollicitudin ut libero vel, vehicula auctor lorem. In mi dui, venenatis ut urna
            et, malesuada volutpat sapien. Duis malesuada ante a leo rhoncus, rhoncus tempus massa ullamcorper.</p>

        </div>
        <!-- end .col -->

      </div>
      <!-- end .row -->

    </div>
    <!-- end .col -->

  </div>
  <!-- end .row -->

</div>
<!-- end .post -->
