@import "../../../style/colors";

.post {

    min-height: 100%;

    .sidebar {
        background-color: $white;
    }

    .sidebar section {
        height: 100%;
        max-height: 25%;
    }

    .post-card.category .post-card-block {
        box-shadow: none !important;
    }

    .post-content-title {
        font-size: 4rem;
    }

    .post-body p {
        line-height: 1.5;
    }

}