<div class="row mb-3">
  <div class="col-12">
    <div class="content rounded px-3 pt-3">
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-12 col-md-12 mb-3">
          <div class="row align-items-center">
            <div class="col-auto pl-3 pr-0">
              <img src="img/imgplaceholder_square.png" alt="" class="avatar rounded">
            </div>
            <!-- end .col-auto -->
            <div class="col py-2">
              <div class="row mb-1">
                <div class="col-12">
                  <span class="small text-uppercase d-flex align-items-center font-weight-bold">
                      <img src="img/OffenseIcon.svg" alt="" class="role-icon-sm mr-2">offense
                    </span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h2 font-weight-bold mb-0 text-uppercase">Widowmaker</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
        </div>
        <!-- end .col -->
        <div class="col-xl-8 col-lg-12 col-md-12">
          <div class="row">
            <div class="col-xl-3 col-md-6 col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm col-12">
                  <span class="small">Win Rate</span>
                </div>
                <!-- end .col -->
                <div class="col-auto px-3">
                  <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h4 font-weight-bold">42.8%</span>
                </div>
                <!-- end .col -->
              </div>
            </div>
            <!-- end .col -->
            <div class="col-xl-3 col-md-6 col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm col-12">
                  <span class="small">Time Played</span>
                </div>
                <!-- end .col -->
                <div class="col-auto px-3">
                  <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_down</i>0.11% )</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h4 font-weight-bold">~7</span>
                  <span class="small mx-1">hrs</span>
                </div>
                <!-- end .col -->
              </div>
            </div>
            <!-- end .col -->
            <div class="col-xl-3 col-md-6 col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm col-12">
                  <span class="small text-u">On Fire</span>
                </div>
                <!-- end .col -->
                <div class="col-auto px-3">
                  <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h4 font-weight-bold">245</span>
                  <span class="small mx-1">min</span>
                </div>
                <!-- end .col -->
              </div>
            </div>
            <!-- end .col -->
            <div class="col-xl-3 col-md-6 col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm col-12">
                  <span class="small text-u">Medals</span>
                </div>
                <!-- end .col -->
                <div class="col-auto px-3">
                  <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="d-inline-block small px-2 py-1 mr-1 mb-1 rounded medal gold">1.69</span>
                  <span class="d-inline-block small px-2 py-1 mr-1 mb-1 rounded medal silver">1.69</span>
                  <span class="d-inline-block small px-2 py-1 mr-1 mb-1 rounded medal bronze">1.69</span>
                </div>
                <!-- end .col -->
              </div>
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
        </div>
        <!-- end .col -->
      </div>
      <!-- row -->
    </div>
    <!-- end .content -->
  </div>
  <!-- end .col -->
</div>
<!-- end .row -->
