<div class="account-overview" fxLayout="row" *ngIf="currentUser">

  <md-menu class="account-overview-menu" #appMenu="mdMenu"
           xPosition="before"
           yPosition="below"
           [overlapTrigger]="false">

      <md-nav-list fxFlex="280px">

          <ow-profile-list></ow-profile-list>

          <div md-list-item [ngStyle]="{ 'padding': '16px' }">
            <md-checkbox (click)="preventClose($event)">Share your progress, trends, and activity with your friends!</md-checkbox>
          </div>

          <a md-list-item [routerLink]="['account']">
            <div class="text-left" fxLayout="column" fxFlex="grow">
              <span>Account Settings</span>
            </div>
            <div fxLayout="column">
              <md-icon>settings</md-icon>
            </div>
          </a>

          <a md-list-item (click)="signOut()">
            <div class="text-left" fxLayout="column" fxFlex="grow">
              <span>Log Out</span>
            </div>
            <div fxLayout="column">
              <md-icon>exit_to_app</md-icon>
            </div>
          </a>

      </md-nav-list>

  </md-menu>

  <button class="btn-account min-width-0" md-button [mdMenuTriggerFor]="appMenu">

    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="8px"
         fxFlex.gt-sm="192px">

      <div fxLayout="column">
          <img class="md-image md-image-36" src="img/unknown_hero.jpg">
      </div>

      <div class="flex-layout" fxLayout="column" fxFlex="grow" fxHide.lt-md>
        <span class="mat-caption text-overflow">
          <strong>{{ currentUser.displayName }}</strong>
        </span>
      </div>

      <div fxLayout="column">
          <md-icon>more_vert</md-icon>
      </div>

    </div>

  </button>

</div>
