<div class="account-overview" fxLayout="column" *ngIf="currentUser$ | async as currentUser">

  <mat-menu yPosition="below" [overlapTrigger]="false" #appMenu="matMenu">
    <div class="pt-2" fxLayout="column" fxLayoutGap="14px" fxFlex="1 1 280px">
      <ow-profile-list [battleNetTag]="currentUser.battleNetTag"></ow-profile-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/account">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 1 100%">
            <span>Account Settings</span>
            <mat-icon>settings</mat-icon>
          </div>
        </a>
        <a mat-list-item (click)="signOut()">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 1 100%">
            <span>Log Out</span>
            <mat-icon>exit_to_app</mat-icon>
          </div>
        </a>
      </mat-nav-list>
    </div>
  </mat-menu>

  <button class="btn-user" mat-button [matMenuTriggerFor]="appMenu">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap.gt-sm="14px" fxFlex.gt-sm="1 1 224px" fxFlex.lt-md>
      <div fxLayout="column" *ngIf="currentUser.primaryGamerTag; else noPrimaryGamerTagBlock;">
        <img class="md-image md-image-36" [src]="currentUser.primaryGamerTag?.portraitUrl">
      </div>
      <ng-template #noPrimaryGamerTagBlock>
        <img class="md-image md-image-36" src="img/unknown_hero.jpg">
      </ng-template>
      <div fxLayout="column" fxFlex>
        <span class="mat-caption text-overflow" fxHide.lt-md><strong>{{currentUser.displayName}}</strong></span>
      </div>
      <mat-icon>more_vert</mat-icon>
    </div>
  </button>

</div>
