<div class="account-settings" fxLayout="column" fxFlex>

  <div fxLayout="row" fxLayoutGap="30px" fxLayoutWrap>

    <div class="pt-3" fxLayout="column" fxFlex="300px">
      <mat-accordion>
        <div fxLayout="column" fxLayoutGap="8px" fxFlex>
          <span class="mat-caption text-uppercase">Your Profile</span>
          <mat-divider></mat-divider>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <strong>Profile Settings</strong>
            </mat-expansion-panel-header>
            <div class="pt-3" fxLayout="column" fxFlex>
              <button class="text-left" mat-button>
                <span class="mat-caption text-uppercase">Account Settings</span>
              </button>
            </div>
          </mat-expansion-panel>
          <span class="mat-caption text-uppercase">Overwatch</span>
          <mat-divider></mat-divider>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <strong>Overwatch Experience</strong>
            </mat-expansion-panel-header>
            <div class="pt-3" fxLayout="column" fxFlex>
              <button class="text-left" mat-button>
                <span class="mat-caption text-uppercase">Gamer Tag</span>
              </button>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>

    <div class="pt-3" fxLayout="column">
      coming soon
    </div>

  </div>

</div>
