<div class="global-sidebar-left-friend-requests d-flex flex-1">
  <div class="d-flex flex-column flex-1 px-3">
    <div class="row flex-1">
      <div class="col-12 pt-3">

        <div class="d-flex flex-column flex-1 height-100">
          <div class="row flex-column flex-1">
            <div class="col-12 flex-1 py-3 vertical-scroll-flexbox">

              <div class="row align-items-center mb-3">

                <div class="col-auto pl-3">
                  <a href="#"><img src="img/imgplaceholder.png" class="material-image md-36 image-circle"></a>
                </div><!-- .col -->

                <div class="col player-info">

                  <div class="player-tag">
                    <span class="small text-uppercase mb-0">Cylloooooo#2112</span>
                  </div><!-- .player -->

                  <div class="d-flex align-items-center">
                    <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-3.png" class="d-inline-flex material-image md-18 mr-1">
                    <span class="d-inline-flex skill-rating small">2320</span>
                  </div><!-- .skill-rating -->

                </div><!-- .col -->

                <div class="col-auto pr-3">

                  <button md-button class="d-inline-flex min-width-0">
                    <i class="material-icons md-18">close</i>
                  </button>

                  <button md-button class="d-inline-flex min-width-0">
                    <i class="material-icons md-18">check</i>
                  </button>

                </div><!-- .col -->

              </div><!-- .row -->

            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .d-flex -->

      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .d-flex -->
</div><!-- .global-sidebar-left-friends-list -->
