<div class="global-sidebar-left-secondary-content">
  <ngb-tabset type="pills" [destroyOnHide]="false">
    <ngb-tab>
      <ng-template ngbTabTitle>
        <div class="d-inline-flex align-items-center">
          <span class="mx-1">Friends</span>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <ow-global-sidebar-left-friends-list></ow-global-sidebar-left-friends-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <div class="d-inline-flex align-items-center">
          <span class="mx-1">Requests</span>
          <i class="material-icons">notifications_none</i>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <ow-global-sidebar-left-friend-requests></ow-global-sidebar-left-friend-requests>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div><!-- .global-sidebar-left-secondary-content -->
