<div class="profile-page-tabs" *ngIf="snapshotStats">

  <section class="row">

    <div class="col-12 ngb-tabset mb-3">

      <ngb-tabset #t="ngbTabset">

        <ngb-tab id="tab-overview">

          <ng-template ngbTabTitle>Overview</ng-template>

          <ng-template ngbTabContent>

            <div class="container-fluid">

              <div class="row">

                <div class="col-12 pt-3">

                  <ow-career [snapshotStats]="snapshotStats"></ow-career>

                  <ow-most-played [snapshotStats]="snapshotStats"></ow-most-played>
                  <ow-hero-cards [snapshotStats]="snapshotStats"></ow-hero-cards>
                  <!-- end ow-hero-cards -->

                </div><!-- end .col -->

              </div><!-- end .row -->

            </div><!-- end .container-fluid -->

          </ng-template>

        </ngb-tab><!-- end ngb-tab -->

      </ngb-tabset><!-- end ngb-tabset -->

    </div><!-- end .col -->

  </section><!-- end section -->

</div><!-- end .profile-page-tabs -->