<section class="row mb-3">
  <div class="col-12 ngb-tabset">
    <ngb-tabset #t="ngbTabset">

      <ngb-tab id="tab-overview">
        <ng-template ngbTabTitle>Overview</ng-template>
        <ng-template ngbTabContent>
          <div class="container-fluid pt-3">
            <div class="row" *ngIf="snapshotStats">
              <div class="col-xl-9 col-md-12">
                <ow-career [snapshotStats]="snapshotStats"></ow-career>
                <!-- end section -->
                <ow-most-played [snapshotStats]="snapshotStats" [owHeroData]="heroData"></ow-most-played>
                <!-- end section -->
                <!--<ow-hero-cards [snapshotStats]="snapshotStats" [owHeroData]="heroData"></ow-hero-cards>-->
                <!-- end ow-hero-cards -->
              </div>
              <!-- end .col -->
              <div class="col-xl-3 col-md-12 sidebar pt-3">
                <ow-lifetime-stats [snapshotStats]="snapshotStats"></ow-lifetime-stats>
              </div>
              <!-- end .sidebar -->
            </div>
            <!-- end .row -->
          </div>
          <!-- end .container-fluid -->
        </ng-template>
      </ngb-tab>
      <!-- end ngb-tab -->

    </ngb-tabset>
    <!-- end ngb-tabset -->
  </div>
  <!-- end .col -->
</section>
<!-- end section -->
