@import "../../../../style/colors";

:host /deep/ .profile-page-tabs {

    .ngb-tabset {

        .nav-tabs {

            border-bottom: 1px solid $gray-lighter;

            .nav-link {
                font-size: 0.85rem;
                padding: 0.25rem 1.5rem 0.75rem 1.5rem;
            }

            .nav-link.active {
                border: 0;
                border-bottom: 1px solid $brand-primary;
                color: $brand-primary;
            }

        }

    }

}