<md-tab-group>
  <md-tab label="Overview">
    <div class="flex-layout pt-3" fxLayout="row" fxFlex="100%" fxLayoutWrap>
      <div class="flex-layout" fxLayout="column" fxFlex.lt-lg="100%" fxFlex.gt-md="40%">
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout px-3 pt-3" fxLayout="column" fxFlex="grow">
             <ow-career [snapshotStats]="snapshotStats"></ow-career> 
          </div>
        </div>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout px-3 pt-3" fxLayout="column" fxFlex="grow">
             <ow-most-played [snapshotStats]="snapshotStats"></ow-most-played> 
          </div>
        </div>
      </div>
      <div class="flex-layout" fxLayout="column" fxFlex.lt-lg="100%" fxFlex.gt-md="60%">
           <ow-hero-cards [snapshotStats]="snapshotStats"></ow-hero-cards>   
      </div>
    </div>
  </md-tab>
</md-tab-group>
