@import "../../../style/colors";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";

.btn-dropdown {
    background-color: $white;
    border: 1px solid $gray-lighter;
    color: $gray-light;
    box-shadow: none !important;
}

.btn-dropdown:hover {
    background-color: $white;
    border: 1px solid $brand-primary;
    color: $brand-primary !important;
}

.toggleable-content .primary {
    display: flex;
}
.toggleable-content .secondary {
    display: none;
}
.toggleable-content:hover .primary {
    display: none;
}
.toggleable-content:hover .secondary {
    display: flex;
}

.toggleable-content .fixed-line-height {
    line-height: 90%;
}