<div class="esports-schedule" #esportsschedule>
  <tabs (selected)="$event.selectedTab">
    <tab [tabTitle]="'All'">
      <div class="scheduled-content">
        <div class="user-actions">
          <a href="#" class="btn prev float-left"><i class="material-icons">chevron_left</i></a>
          <a href="#" class="btn next float-right"><i class="material-icons">chevron_right</i></a>
        </div>      
        <div class="row">
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
        </div>      
      </div>
    </tab>
    <tab [tabTitle]="'OGN Overwatch APEX'">
      <div class="scheduled-content">
        <div class="user-actions">
          <a href="#" class="btn prev float-left"><i class="material-icons">chevron_left</i></a>
          <a href="#" class="btn next float-right"><i class="material-icons">chevron_right</i></a>
        </div>      
        <div class="row">
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="event-title">OGN Overwatch APEX</p>
            <p class="event-date-time">SAT APR 5 2017, 9:20PM (PST)</p>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
            <div class="team-scorecard">
              <img src="img/stplogo.svg" class="team-logo" alt="">
              <span class="team-name">Energy Esports</span>
              <span class="team-score float-right">-</span>
            </div>
          </div><!-- end col -->
        </div>      
      </div>
    </tab>
  </tabs>
</div>