<div class="row my-2" #esportsschedule>

  <div class="col-12">

    <tabs (selected)="$event.selectedTab">
      
      <tab [tabTitle]="'All'">

        <ngb-carousel class="esports-schedule">

          <template ngbSlide>

            <div class="d-flex full-width">

              <div class="row full-width flex-nowrap">

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">OGN Overwatch APEX</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">OGN Overwatch APEX</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">OGN Overwatch APEX</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">OGN Overwatch APEX</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

              </div>
              <!-- end .row -->              

            </div>
            <!-- end .d-flex -->
            
          </template>
          <!-- end slide -->

          <template ngbSlide>

            <div class="d-flex full-width">

              <div class="row full-width flex-nowrap">

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

              </div>
              <!-- end .row -->              

            </div>
            <!-- end .d-flex -->
            
          </template>
          <!-- end slide -->

        </ngb-carousel>
        <!-- end ngb-carousel -->
      
      </tab>
      <!-- end tab -->

      <tab [tabTitle]="'Overwatch Premier Series 2017'">

        <ngb-carousel class="esports-schedule">

          <template ngbSlide>

            <div class="d-flex full-width">

              <div class="row full-width flex-nowrap">

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

                <div class="col-2">

                  <div class="row align-items-center">

                    <div class="col-12">
                      <small class="text-uppercase font-weight-bold">Overwatch Premier Series 2017</small>
                    </div>
                    <!-- end .col -->

                    <div class="col-12">
                      <small class="text-uppercase">June 15, 2017 1:45 PM (PST)</small>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 

                  <div class="row my-1 align-items-center">

                    <div class="col-xl-10 col-md-8">
                      <img class="d-inline-flex full-width team-logo hidden-md-down" src="img/stplogo.svg" alt="">
                      <small class="d-inline-flex text-uppercase">Energy Esports</small>
                    </div>

                    <div class="col-xl-2 col-md-4 text-center">
                      <small class="d-inline-flex mr-auto text-uppercase">12</small>
                    </div>                        

                  </div>
                  <!-- end .row --> 
                  
                </div>
                <!-- end .col -->

              </div>
              <!-- end .row -->              

            </div>
            <!-- end .d-flex -->
            
          </template>
          <!-- end slide -->

        </ngb-carousel>
        <!-- end ngb-carousel -->
      
      </tab>
      <!-- end tab -->
    
    </tabs>
    <!-- end tabs -->

  </div>
  <!-- end .col -->

</div>
<!-- end .row -->
  
