@import "../../../style/colors";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";

:host /deep/ .esports-schedule {

    .team-logo {
        min-width: 1.5rem;
        max-width: 10%;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-inner {
        padding: 0 2.5rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: $brand-primary;
    }

    .carousel-control-prev {
        background-color: black;
        opacity: 1;
        max-width: 2rem;
    }

    .carousel-control-next {
        background-color: black;
        opacity: 1;
        max-width: 2rem;
    }

}
