.sidebar-club {

  .club-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input[type="text"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

:host /deep/ .sidebar-club {

  .td-expansion-panel {
    font-size: 12px;
  }

  .td-expansion-panel-header {
    flex-direction: column;
    flex: 0 1 auto;
    border-radius: 2px;
  }

  .td-expansion-panel-header,
  .td-expansion-content,
  .td-expansion-summary {
    min-width: 0;
    min-height: 0;
  }

  .td-expansion-content,
  .td-expansion-summary {
    padding: 0 8px;
  }

}
