<div class="heroes-table flex-layout px-3" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
  <div class="flex-layout" fxLayout="column" fxFlex>

    <div class="flex-layout" fxLayout="row" fxFlex="noshrink">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <ow-search [placeholder]="'Filter Heroes'"></ow-search>
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- position column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Rank</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
      </ng-container>

      <!-- hero column -->
      <ng-container matColumnDef="hero">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hero</mat-header-cell>
        <mat-cell *matCellDef="let row" fxLayoutAlign="start center">
          <ow-hero-portrait [hero]="row.hero"></ow-hero-portrait>
          <span class="ml-1"><strong>{{row.hero.name}}</strong></span>
        </mat-cell>
      </ng-container>

      <!-- pick rate column -->
      <ng-container matColumnDef="pickRate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Pick Rate</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span>{{row.pickRate.gamesPlayed/row.pickRate.totalHeroesGamesPlayed | number : '1.2-2'}}%</span>
        </mat-cell>
      </ng-container>

      <!-- win rate column -->
      <ng-container matColumnDef="winRate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Win Rate</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span>{{row.winRate.gamesWon / row.winRate.gamesPlayed  | number : '1.2-2'}}% ({{row.winRate.gamesWon}}-{{row.winRate.gamesLost}})</span>
        </mat-cell>
      </ng-container>

      <!-- on fire column -->
      <ng-container matColumnDef="timeOnFire">
        <mat-header-cell *matHeaderCellDef mat-sort-header>On Fire</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span>{{row.timeOnFire.timeOnFire}}</span>
        </mat-cell>
      </ng-container>

      <!-- kd ratio column -->
      <ng-container matColumnDef="kdRatio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>K/D Ratio</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span>{{row.kdRatio.finalBlows/row.kdRatio.deaths | number : '1.2-2'}}:1</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
