// Start with assigning color names to specific hex values.
$white:                     #ffffff         !default;
$black:                     #000000         !default;
$red:                       #ff2d2d         !default;
$yellow:                    #ffd428         !default;
$orange:                    #ff5831         !default;
$green:                     #2ecc71         !default;
$blue:                      #3498db         !default;
$purple:                    #9b59b6         !default;

// Create grayscale
$gray-dark:                 #262626         !default;
$gray:                      #4d4d4d         !default;
$gray-light:                #808080         !default;
$gray-lighter:              #e5e5e5         !default;
$gray-lightest:             #fafafa         !default;

// Color Shades **DO NOT DEFINE BASE COLORS HERE**
$purple-darker:             #373a4d         !default;
$purple-dark:               #3f4257         !default;
$purple-light:              #494c62         !default;
$purple-lighter:            #9a9fbf         !default;

$blue-light:                #ecf2f5         !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $orange         !default;
$brand-inverse:             $purple-dark    !default;
$brand-success:             $green          !default;
$brand-info:                $yellow         !default;
$brand-warning:             $orange         !default;
$brand-danger:              $red            !default;
