// Start with assigning color names to specific hex values.
$white:     #fff !default;
$black:     #000 !default;
$red:       #d9534f !default;
$torch-red: #ff1440 !default;
$orange:    #f0ad4e !default;
$yellow:    #ffd500 !default;
$green:     #5cb85c !default;
$blue:      #0275d8 !default;
$athensgray: #e9eaee !default;
$teal:      #5bc0de !default;
$pink:      #ff5b77 !default;
$purple:    #414457 !default;

// Create grayscale
$gray-dark:                 #262626 !default;
$gray:                      #4d4d4d !default;
$gray-light:                #808080 !default;
$gray-lighter:              #e5e5e5 !default;
$gray-lightest:             #fafafa !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $torch-red !default;
$brand-secondary:           $gray-dark !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

$headerbg:                  $white;
$navbarbg:                  $purple;
$navbar-text:               $white;

$bgcolor:                   $white;
$textcolor:                 $gray;
$placeholdercolor:          $gray-light;
$bordercolor:               $gray-lighter;