@mixin ow-app-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $input-hover-background-color: invert(mat-color($foreground, text, 0.2)) !default;
  $input-background-color: mat-color($background, dialog) !default;
  $input-border-color: mat-color($foreground, divider) !default;
  $input-text-color: mat-color($foreground, text) !default;

  background-color: mat-color($background, card);
  color: mat-color($foreground, text);

  a {
    color: mat-color($primary);
  }

  input[type="text"] {

    color: $input-text-color;
    font-size: inherit;
    background-color: $input-background-color;
    border: 1px solid $input-background-color;
    transition: all 0.25s ease-in-out;

    &:focus {
      background-color: $input-background-color;
    }

    &:hover {
      cursor: pointer;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      transition: opacity 0.1s ease-in-out;
      color: inherit;
    }

    &:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: 0;
      color: inherit;
    }

    &::-moz-placeholder { /* Chrome/Opera/Safari */
      transition: opacity 0.1s ease-in-out;
      color: inherit;
    }

    &:focus::-moz-placeholder { /* Firefox 19+ */
      opacity: 0;
      color: inherit;
    }

    &:-ms-input-placeholder { /* Chrome/Opera/Safari */
      transition: opacity 0.1s ease-in-out;
      color: inherit;
    }

    &:focus:-ms-input-placeholder { /* IE 10+ */
      opacity: 0;
      color: inherit;
    }

    &:-moz-placeholder { /* Chrome/Opera/Safari */
      transition: opacity 0.1s ease-in-out;
      color: inherit;
    }

    &:focus:-moz-placeholder { /* Firefox 18- */
      opacity: 0;
      color: inherit;
    }

  }

}
