@mixin ow-status-colors($theme) {

  .ow-success {
    color: mat-color($mat-green, 500);
  }

  .ow-warning {
    color: mat-color($mat-orange, 500);
  }

  .ow-danger {
    color: mat-color($mat-red, 500);
  }

}

@mixin ow-medals-theme($theme) {

  $gold: mat-color($mat-amber, 400);
  $silver: mat-color($mat-grey, 300);
  $bronze: mat-color($mat-brown, 400);

  .medal {

    font-size: 10px;
    padding: 0 5px;
    border-radius: 2px;
    margin-left: 1px;
    margin-right: 1px;

    &.medal-gold {
      background-color: $gold;
      color: contrast-color($gold);
    }

    &.medal-silver {
      background-color: $silver;
      color: contrast-color($silver);
    }

    &.medal-bronze {
      background-color: $bronze;
      color: contrast-color($bronze);
    }

  }

}

@mixin ow-app-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @include ow-status-colors($theme);
  @include ow-medals-theme($theme);

  a {
    color: mat-color($primary);
  }

}
