@import "colors";
@import "~bootstrap/scss/bootstrap.scss";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

html,
body {
  background-color: $blue-light;
  font-family: 'Roboto', Helvetica, Arial;
  line-height: 1;
}

header {
  position: relative;
}

p {
  line-height: 1.3;
}

a {
  text-decoration: none;
}

i {
  font-size: 150%;
}

input,
input:hover,
input:focus,
button,
button:hover,
button:focus {
  box-shadow: none !important;
  outline: none !important;
  line-height: 1 !important;
}

button:hover {
  cursor: pointer;
}

/** BUTTONS **/
.btn-primary {
  background-color: $purple-light;
  border: 0;
}
.btn-primary:hover {
  background-color: $brand-primary;
  color: $white;
}

.btn-outline-secondarynav {
  background-color: transparent;
  border: 1px solid $purple-light;
  color: $purple-lighter;
}
.btn-outline-secondarynav:hover {
  background-color: $purple-light;
}

.btn-radio {
  color: $gray-light;
  border-color: $gray-lighter;
  background-color: $white;
}
.btn-radio:hover {
  border-color: $purple-dark;
  color: $purple-dark;
}

.btn-radio.active {
  background-color: $purple-dark;
  color: $white;
  border-color: $purple-dark;
}

/** IMAGES **/
.avatar {
  width: 100%;
  max-width: 4.5rem;
}
.avatar-md {
  width: 100%;
  max-width: 3rem;
}

.role-icon-md {
  width: 100%;
  max-width: 2rem;
}
.role-icon-sm {
  width: 100%;
  max-width: 0.8rem;
}

.scaling-img {
  width: 100%;
}

/** BOOTSTRAP COMPONENTS **/
.btn-dropdown-toggle {
  background-color: transparent;
  color: $white;
}

.btn-dropdown-toggle:hover {
  cursor: pointer;
}

.dropdown-toggle[aria-expanded="true"] {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}

.dropdown-menu {
  font-size: 0.8rem;
  border: 1px solid $purple-lighter;
  border-color: $brand-primary;
  border-radius: 0 0 0.25rem 0.25rem;
  margin-top: -1px;
  background-color: $white;
}

.dropdown-menu .arrow-up {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(3.5%, -50%);
  font-size: 3.5rem;
  color: $white;
}

.dropdown-item:hover {
  background-color: $brand-primary;
  color: $white;
}

/** UTILITIES **/
.text-light {
  color: $gray-light;
}

.content {
  background-color: $white;
}
.content-secondary {
  background-color: $purple-light;
  color: $purple-lighter;
}
.content-outline {
  color: $purple-dark;
  border: 1px solid $purple-dark;
}

small,
.small {
  font-size: 75%;
}

.x-small {
  font-size: 65%;
  letter-spacing: 0.03rem;
}

sup {
  font-size: 65%;
  vertical-align: super;
}

/** OTHERS **/
.sidebar {
  background-color: $white;
}

.btn-group-label {
  color: $gray-light;
}

ngb-progressbar[type="stp"]{
  .progress {
    border-radius: 0;
  }
  .progress-bar {
    height: 0.35rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .main-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.medal.gold {
  background-color: $yellow;
}
.medal.silver {
  background-color: $gray-lighter;
}
.medal.bronze {
  background-color: $brown;
}

section {
  border-bottom: 1px dotted $gray-lighter;
}
section:last-child{
  border: 0;
}

.video-preview {
  position: relative;

  .play-icon {

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: $white;

    i {
      font-size: calc(4.5rem + 1vw);
    }

  }

}

.hero-portrait {
  position: relative;
  .header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    word-wrap: break-word;
    color: $white;
    line-height: 0.65;
  }
  .thumbnail img {
    width: 100%;
    max-width: 6rem;
    background-color: $brand-inverse;
    object-fit: cover;
    object-position: center center;
  }
}