@import "colors";
@import "~bootstrap/scss/bootstrap.scss";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

html,
body {
  background-color: $blue-light;
  font-family: 'Roboto';
}

header {
  position: relative;
}

a {
  text-decoration: none;
}

i {
  font-size: 150%;
}

input,
input:hover,
input:focus,
button,
button:hover,
button:focus {
  box-shadow: none !important;
  outline: none !important;
  line-height: 1 !important;
}

button:hover {
  cursor: pointer;
}

/** BUTTONS **/
.btn-primary {
  background-color: $purple-light;
  border: 0;
}
.btn-primary:hover {
  background-color: $brand-primary;
  color: $white;
}

.btn-outline-secondarynav {
  background-color: transparent;
  border: 1px solid $purple-light;
  color: $purple-lighter;
}
.btn-outline-secondarynav:hover {
  background-color: $purple-light;
}

.btn-radio {
  color: $gray-light;
  border-color: $gray-lighter;
  background-color: $white;
}
.btn-radio:hover {
  border-color: $purple-dark;
  color: $purple-dark;
}

.btn-radio.active {
  background-color: $purple-dark;
  color: $white;
  border-color: $purple-dark;
}

/** IMAGES **/
.avatar {
  width: 100%;
  max-width: 4.5rem;
}
.avatar-md {
  width: 100%;
  max-width: 3rem;
}

.role-icon-md {
  width: 100%;
  max-width: 2rem;
}
.role-icon-sm {
  width: 100%;
  max-width: 1rem;
}

/** UTILITIES **/
.text-light {
  color: $gray-light;
}

.content {
  background-color: $white;
}
.content-secondary {
  background-color: $purple-light;
  color: $purple-lighter;
}
.content-outline {
  color: $purple-dark;
  border: 1px solid $purple-dark;
}

.line-height-1 {
  line-height: 1;
}

small,
.small {
  font-size: 75%;
}

.x-small {
  font-size: 65%;
}

sup {
  font-size: 65%;
  vertical-align: super;
}

/** OTHERS **/
.sidebar {
  background-color: $white;
}

.btn-group-label {
  color: $gray-light;
}

ngb-progressbar[type="stp"]{
  .progress {
    border-radius: 0;
  }
  .progress-bar {
    height: 0.35rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .main-body {
    padding-left: 0;
    padding-right: 0;
  }
}
