@function contrast-color($background-color) {
  $bg: $background-color;
  $yiq: ( ( red($bg) * 299 ) + ( green($bg) * 587 ) + ( blue($bg) * 114 ) ) / 1000;
  $color: null;
  @if($yiq >= 128){
    $color: rgba(0,0,0,1);
  } @else {
    $color: rgba(255,255,255,1);
  }
  @return $color;
}
