@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'color-helper';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Import theme color palettes
@import 'themes/app-default-theme-palette';
@import 'themes/app-light-theme-palette';
@import 'themes/app-dark-theme-palette';

// Import the App's core theme (html/body)
@import 'app-theme';
@import './themes/components/components-theme';
@import '../app/pages/pages-theme';
@import '../app/shared/shared-theme';
@import '../app/static/static-theme';

@mixin core-themes($theme) {
  @include components-themes($theme);
  @include ow-pages-theme($theme);
  @include ow-shared-theme($theme);
  @include ow-static-theme($theme);
  @include ow-app-theme($theme);
}

body.app-theme-default {
  $theme: $app-theme-default;
  @include angular-material-theme($theme);
  @include core-themes($theme);
}

body.app-theme-light {
  $theme: $app-theme-light;
  @include angular-material-theme($theme);
  @include core-themes($theme);
}

body.app-theme-dark {
  $theme: $app-theme-dark;
  @include angular-material-theme($theme);
  @include core-themes($theme);
}
