@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'color-helper';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Import theme color palettes
@import 'themes/app-default-theme-palette';
@import 'themes/app-light-theme-palette';
@import 'themes/app-dark-theme-palette';

// Import the App's core theme (html/body)
@import 'app-theme';

// Import App Component Themes
@import '../app/static/sidebar-left/sidebar-left-theme';
@import '../app/static/main-nav/main-nav-theme';
@import '../app/pages/news/news-theme';
@import '../app/pages/profile/profile-theme';
@import '../app/shared/hero-portrait/hero-portait-theme';

// Import Components custom themes.
@import 'themes/components/theme-picker-swatch-theme';
@import 'themes/components/mat-sidenav-theme';
@import 'themes/components/mat-tabs-theme';
@import 'themes/components/perfect-scrollbar-theme';
@import 'themes/components/search-component-theme';
@import 'themes/components/news-post-card-theme';

@mixin component-themes($theme) {
  @include mat-tabs-theme($theme);
  @include mat-sidenav-theme($theme);
  @include perfect-scrollbar-theme($theme);
  @include sidebar-left-theme($theme);
  @include search-component-theme($theme);
  @include main-nav-theme($theme);
  @include news-theme($theme);
  @include news-post-card-theme($theme);
  @include profile-theme($theme);
  @include hero-portrait-theme($theme);
}

body.app-theme-default {

  $theme: $app-theme-default;

  @include angular-material-theme($theme);
  @include component-themes($theme);
  @include ow-app-theme($theme);

}

body.app-theme-light {

  $theme: $app-theme-light;

  @include angular-material-theme($theme);
  @include component-themes($theme);
  @include ow-app-theme($theme);

}

body.app-theme-dark {

  $theme: $app-theme-dark;

  @include angular-material-theme($theme);
  @include component-themes($theme);
  @include ow-app-theme($theme);

}

@include theme-picker-swatch-theme();
