<div class="platform-region" fxLayout="row" fxLayoutGap.gt-sm="30px" *ngIf="currentProfile" fxLayoutWrap>

  <div fxLayout="column"
       fxFlex.lt-sm="100%"
       fxFlex.lt-md="50%"
       fxFlex.gt-sm="initial">
    <div fxLayout="row">
      <span class="mat-caption text-uppercase">Platform</span>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" *ngFor="let platform of activePlatforms | async">
        <button md-button class="min-width-0"
                [class.mat-primary]="currentProfile.platform === platform.code"
                [class.mat-accent]="platform.enabled && currentProfile.platform !== platform.code"
                [disabled]="!platform.enabled"
                (click)="changePlatform$.next(platform.name)">
          {{ platform.name | uppercase }}
        </button>
      </div>
    </div>
  </div>

  <div fxLayout="column"
       fxFlex.lt-sm="100%"
       fxFlex.lt-md="50%"
       fxFlex.gt-sm="initial">
    <div fxLayout="row">
      <span class="mat-caption text-uppercase">Region</span>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" *ngFor="let region of activeRegions | async">
        <button md-button class="min-width-0"
                [class.mat-primary]="currentProfile.region === region.code"
                [class.mat-accent]="region.enabled && currentProfile.region !== region.code"
                [disabled]="!region.enabled"
                (click)="changeRegion$.next(region.name)">
          {{ region.name | uppercase }}
        </button>
      </div>
    </div>

  </div>
