<div class="platform-region" *ngIf="player">

  <div class="container">

    <div class="row align-items-center">

      <div class="col-md-6 col-12">

        <div class="platforms">

          <div class="label text-uppercase">
            Platform
          </div><!-- end .label -->

          <div class="btn-group" role="group" aria-label="platform">

            <button type="button" class="btn btn-radio"
              [class.active]="player.platform === 'pc'"
              [disabled]="!platformAvailable('pc')"
              (click)="changePlatform('pc')">
              <span class="text-uppercase">PC</span>
            </button><!-- end button -->

            <button type="button" class="btn btn-radio"
              [class.active]="player.platform === 'xbl'"
              [disabled]="!platformAvailable('xbl')"
              (click)="changePlatform('xbl')">
              <span class="text-uppercase">XBL</span>
            </button><!-- end button -->

            <button type="button" class="btn btn-radio"
              [class.active]="player.platform === 'psn'"
              [disabled]="!platformAvailable('psn')"
              (click)="changePlatform('psn')">
              <span class="text-uppercase">PSN</span>
            </button><!-- end button -->

          </div><!-- end .btn-group -->

        </div><!-- end .platforms -->

      </div><!-- end .col -->

      <div class="col-md-6 text-md-right col-12">

        <div class="regions">

          <div class="label text-uppercase">
            Region
          </div><!-- end .label -->

          <div class="btn-group" role="group" aria-label="platform">

            <button type="button" class="btn btn-radio"
              [class.active]="player.region === 'us'"
              [disabled]="!regionAvailable('us')"
              (click)="changeRegion('us')">
              <span class="text-uppercase">US</span>
            </button><!-- end button -->

            <button type="button" class="btn btn-radio"
              [class.active]="player.region === 'eu'"
              [disabled]="!regionAvailable('eu')"
              (click)="changeRegion('eu')">
              <span class="text-uppercase">EU</span>
            </button><!-- end button -->

            <button type="button" class="btn btn-radio"
              [class.active]="player.region === 'kr'"
              [disabled]="!regionAvailable('kr')"
              (click)="changeRegion('kr')">
              <span class="text-uppercase">KR</span>
            </button><!-- end button -->

            <button type="button" class="btn btn-radio"
              [class.active]="player.region === 'ch'"
              [disabled]="!regionAvailable('ch')"
              (click)="changeRegion('ch')">
              <span class="text-uppercase">CH</span>
            </button><!-- end button -->

            <button type="button" class="btn btn-radio"
              [class.active]="player.region === ''"
              [disabled]="!regionAvailable('')"
              (click)="changeRegion('')">
              <span class="text-uppercase">Global</span>
            </button><!-- end button -->

          </div><!-- end .btn-group -->

        </div><!-- end .regions -->

      </div><!-- end .col -->

    </div><!-- end .row -->

  </div><!-- end .container -->

</div><!-- end .platform-region -->
