@mixin ow-platform-region-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-button {

    &.mat-primary {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }

    &.mat-accent {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }

    &.mat-warn {
      background-color: mat-color($warn);
      color: mat-color($warn, default-contrast);
    }

  }



}

@mixin ow-platform-region-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
}

@mixin ow-platform-region-theme($theme) {
  .platform-region {
    @include ow-platform-region-button-theme($theme);
    @include ow-platform-region-component-theme($theme);
  }
}
