<div class="heroes-chart" fxLayout="column" fxLayoutGap="14px" fxFlex>
  <div fxLayout="row" fxLayoutAlign="end center">
    <div fxLayout="column" fxFlex="20%">
      <md-select placeholder="Competitive Ranking" [(ngModel)]="selectedRanking">
         <md-option *ngFor="let ranking of rankings" [value]="ranking.value">{{ ranking.name }}</md-option>
      </md-select>
    </div>
  </div>
  <ngx-charts-bar-vertical
      [ngStyle]="{ 'height': '150px' }"
      [results]="data"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>
