<header class="fixed-top pb-3" [ngClass.gt-sm]="{ 'sidebar-offset': !sideBarOpen, 'sidebar-open': sideBarOpen }">
  <div class="pt-3 px-3" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <ow-main-nav [navLinks]="navLinks" fxFlex></ow-main-nav>
  </div>
</header>

<main [ngClass.gt-sm]="{ 'sidebar-offset': !sideBarOpen, 'sidebar-open': sideBarOpen }">
  <ow-sidebar-left [navLinks]="navLinks" (change)="sideBarOpen = $event" fxHide.lt-md></ow-sidebar-left>
  <div class="sponsor-spaceship" fxLayout="row" fxLayoutAlign="center center">
    <img src="./img/logitech.png">
  </div>
  <div [ngStyle]="{ 'padding': '0 30px 30px 30px' }">
    <router-outlet></router-outlet>
  </div>
</main>

<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
