main,
header {
  &.sidebar-offset {
    padding-left: 56px;
  }
  &.sidebar-open {
    padding-left: 356px;
  }
}

main {
  padding-top: 76px;
}

.sponsor-spaceship {
  background-color: #fafafa;
  height: 100px;
  img {
    width: 100%;
    max-width: 1280px;
    
  }
}
