:host /deep/ .club {

  a {
    line-height: 0;
    font-size: 0;
  }

  input {
    max-width: 120px;
  }

  .mat-expansion-panel {

    .mat-expansion-panel-header {

      padding-left: 8px;

      .mat-content > div {
        width: 100%;
      }

    }

    &.edit-in-progress {
      .mat-expansion-panel-header {
        padding: 0 8px;
      }
    }

  }

}
