:host /deep/ .club {

  .club-name-editor {
    input[type="text"] {
      max-width: 140px;
    }
  }

  .mat-expansion-panel-header {
    padding-left: 8px;
  }

  &.club-edit-in-progress {
    .mat-expansion-panel-header {
      padding: 0 8px;
    }
  }

}
