@mixin ow-club-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .club {

    .friend {
      background-color: invert(mat-color($background, card, 0.05));
    }

  }

}
