<div class="overview" fxLayout="column" fxFlex>

  <div fxLayout="row" fxLayoutWrap>

    <div class="mt-3" fxLayout="column" fxLayoutGap="30px" fxFlex fxFlex.lt-lg="grow">

      <div fxLayout="row">
        <ow-skill-rating-trend fxFill></ow-skill-rating-trend>
      </div>

      <div fxLayout="row">
        <ow-overall
          [totalGameAverage]="totalGameAverage | async"
          [matchAwards]="matchAwards | async"
          fxFill>
        </ow-overall>
      </div>

      <div fxLayout="row" fxLayoutGap="14px">
        <div fxLayout="column" fxFlex="35%">
          <ow-lifetime-stats [lifetimeStats]="lifeTimeStats | async" [gameHistory]="gameHistory | async"></ow-lifetime-stats>
        </div>
        <div fxLayout="column" fxFlex>
          <ow-most-played [mostPlayedHeroes]="mostPlayedHeroes | async"></ow-most-played>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="14px">
        <div fxLayout="column" fxFlex="35%">
          <ow-recent-sessions [recentSnapshots]="recentSnapshots | async"></ow-recent-sessions>
        </div>
        <div fxLayout="column" fxFlex>
          <ow-role-performance [heroStatsByRole]="heroStatsByRole | async"></ow-role-performance>
        </div>
      </div>

    </div>

    <div class="mt-3" fxLayout="column" fxLayoutGap="14px" fxFlex="initial" fxFlex.lt-lg="grow">
      <span class="text-uppercase"><strong>Heroes</strong></span>
      <div fxLayout="row" *ngFor="let hero of heroStatistics | async">
        <ow-hero-card [hero]="hero" fxFill></ow-hero-card>
      </div>
    </div>

  </div>

</div>
