<div class="overview flex-layout" fxLayout="row" fxLayoutWrap>

  <div class="flex-layout py-3" fxLayout="column" fxLayoutGap="14px" fxFlex fxFlex.lt-lg="100%">

    <div class="flex-layout pt-3" fxLayout="row">
      <div class="flex-layout" fxLayout="column" fxFlex="initial">
        <ow-skill-rating-trend [skillRatingTrend]="skillRatingTrend"></ow-skill-rating-trend>
      </div>
    </div>

    <div class="flex-layout pt-3" fxLayout="row">
      <ow-overall
        class="flex-layout"
        fxLayout="column"
        fxFlex
        [totalGameAverage]="totalGameAverage | async"
        [matchAwards]="matchAwards | async">
      </ow-overall>
    </div>

    <div class="flex-layout" fxLayout="row">
      <div class="flex-layout pt-3 px-3" fxLayout="column" fxFlex="50%">
        <ow-lifetime-stats [lifetimeStats]="lifeTimeStats | async" [gameHistory]="gameHistory | async"></ow-lifetime-stats>
      </div>
      <div class="flex-layout pt-3 px-3" fxLayout="column" fxFlex="50%">
        <ow-most-played class="flex-layout" fxLayout="column" fxFlex [mostPlayedHeroes]="mostPlayedHeroes | async"></ow-most-played>
      </div>
    </div>

    <div class="flex-layout" fxLayout="row">
      <div class="flex-layout pt-3 px-3" fxLayout="column" fxFlex="50%">
        <ow-role-performance [heroStatsByRole]="heroStatsByRole | async"></ow-role-performance>
      </div>
      <div class="flex-layout pt-3 px-3" fxLayout="column" fxFlex="50%">
        <ow-recent-sessions class="flex-layout" fxLayout="column" fxFlex [recentSnapshots]="recentSnapshots | async"></ow-recent-sessions>
      </div>
    </div>


  </div>

  <div class="flex-layout" fxLayout="column" fxFlex="initial" fxFlex.lt-lg="100%">
    <div class="flex-layout pt-3" fxLayout="row" *ngFor="let hero of heroStatistics | async">
      <ow-hero-card class="flex-layout" fxLayout="column" fxFlex [hero]="hero"></ow-hero-card>
    </div>
  </div>

</div>
