:host /deep/ .overview {

  .primary-card {
    .mat-card-header-text {
      margin: 0;
    }
  }

  .player-avatar-level {
    position: relative;
    .level {
      position: absolute;
      bottom: 0;
      right: 0;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .btn-renew {
    .mat-spinner {
      width: 24px;
      height: 24px;
    }
  }

}
