<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

  <div fxLayout="column" fxLayoutGap="36px" fxFlex="300px">

    <div fxLayout="row" fxFlex="noshrink">

      <div fxLayout="column" fxLayoutGap="8px" fxFlex="grow">

        <div fxLayout="row" fxFlex="noshrink">
          <div fxLayout="column" fxFlex="grow">
            <md-input-container fxFlexFill>
              <input mdInput type="email" placeholder="E-mail" formControlName="email">
              <md-error *ngIf="loginForm.controls.email.hasError('pattern')">
                Please enter a valid email address.
              </md-error>
              <md-error *ngIf="loginForm.controls.email.hasError('required')">
                Email is <strong>required</strong>
              </md-error>
            </md-input-container>
          </div>
        </div>

        <div class="password-field" fxLayout="row" fxFlex="noshrink">
          <div fxLayout="column" fxFlex="grow">
            <md-input-container fxFlexFill>
              <input mdInput type="password" placeholder="Password" formControlName="password">
              <md-error *ngIf="loginForm.controls.password.hasError('pattern')">
                Please enter a valid password.
              </md-error>
              <md-error *ngIf="loginForm.controls.password.hasError('required')">
                Password is <strong>required</strong>
              </md-error>
            </md-input-container>
          </div>
        </div>

      </div>

    </div>

    <div fxLayout="row" fxLayoutGap="14px" fxFlex="noshrink">
      <div fxLayout="column" fxFlex="50%">
        <!-- spacer -->
      </div>
      <div fxLayout="column" fxFlex="50%">
        <button type="submit" md-button [disabled]="!loginForm.valid">Login</button>
      </div>
    </div>

  </div>

</form>
