<div class="news-page-header pl-3" #newspageheader>
  <div class="user-actions d-flex align-items-center px-3" ngbDropdown>
    <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
        Search Input goes here
    </div>
    <button class="btn-search px-3 py-3" id="dropdownBasic1" ngbDropdownToggle>
      <i class="fa fa-search"></i>
    </button>
    <!-- end .btn-search -->
  </div>
  <!-- end .user-actions -->
  <div class="list-container text-center">
    <ul class="post-categories py-3">
      <li class="category">
        <button class="category-link current px-2 py-2 mx-2">All</button>
      </li>
      <!-- end .category -->
      <li class="category">
        <button class="category-link px-2 py-2 mx-2">Patch Notes</button>
      </li>
      <!-- end .category -->
      <li class="category">
        <button class="category-link px-2 py-2 mx-2">Patch Notes</button>
      </li>
      <!-- end .category -->
    </ul>
    <!-- end .post-categories -->
  </div>
  <!-- end .list-container -->
</div>
<!-- end .news-page-header -->