<div class="container-fluid stp-container">

    <div class="row my-3">
      
      <div class="col-xl-3">
            <p>lorei ipsum</p>
      </div>
      <!-- end .col -->

      <div class="col-xl-3">
        <p>Latest game news and esports coverage.</p>
      </div>
      <!-- end .col -->

      <div class="col-xl-3">
        <p>Up-to-the-minute leaderboards.</p>
      </div>
      <!-- end .col -->

      <div class="col-xl-3">
        <p>Track and compare stats in real-time.</p>
      </div>
      <!-- end .col -->

    </div>
    <!-- end .row -->

    <div class="row my-3">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 my-3">
            <div class="card">
                <div class="card-header">
                    <small class="text-uppercase font-weight-bold label-light">Featured</small>
                </div>
                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <div class="card-block">
                    <p class="h4 text-uppercase font-weight-bold">Meta Snapshot #01</p>
                    <p class="card-text">Fusce quis libero et dui vulputate varius vitae nec risus.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 my-3">
            <div class="card">
                <div class="card-header">
                    <small class="text-uppercase font-weight-bold label-light">Featured</small>
                </div>
                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <div class="card-block">
                    <p class="h4 text-uppercase font-weight-bold">Meta Snapshot #01</p>
                    <p class="card-text">Fusce quis libero et dui vulputate varius vitae nec risus.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 my-3">
            <div class="card">
                <div class="card-header">
                    <small class="text-uppercase font-weight-bold label-light">Featured</small>
                </div>
                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <div class="card-block">
                    <p class="h5 text-uppercase font-weight-bold">Meta Snapshot #01</p>
                    <p class="card-text">Fusce quis libero et dui vulputate varius vitae nec risus.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 my-3">
            <div class="card">
                <div class="card-header">
                    <small class="text-uppercase font-weight-bold label-light">Featured</small>
                </div>
                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <div class="card-block">
                    <p class="h5 text-uppercase font-weight-bold">Meta Snapshot #01</p>
                    <p class="card-text">Fusce quis libero et dui vulputate varius vitae nec risus.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 my-3">
            <div class="card">
                <div class="card-header">
                    <small class="text-uppercase font-weight-bold label-light">Featured</small>
                </div>
                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <div class="card-block">
                    <p class="h5 text-uppercase font-weight-bold">Meta Snapshot #01</p>
                    <p class="card-text">Fusce quis libero et dui vulputate varius vitae nec risus.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 my-3">
            <div class="card">
                <div class="card-header">
                    <small class="text-uppercase font-weight-bold label-light">Featured</small>
                </div>
                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <div class="card-block">
                    <p class="h5 text-uppercase font-weight-bold">Meta Snapshot #01</p>
                    <p class="card-text">Fusce quis libero et dui vulputate varius vitae nec risus.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <!-- end col -->

    </div>
    <!-- end .row -->

    <div class="row my-3 stp-ad">
        <div class="col-12 py-2 text-center">
            <img src="img/ad_leaderboard.png" alt="">
        </div>
    </div>
    <!-- end .stp-ad -->

    <div class="row my-3">

        <div class="col-12 content-header mb-3">
            <div class="row align-items-center">
                <div class="col-2">
                    <p class="h3 text-uppercase font-weight-bold mb-0">Heroes</p>
                </div>
                <div class="col-10">
                    <form [formGroup]="questionForm">
                        <ow-search #search></ow-search>
                    </form>
                </div>
            </div>
        </div>
        <!-- end .content-header -->

        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 py-2">

            <div class="row py-2">
                <div class="col-12">
                    <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                </div>
                <!-- end .col -->
            </div>
            <!-- end .row -->

            <div class="row my-2 align-items-center">

                <div class="col-1 pr-0">
                    <img src="img/OffenseIcon.svg" class="full-width" alt="">
                </div>
                <!-- end .col -->

                <div class="col-11">
                    <p class="h5 font-weight-bold text-uppercase mb-0">Offense</p>
                    <small class="text-uppercase mb-0">43,253,891 Games Played (25%)</small>
                </div>
                <!-- end .col -->

            </div>
            <!-- .row -->

            <div class="row my-2">

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Genji</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">McCree</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000042.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Pharah</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000008.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Reaper</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000002.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Soldier: 76</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000006E.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Sombra</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000012E.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Tracer</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000003.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

            </div>
            <!-- .row -->

        </div>
        <!-- end .col -->

        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 py-2">

            <div class="row py-2">
                <div class="col-12">
                    <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                </div>
                <!-- end .col -->
            </div>
            <!-- end .row -->

            <div class="row my-2 align-items-center">

                <div class="col-1 pr-0">
                    <img src="img/DefenseIcon.svg" class="full-width" alt="">
                </div>
                <!-- end .col -->

                <div class="col-11">
                    <p class="h5 font-weight-bold text-uppercase mb-0">Defense</p>
                    <small class="text-uppercase mb-0">43,253,891 Games Played (25%)</small>
                </div>
                <!-- end .col -->

            </div>
            <!-- .row -->

            <div class="row my-2">
                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Bastion</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000015.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Hanzo</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000005.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Junkrat</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000065.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Mei</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E00000000000DD.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Torbjörn</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000006.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Widowmaker</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000000A.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

            </div>
            <!-- .row -->

        </div>
        <!-- end .col -->

        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 py-2">

            <div class="row py-2">
                <div class="col-12">
                    <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                </div>
                <!-- end .col -->
            </div>
            <!-- end .row -->

            <div class="row my-2 align-items-center">

                <div class="col-1 pr-0">
                    <img src="img/SupportIcon.svg" class="full-width" alt="">
                </div>
                <!-- end .col -->

                <div class="col-11">
                    <p class="h5 font-weight-bold text-uppercase mb-0">Support</p>
                    <small class="text-uppercase mb-0">43,253,891 Games Played (25%)</small>
                </div>
                <!-- end .col -->

            </div>
            <!-- .row -->

            <div class="row my-2">

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Ana</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000013B.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Lúcio</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000079.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Mercy</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000004.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Symmetra</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000016.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Zenyatta</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000020.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

            </div>
            <!-- .row -->

        </div>
        <!-- end .col -->

        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 py-2">

            <div class="row py-2">
                <div class="col-12">
                    <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                </div>
                <!-- end .col -->
            </div>
            <!-- end .row -->

            <div class="row my-2 align-items-center">

                <div class="col-1 pr-0">
                    <img src="img/TankIcon.svg" class="full-width" alt="">
                </div>
                <!-- end .col -->

                <div class="col-11">
                    <p class="h5 font-weight-bold text-uppercase mb-0">Tank</p>
                    <small class="text-uppercase mb-0">43,253,891 Games Played (25%)</small>
                </div>
                <!-- end .col -->

            </div>
            <!-- .row -->

            <div class="row my-2">

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">D.Va</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000007A.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Orisa</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000013E.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Reinhardt</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000007.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Roadhog</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000040.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Winston</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000009.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

                <div class="col-2 my-2">
                    <div class="square rounded">
                        <div class="square__content square__content--centered">
                            <div class="img-overlay full-width bottom-in-shadow px-1 py-1">
                                <small class="font-weight-bold label-light">Zarya</small>
                            </div>
                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000068.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- end .col -->

            </div>
            <!-- .row -->

        </div>
        <!-- end .col -->

    </div>
    <!-- end .row -->

    <div class="row my-3">

        <div class="col-12 my-1 align-items-center">
            <p class="h3 text-uppercase font-weight-bold">Livestreams</p>
        </div>
        <!-- end .col -->

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 my-3">

            <div class="card">

                <div class="card-header">

                    <div class="row align-items-center">

                        <div class="col-5">
                            <small class="text-uppercase font-weight-bold label-light">Top Heroes</small>
                        </div>
                        <!-- end .col -->

                        <div class="col-7">

                            <div class="row">

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                            </div>
                            <!-- end .row -->

                        </div>
                        <!-- end .col -->

                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .card-header -->

                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <!-- end .card-image -->

                <div class="card-block d-flex px-3 py-3">

                    <div class="row">

                        <div class="col-4">
                            <div class="square rounded">
                                <div class="square__content square__content--centered">
                                    <img src="img/imgplaceholder_square.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- end .col -->

                        <div class="col-8 align-items-center">
                            <p class="d-flex text-uppercase font-weight-bold mb-0 align-items-center">MoonMoonOW<small class="skill-rating rounded mx-2 px-1 py-1">5000</small>
                            </p>
                            <small class="text-uppercase">59,836 viewers</small>
                        </div>
                        <!-- end .col -->

                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .card-block -->

            </div>
            <!-- end .card -->

        </div>
        <!-- end .col -->

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 my-3">

            <div class="card">

                <div class="card-header">

                    <div class="row align-items-center">

                        <div class="col-5">
                            <small class="text-uppercase font-weight-bold label-light">Top Heroes</small>
                        </div>
                        <!-- end .col -->

                        <div class="col-7">

                            <div class="row">
                              
                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                            </div>
                            <!-- end .row -->

                        </div>
                        <!-- end .col -->

                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .card-header -->

                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <!-- end .card-image -->

                <div class="card-block d-flex px-3 py-3">

                    <div class="row">

                        <div class="col-4">
                            <div class="square rounded">
                                <div class="square__content square__content--centered">
                                    <img src="img/imgplaceholder_square.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- end .col -->

                        <div class="col-8 align-items-center">
                            <p class="d-flex text-uppercase font-weight-bold mb-0 align-items-center">MoonMoonOW<small class="skill-rating rounded mx-2 px-1 py-1">5000</small>
                            </p>
                            <small class="text-uppercase">59,836 viewers</small>
                        </div>
                        <!-- end .col -->

                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .card-block -->

            </div>
            <!-- end .card -->

        </div>
        <!-- end .col -->

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 my-3">

            <div class="card">

                <div class="card-header">

                    <div class="row align-items-center">

                        <div class="col-5">
                            <small class="text-uppercase font-weight-bold label-light">Top Heroes</small>
                        </div>
                        <!-- end .col -->

                        <div class="col-7">

                            <div class="row">
                              
                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                            </div>
                            <!-- end .row -->

                        </div>
                        <!-- end .col -->

                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .card-header -->

                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <!-- end .card-image -->

                <div class="card-block d-flex px-3 py-3">

                    <div class="row">

                        <div class="col-4">
                            <div class="square rounded">
                                <div class="square__content square__content--centered">
                                    <img src="img/imgplaceholder_square.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- end .col -->

                        <div class="col-8 align-items-center">
                            <p class="d-flex text-uppercase font-weight-bold mb-0 align-items-center">MoonMoonOW<small class="skill-rating rounded mx-2 px-1 py-1">5000</small>
                            </p>
                            <small class="text-uppercase">59,836 viewers</small>
                        </div>
                        <!-- end .col -->

                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .card-block -->

            </div>
            <!-- end .card -->

        </div>
        <!-- end .col -->

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 my-3">

            <div class="card">

                <div class="card-header">

                    <div class="row align-items-center">

                        <div class="col-5">
                            <small class="text-uppercase font-weight-bold label-light">Top Heroes</small>
                        </div>
                        <!-- end .col -->

                        <div class="col-7">

                            <div class="row">
                              
                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                                <div class="col-4 px-2">
                                    <div class="square rounded">
                                        <div class="square__content square__content--centered">
                                            <div class="img-overlay px-1 py-1 hidden-lg-up">
                                                <small class="text-uppercase">Genji</small>
                                            </div>
                                            <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- end .col -->

                            </div>
                            <!-- end .row -->

                        </div>
                        <!-- end .col -->

                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .card-header -->

                <div class="card-image">
                    <img class="full-width" src="img/imgplaceholder.png" alt="">
                </div>
                <!-- end .card-image -->

                <div class="card-block d-flex px-3 py-3">

                    <div class="row">

                        <div class="col-4">
                            <div class="square rounded">
                                <div class="square__content square__content--centered">
                                    <img src="img/imgplaceholder_square.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- end .col -->

                        <div class="col-8 align-items-center">
                            <p class="d-flex text-uppercase font-weight-bold mb-0 align-items-center">MoonMoonOW<small class="skill-rating rounded mx-2 px-1 py-1">5000</small>
                            </p>
                            <small class="text-uppercase">59,836 viewers</small>
                        </div>
                        <!-- end .col -->

                    </div>
                    <!-- end .row -->

                </div>
                <!-- end .card-block -->

            </div>
            <!-- end .card -->

        </div>
        <!-- end .col -->
        
    </div>
    <!-- end .row -->

    <div class="row my-3 stp-ad">
        <div class="col-12 py-2 text-center">
            <img src="img/ad_leaderboard.png" alt="">
        </div>
    </div>
    <!-- end .stp-ad -->

</div>
<!-- end .stp-container -->