@import "../../../style/colors";

.heros-list .role-overview {
    display: inline-block;
}
.heros-list .role-overview  p {
    margin: 0;
}
.heros-list .role-overview .role-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}
.heros-list .role-overview .role-statistics {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: $gray-light;
}

.livestream .card-block {
    display: flex;
    align-items: center;
}

.livestream .avatar {
   width: 100%;
   max-width: 2.25rem;
   margin-right: 0.5rem;
}

.livestream .stream-overview {
    display: inline-block;
}

.livestream .stream-overview p {
    margin: 0;    
}

.livestream .stream-overview .user-alias {
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
}

.livestream .stream-overview .skill-rating {
    background-color: $brand-primary;
    padding: 0.15rem 0.25rem;
    font-size: 0.65rem;
    font-weight: normal;
    color: $white;
    border-radius: 0.25rem;
}

.livestream .stream-overview .viewers {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.livestream .hero {
    background-color: $brand-primary;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border-radius: 0.1rem;
}

.livestream .hero img {
    width: 100%;
    max-width: 2rem;
}