@import "../../../style/colors";
.home .top-header-thumb {
  overflow: hidden;
  margin-bottom: -6.5%;
  max-height: 175px;
}

.top-header-thumb img {
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
}