@import "../../../style/colors";

:host /deep/ .ngb-tabset {
  .nav-tabs {
    .nav-link.active {
      border: 0;
      border-bottom: 1px solid $brand-primary;
      color: $brand-primary;
    }
  }
}
