<div class="row my-3 content rounded">

  <div class="col-xl-4 py-3">

    <div class="row align-items-center">

      <div class="col-3">
        <div class="square rounded">
          <div class="square__content square__content--centered content">
            <img src="img/imgplaceholder_square.png" alt="">
          </div>
        </div>
      </div>
      <!-- end .col -->

      <div class="col-9 base-line-height ">
        <p class="d-flex align-items-center small text-uppercase font-weight-bold mb-0"><img src="img/OffenseIcon.svg" class="role-icon mr-1" alt="">Offense</p>
        <p class="h1 font-weight-bold mb-0">Soldier: 76</p>
        <small class="text-uppercase">6,692,000+ Games Analyzed</small>
      </div>
      <!-- end .col -->

    </div>
    <!-- end .row -->

  </div>
  <!-- end .col -->

  <div class="col-xl-8 py-3">

    <div class="row">

      <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="row my-2">
          <div class="col-xl-6 base-line-height">
            <small class="text-uppercase">Win Rate</small>
          </div>
          <div class="col-xl-6">
            <small class="d-flex align-items-center">(<i class="material-icons ">arrow_drop_up</i>0.11%)</small>
          </div>
        </div>
        <!-- end .row -->

        <div class="row">
          <div class="col-12">
            <span class="h3 font-weight-bold mb-0">68.4%</span>
          </div>
        </div>
        <!-- end .row -->

      </div>
      <!-- end .col -->

      <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="row my-2">
          <div class="col-xl-6 base-line-height">
            <small class="text-uppercase">Time Played</small>
          </div>
          <div class="col-xl-6">
            <small class="d-flex align-items-center">(<i class="material-icons ">arrow_drop_up</i>0.11%)</small>
          </div>
        </div>
        <!-- end .row -->

        <div class="row">
          <div class="col-12">
            <span class="h3 font-weight-bold mb-0">~7</span><span class="x-small text-uppercase">hrs</span>
          </div>
        </div>
        <!-- end .row -->

      </div>
      <!-- end .col -->

      <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="row my-2">
          <div class="col-xl-6 base-line-height">
            <small class="text-uppercase ">On Fire</small>
          </div>
          <div class="col-xl-6">
            <small class="d-flex align-items-center">(<i class="material-icons ">arrow_drop_up</i>0.11%)</small>
          </div>
        </div>
        <!-- end .row -->

        <div class="row">
          <div class="col-12">
            <span class="h3 font-weight-bold mb-0">~0.69</span><span class="x-small text-uppercase">min</span>
          </div>
        </div>
        <!-- end .row -->

      </div>
      <!-- end .col -->

      <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="row my-2">
          <div class="col-xl-6 base-line-height">
            <small class="text-uppercase">Medals</small>
          </div>
          <div class="col-xl-6">
            <small class="d-flex align-items-center">(<i class="material-icons ">arrow_drop_up</i>0.11%)</small>
          </div>
        </div>
        <!-- end .row -->

        <div class="row">
          <div class="col-12">

            <div class="d-inline-flex px-2 py-1 mx-1 my-1 rounded gold"><small>0.69</small></div>
            <div class="d-inline-flex px-2 py-1 mx-1 my-1 rounded silver"><small>0.69</small></div>
            <div class="d-inline-flex px-2 py-1 mx-1 my-1 rounded bronze"><small>0.69</small></div>

          </div>
        </div>
        <!-- end .row -->

      </div>
      <!-- end .col -->

    </div>
    <!-- end .row -->

  </div>
  <!-- end .col -->

</div>
<!-- end .row -->

<div class="row my-3">

  <div class="col-6 pr-4">

    <div class="row">

      <div class="col-12 content content-header py-3">
        <p class="h6 font-weight-bold mb-0">Synergy</p>
      </div>

      <div class="col-12 content content-body py-3">

        <div class="row">

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

        </div>

      </div>

    </div>

  </div>

  <div class="col-6 pl-4">

    <div class="row">

      <div class="col-12 content content-header py-3">
        <p class="h6 font-weight-bold mb-0">Counters</p>
      </div>

      <div class="col-12 content content-body py-3">

        <div class="row">

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

          <div class="col-2">
            <a href="#">
              <div class="square rounded hero-avatar">
                <div class="square__content square__content--centered">
                  <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
                    <small class="font-weight-bold">Genji</small>
                  </div>
                  <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <!-- end .col -->

        </div>

      </div>

    </div>

  </div>

</div>
<!-- end .row -->

<div class="row my-3 content rounded">

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Genji</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000029.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">McCree</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000042.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Pharah</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000008.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Reaper</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000002.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Soldier: 76</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000006E.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Sombra</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000012E.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Tracer</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000003.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Bastion</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000015.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Hanzo</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000005.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Junkrat</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000065.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Mei</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E00000000000DD.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Torbjörn</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000006.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Widowmaker</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000000A.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Ana</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000013B.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Lúcio</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000079.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Mercy</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000004.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Symmetra</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000016.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Zenyatta</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000020.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">D.Va</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000007A.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Orisa</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E000000000013E.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Reinhardt</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000007.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Roadhog</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000040.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Winston</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000009.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

  <div class="col-1 py-3">

    <a href="#">
      <div class="square rounded hero-avatar">
        <div class="square__content square__content--centered">
          <div class="img-overlay full-width bottom-in-shadow px-1 py-1 base-line-height">
            <small class="font-weight-bold">Zarya</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000068.png" alt="">
        </div>
      </div>
    </a>

  </div>
  <!-- end .col -->

</div>
<!-- end .row -->
