<div class="stat-category-block flex-layout" fxLayout="row" fxLayoutGap="14px">
  <div class="flex-layout" fxLayout="column" fxLayoutGap="14px" fxFlex="initial" *ngFor="let block of statBlocks">
    <div class="flex-layout" fxLayout="row">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <span class="text-uppercase"><strong>{{block.name}}</strong></span>
      </div>
    </div>
    <div class="flex-layout" fxLayout="row" *ngFor="let stat of block.stats">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <md-checkbox [(ngModel)]="stat.selected" (change)="onChangeSelected()">{{stat.name}}</md-checkbox>
      </div>
    </div>
  </div>
</div>
