<div class="stat-category-block">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="header px-2 py-2">
          <span class="small text-uppercase">Combat</span>
        </div><!-- .header -->
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="row keys">

      <div class="col-12 prop">
        <div class="d-inline-flex align-items-center px-2 py-2">
          <input type="checkbox" class="mr-2" checked>
          <span class="label text-uppercase">Kills</span>
        </div><!-- .d-inline-flex -->
      </div><!-- .col -->

      <div class="col-12 prop">
        <div class="d-inline-flex align-items-center px-2 py-2">
          <input type="checkbox" class="mr-2">
          <span class="label text-uppercase">Deaths</span>
        </div><!-- .d-inline-flex -->
      </div><!-- .col -->

      <div class="col-12 prop">
        <div class="d-inline-flex align-items-center px-2 py-2">
          <input type="checkbox" class="mr-2">
          <span class="label text-uppercase">Assists</span>
        </div><!-- .d-inline-flex -->
      </div><!-- .col -->

    </div><!-- .row -->

  </div><!-- .container-fluid -->
</div><!-- .stat-category-block -->
