<section class="row stat-category-block mb-3">
  <div class="col-12 header py-2 mb-2">
    <span class="small text-uppercase">Combat</span>
  </div>
  <!-- end .col -->
  <div class="col-12 options">

    <div class="row align-items-center">
      <div class="col-auto px-3 py-2">
        <input type="checkbox">
      </div>
      <!-- end .col -->
      <div class="col py-2">
        <span class="small text-uppercase">Kills</span>
      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->

    <div class="row align-items-center">
      <div class="col-auto px-3 py-2">
        <input type="checkbox">
      </div>
      <!-- end .col -->
      <div class="col py-2">
        <span class="small text-uppercase">Kills</span>
      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->

    <div class="row align-items-center">
      <div class="col-auto px-3 py-2">
        <input type="checkbox">
      </div>
      <!-- end .col -->
      <div class="col py-2">
        <span class="small text-uppercase">Kills</span>
      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->

    <div class="row align-items-center">
      <div class="col-auto px-3 py-2">
        <input type="checkbox">
      </div>
      <!-- end .col -->
      <div class="col py-2">
        <span class="small text-uppercase">Kills</span>
      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->

  </div>
  <!-- end .col -->
</section>
<!-- end section -->
