@import "../../../../style/colors";
.stat-category-block {
    .header {
        background-color: $brand-inverse;
        color: $white;
    }
    .keys {
      .prop {
        > div {
          width: 100%;
        }
        .label {
          font-size: 0.65rem;
        }
      }
      .prop:nth-child(2n) {
        > div {
          background-color: $blue-lightest;
        }
      }
    }

}
