<div class="sidebar-friend-request-card player-card flex-layout py-2"
     fxLayout="row"
     fxLayoutAlign="start center"
     fxLayoutGap="8px"
     fxFlex="grow">


  <div class="flex-layout" fxLayout="column" fxFlex="noshrink">

    <a href="#" draggable="false">
      <img class="md-image md-image-circle md-image-36" draggable="false" src="https://blzgdapipro-a.akamaihd.net/game/unlocks/0x0250000000000D6A.png">
    </a>

  </div>

  <div class="flex-layout" fxLayout="column" fxFlex="grow">

    <div class="flex-layout" fxLayout="row" fxFlex="grow">
        <span class="player-tag">{{ stubData }}#2112</span>
    </div>

    <div class="skill-rating flex-layout"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex="grow">

      <img width="18" src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-7.png">
      <span class="ml-1">2315</span>

    </div>

  </div>

  <div class="flex-layout"
       fxLayout="column"
       fxLayoutGap="8px"
       fxFlex="noshrink">

    <div class="flex-layout" fxLayout="row">

      <div fxLayout="column">
        <button class="min-width-0"
                color="warn"
                md-button
                mdTooltip="Ignore"
                (click)="ignoreFriendRequest(stubData)">
          <i class="material-icons md-18">close</i>
        </button>
      </div>

      <div fxLayout="column">
        <button class="min-width-0"
                md-button
                mdTooltip="Accept">
          <i class="material-icons md-18">check</i>
        </button>
      </div>

    </div>

  </div>

</div>
