<div class="row mb-3">
    <div class="col-12">
      <div class="content rounded px-3 pt-3">
        <div class="row">
            <div class="col-md-3 col-12 sidebar-compare">
              <div class="px-3">
                <ow-stat-category-block></ow-stat-category-block>
                <!-- end ow-stat-category-block -->
              </div>                
            </div>
            <!-- end .col -->
            <div class="col-md-9 col-12 mb-3" *ngFor="let chart of chartdatasets">
              
            </div>
            <!-- end .col -->
        </div>
        <!-- end .row -->
      </div>
      <!-- end .content -->
    </div>
    <!-- end .col -->
  </div>
  <!-- end .row -->