<form class="create-club"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="8px"
      [formGroup]="clubForm"
      (ngSubmit)="createClub$.next(clubForm.value); clubForm.reset()">
  <button mat-icon-button (click)="cancel$.next()" matTooltip="Cancel">
    <mat-icon>cancel</mat-icon>
  </button>
  <input fxFlex type="text" placeholder="Enter a Club Name" formControlName="name" required>
  <button mat-icon-button type="submit" [disabled]="!clubForm.valid" matTooltip="Submit">
    <mat-icon>add</mat-icon>
  </button>
</form>
