.sidebar-left {

  .btn-sidebar-toggle {

    i {
      transform: rotate(0);
      transition: transform 0.25s cubic-bezier(0.55, 0, 0.1, 1);
    }

    &.collapsed i {
      transform: rotate(45deg);
    }

  }

}

:host /deep/ .sidebar-left {

  .flex-layout {
    min-width: 0;
    min-height: 0;
  }

  .mat-sidenav-content {
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
  }

  .mat-sidenav {
    width: 300px;
  }

  .mat-card {
    padding: 10px;
  }

  .mat-tab-body-content > div {
    height: 100%;
  }

  input[type="text"] {
    font-size: 12px;
  }

}
