@import "../../../style/colors";
.sidebar-left {
  background-color: $purple_dark;
  color: $purple_lightest;
  z-index: 100;
}

.sidebar-left section {
  border-bottom: 1px solid $purple;
  max-height: 50%;
}

.sidebar-left section .section-header {
  border-bottom: 1px dotted $purple-light;
}

.btn-collapse {
  background-color: $white;
  border-radius: 0;
  color: $gray-light;
}

.btn-collapse:hover {
  color: $brand-primary;
}

.btn-collapse[aria-expanded="true"] {
  border-bottom: 1px solid $bordercolor;
}

.btn-collapse[aria-expanded="false"] {
  border-bottom: none;
}

.btn-collapse[aria-expanded="true"] i {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.btn-collapse[aria-expanded="false"] i {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

small i {
  font-size: 100%;
}

.btn-view-profile {
  border: 1px solid $purple-light;
  color: $purple-light;
}

.btn-view-profile:hover {
  border: 1px solid $purple-lighter;
  color: $brand-primary;
}

.btn-friends-group {
  background-color: transparent;
  border: 0;
  outline: none;
  color: $purple-lightest;
}

.btn-friends-group:hover {
  background-color: $purple-light;
  color: $white;
}

.btn-friends-group i {
  font-size: 150%;
}

.btn-compare {
  border: 1px solid $purple-light;
  background-color: transparent;
  color: $purple-light;
}

.btn-compare:hover {
  border: 1px solid $purple-lighter;
  color: $brand-primary;
}

.btn-friends-group[aria-expanded="true"] i {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.btn-friends-group[aria-expanded="false"] i {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

:host /deep/ .sidebar-left {
   ::-webkit-scrollbar {
    width: 0.5rem;
  }
   ::-webkit-scrollbar-track {
    background-color: transparent;
  }
   ::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 4rem;
  }
  .nav-tabs {
    border-bottom: 1px solid $purple;
  }
  .nav-link {
    background-color: transparent;
    border: 0;
    color: $purple-lightest;
  }
  .nav-link:hover {
    background-color: $purple;
    color: $white;
  }
  .nav-link.active {
    border: 1px solid $purple;
  }
  .tab-content,
  .tab-pane {
    height: 100%;
  }
  .scrolled-content {
    margin-top: 0.25rem;
    max-height: 78%;
    overflow-y: scroll;
  }
  section {
    overflow: hidden;
  }
}

.btn-accept {
  background-color: transparent;
  border: 1px solid $purple;
  color: $purple-lightest;
}
.btn-accept:hover {
  background-color: $brand-success;
  border-color: $brand-success;
  color: $white;
}
.btn-decline {
  background-color: transparent;
  border: 1px solid $purple;
  color: $purple-lightest;
}
.btn-decline:hover {
  background-color: $brand-danger;
  border-color: $brand-danger;
  color: $white;
}
