@import "../../../style/colors";

.sidebar-left {

  position: fixed;
  left: 0;
  height: 100%;
  box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);

  .container-fluid,
  .container-fluid > div {
    height: 100%;
  }

}
