@mixin ow-sidebar-nav-list-them($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $text-color: mat-color($primary, default-contrast) !default;

  .mat-nav-list {
    .mat-list-item {
      color: $text-color;
    }
  }

}

@mixin ow-sidebar-tab-group-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $text-color: mat-color($primary, default-contrast) !default;

  .mat-tab-group {

    .mat-tab-label {
      color: $text-color;
    }

    .mat-ink-bar {
      background-color: $text-color;
    }

  }

}

@mixin ow-sidebar-left-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $drawer-backdrop-color: mat-color($primary) !default;
  $drawer-text-color: mat-color($primary, default-contrast) !default;

  .sidebar-left {

    @include ow-sidebar-nav-list-them($theme);
    @include ow-sidebar-tab-group-theme($theme);

    .mat-drawer-container,
    .mat-drawer {
      background-color: $drawer-backdrop-color;
      color: $drawer-text-color;
    }

  }

}
