<div class="sidebar-left fixed-left flex-layout"
     fxLayout="column"
     fxFlex="grow"
     fxHide.lt-sm>

  <div class="flex-layout" fxLayout="column" fxFlex="grow">

    <md-drawer-container class="mat-elevation-z6" fxLayout="column" fxFlex="grow">

      <md-drawer #sidenav mode="side" opened="false" align="end"
                  (open)="sideNavOpen = true"
                  (close)="sideNavOpen = false">

        <div class="flex-layout pt-3 px-3" fxLayout="column" fxFlex="grow">

          <div *ngIf="(userLoggedIn | async); then secondaryContent; else userNotLoggedIn;"></div>

          <ng-template #secondaryContent>
            <div class="secondary-content flex-layout" fxLayout="column" fxFlex="grow">
              <md-tab-group class="flex-layout" fxLayout="column" fxFlex="grow" [dynamicHeight]="false">
                <md-tab>
                  <ng-template md-tab-label>
                    <div class="flex-layout" fxLayout="row" fxLayoutAlign="center center" fxFlex="grow">
                      <md-icon>people</md-icon>
                      <span class="ml-1">Friends ({{ friendsCount | async }})</span>
                    </div>
                  </ng-template>
                  <div class="flex-layout" fxFlexFill>
                    <ow-friends-list></ow-friends-list>
                  </div>
                </md-tab>
                <md-tab>
                  <ng-template md-tab-label>
                    <div class="flex-layout" fxLayout="row" fxLayoutAlign="center center" fxFlex="grow">
                      <md-icon>person_add</md-icon>
                      <span class="ml-1">
                        Requests ({{ friendRequestCount > 99 ? '99+' : friendRequestCount }})
                      </span>
                    </div>
                  </ng-template>
                  <div class="flex-layout" fxFlexFill>
                    <ow-friend-requests></ow-friend-requests>
                  </div>
                </md-tab>
              </md-tab-group>
            </div>
          </ng-template>

          <ng-template #userNotLoggedIn>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
              <div fxLayout="column">
                <div fxLayout="row">
                  <div fxLayout="column">
                    <p class="mat-headline text-center">To access this feature you need to:</p>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="14px">
                  <div fxLayout="column">
                    <button md-button class="btn-primary" [routerLink]="'./login'">Login</button>
                  </div>
                  <div fxLayout="column">
                    <span class="text-uppercase"><strong>or</strong></span>
                  </div>
                  <div fxLayout="column">
                    <button md-button class="btn-primary" [routerLink]="'./register'">Register</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </div>

      </md-drawer>

      <div class="flex-layout py-3 px-2" fxLayout="column" fxFlex="grow" fxLayoutGap="24px">

        <div class="flex-layout" fxLayout="column" fxFlex="grow" fxLayoutGap="8px">

          <div class="flex-layout px-1 py-1" fxLayout="column">

            <button md-icon-button class="btn-sidebar-toggle"
                    [ngClass]="{ 'collapsed' : sideNavOpen }"
                    [mdTooltipPosition]="'right'"
                    mdTooltip="Toggle Menu"
                    (click)="sidenav.toggle()">
              <md-icon>add</md-icon>
            </button>

          </div>

          <div class="flex-layout px-1 py-1" fxLayout="column">

            <button md-icon-button mdTooltip="Friends" [mdTooltipPosition]="'right'">
              <md-icon>gamepad</md-icon>
            </button>

          </div>

          <div class="flex-layout px-1 py-1" fxLayout="column">

            <button md-icon-button mdTooltip="Following" [mdTooltipPosition]="'right'">
              <md-icon>favorite</md-icon>
            </button>

          </div>

        </div>

        <div class="flex-layout" fxLayout="column">

          <div class="flex-layout px-1 py-1" fxLayout="column" fxFlex="grow">

            <md-menu class="min-width-0" #appMenu="mdMenu" [overlapTrigger]="false" xPosition="after" yPosition="above">
              <div class="flex-layout px-1 py-1" fxLayout="column" *ngFor="let theme of appThemesCatalog">
                <button md-icon-button mdTooltip="{{ theme.name }}"
                        [mdTooltipPosition]="'right'"
                        (click)="loadTheme(theme)">
                  <ow-theme-picker-swatch [theme]="theme"></ow-theme-picker-swatch>
                </button>
              </div>
            </md-menu>

            <button md-icon-button [mdMenuTriggerFor]="appMenu" mdTooltip="Change Theme" [mdTooltipPosition]="'right'">
               <md-icon>format_color_fill</md-icon>
            </button>

          </div>

        </div>

      </div>

    </md-drawer-container>

  </div>

</div>
