@import './friends-list/friends-list-theme';
@import './friend-requests/friend-requests-theme';

@mixin ow-sidebar-ink-bar-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-ink-bar {
    background-color: mat-color($foreground, text, 0.13);
  }

}

@mixin ow-sidebar-tab-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $text-color: mat-color($primary, default-contrast);

  .mat-tab-group {

    @include ow-sidebar-ink-bar-theme($theme);

    .mat-tab-label {
      color: $text-color;
    }

  }

}



@mixin ow-sidebar-left-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $drawer-backdrop-color: mat-color($primary) !default;
  $drawer-text-color: mat-color($primary, default-contrast) !default;

  .sidebar-left {

    @include ow-friends-list-theme($theme);
    @include ow-friend-requets-theme($theme);
    @include ow-sidebar-tab-theme($theme);

    .mat-drawer-container,
    .mat-drawer {
      background-color: $drawer-backdrop-color;
      color: $drawer-text-color;
    }

  }

}
