@import "../../../../style/colors";

.main-navbar-right {
    .navbar-toggler {
        color: $brand-primary;
        right: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }

    .btn-signup {
        background-color: transparent;
        border: 1px solid $brand-inverse;
        color: $brand-inverse;
    }
    .btn-signup:hover {
        border: 1px solid $brand-primary;
        color: $brand-primary;
    }

    .btn-login {
        background-color: $brand-inverse;
        color: $white;
    }
    .btn-login:hover {
        background-color: $brand-primary;
        color: $white;
    }
}

@media (max-width: 991px) {
  .main-navbar-right {
    .navbar-nav {
        padding: 0 0.5rem;
    }
    .navbar-collapse {
        top: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        background-color: $header-bg-color;
    }
    .navbar-toggler {
        top: 50%;
        right: 0;
        position: absolute;
        transform: translateY(-50%);
    }
    .navbar-toggler i {
        color: $brand-inverse;
    }
    /*
    .nav-item {
        border-bottom: 1px dotted $main-nav-border-color;
    }
    .nav-item:last-child {
        border: 0;
    }
    .nav-link {
        font-size: 1rem;
        color: $brand-inverse;
    }
    .nav-link:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    */
    .btn-login,
    .btn-signup {
        display: block;
    }
  }
}