<div class="main-navbar-right">

  <button class="navbar-toggler px-4" type="button"
          (click)="isCollapsed = !isCollapsed"
          data-toggle="collapse"
          data-target="#toggled-navigation"
          aria-controls="toggled-navigation"
          aria-expanded="!isCollapsed"
          aria-label="Toggle Navigation">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
  </button>
  <!-- end .navbar-toggle -->
  <div class="navbar-collapse collapse py-2" id="toggled-navigation" [ngbCollapse]="isCollapsed">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item my-1">
        <a class="btn btn-signup px-3 py-2 ml-md-2 ml-0" href="#">Sign Up</a>
      </li>
      <li class="nav-item my-1">
        <a routerLink="/login" class="btn btn-login px-3 py-2 ml-md-2 ml-0">Login</a>
      </li>
    </ul>
  </div>
  <!-- end .navbar-collapse -->
</div>
