@import "../../../style/colors";

:host /deep/ .heroes {
  
  .ngx-datatable {
    
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    .datatable-header {
        display: flex !important;
        flex: 1;
        align-items: center;
        background-color: $bordercolor;
        border: 0;
        border-radius: 0.25rem 0.25rem 0 0;
        margin-bottom: 0.25rem;
    }
    
  }

}
