<div class="heroes flex-layout px-3"
     fxLayout="column"
     fxLayoutGap="14px"
     fxFlex
     infiniteScroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="250"
     (scrolled)="onScrollDown()">
  <div class="flex-layout" fxLayout="row" fxFlex="noshrink">
    <ow-heroes-header class="flex-layout" fxLayout="column" fxFlex></ow-heroes-header>
  </div>
  <div class="flex-layout px-3" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
    <ow-heroes-chart class="flex-layout" fxLayout="column" fxFlex></ow-heroes-chart>
  </div>
  <div class="flex-layout px-3" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
    <ow-heroes-table class="flex-layout" fxLayout="column" fxFlex></ow-heroes-table>
  </div>
</div>
