<div class="row">
  <div class="col-12">
    <p class="h5">HEROES</p>
    <form [formGroup]="questionForm">
      <div class="row">
        <div class="col-3">
          <ow-select #platform></ow-select>
        </div>
        <div class="col-3">
          <ow-select #region></ow-select>
        </div>
        <div class="col-3">
          <ow-select #mode></ow-select>
        </div>
        <div class="col-3">
          <ow-select #role></ow-select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ow-search #search></ow-search>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
    <div class="col-12">
      <button (click)="logit()">click</button>
    </div>
</div>
