<div class="heroes"
     fxLayout="column"
     fxLayoutGap="30px"
     fxFlex
     infiniteScroll
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="250"
     (scrolled)="onScrollDown()">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
    <div class="pt-3 px-3" fxLayout="column" fxFlex.lg="20%" fxFlex.md>
      <md-select placeholder="Platform" [(ngModel)]="selectedPlatform">
         <md-option *ngFor="let platform of platforms" [value]="platform.value">{{ platform.name }}</md-option>
      </md-select>
    </div>
    <div class="pt-3 px-3" fxLayout="column" fxFlex.lg="20%" fxFlex.md>
      <md-select placeholder="Region" [(ngModel)]="selectedRegion">
         <md-option *ngFor="let region of regions" [value]="region.value">{{ region.name }}</md-option>
      </md-select>
    </div>
    <div class="pt-3 px-3" fxLayout="column" fxFlex.lg="20%" fxFlex.md>
      <md-select placeholder="Game Mode" [(ngModel)]="selectedGameMode">
         <md-option *ngFor="let gameMode of gameModes" [value]="gameMode.value">{{ gameMode.name }}</md-option>
      </md-select>
    </div>
  </div>

  <ow-heroes-chart></ow-heroes-chart>

  <ow-heroes-table></ow-heroes-table>

  <button md-button>
    <md-icon>more_horiz</md-icon>
    <span class="mat-caption">Load more entries</span>
  </button>

</div>
