<div class="flex-layout px-3" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
  <div class="flex-layout" fxLayout="column" fxFlex>

    <div class="flex-layout" fxLayout="row" fxFlex="noshrink">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <ow-search [placeholder]="'Filter Players'"></ow-search>
      </div>
    </div>

    <md-table #table [dataSource]="dataSource" mdSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- position column -->
      <ng-container mdColumnDef="position">
        <md-header-cell *mdHeaderCellDef md-sort-header>Rank</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.position}}</md-cell>
      </ng-container>

      <!-- platform column -->
      <ng-container mdColumnDef="platform">
        <md-header-cell *mdHeaderCellDef md-sort-header>Platform</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.platform}}</md-cell>
      </ng-container>

      <!-- region column -->
      <ng-container mdColumnDef="region">
        <md-header-cell *mdHeaderCellDef md-sort-header>Region</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.region}}</md-cell>
      </ng-container>

      <!-- player column -->
      <ng-container mdColumnDef="player">
        <md-header-cell *mdHeaderCellDef>Player</md-header-cell>
        <md-cell *mdCellDef="let row" fxLayoutAlign="start center">
          <img class="md-image md-image-24 mr-1" [src]="row.player.avatarUrl">
          <span><strong>{{row.player.tag}}</strong></span>
        </md-cell>
      </ng-container>

      <!-- level column -->
      <ng-container mdColumnDef="level">
        <md-header-cell *mdHeaderCellDef md-sort-header>Level</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.level}}</md-cell>
      </ng-container>

      <!-- competitive rating column -->
      <ng-container mdColumnDef="competitiveRating">
        <md-header-cell *mdHeaderCellDef md-sort-header>Rating</md-header-cell>
        <md-cell *mdCellDef="let row" fxLayoutAlign="start center">
          <img class="md-image md-image-24 mr-1" [src]="row.competitiveRating.rankUrl">
          <span>{{row.competitiveRating.rank}}</span>
        </md-cell>
      </ng-container>

      <!-- timeOnFire column -->
      <ng-container mdColumnDef="timeOnFire">
        <md-header-cell *mdHeaderCellDef md-sort-header>On Fire</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.timeOnFire}}</md-cell>
      </ng-container>

      <!-- kdRatio column -->
      <ng-container mdColumnDef="kdRatio">
        <md-header-cell *mdHeaderCellDef md-sort-header>K/D Ratio</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.kdRatio}}:1</md-cell>
      </ng-container>

      <!-- wins column -->
      <ng-container mdColumnDef="wins">
        <md-header-cell *mdHeaderCellDef md-sort-header>Wins</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.wins}}</md-cell>
      </ng-container>

      <!-- lost column -->
      <ng-container mdColumnDef="lost">
        <md-header-cell *mdHeaderCellDef md-sort-header>Losses</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.lost}}</md-cell>
      </ng-container>

      <!-- winRate column -->
      <ng-container mdColumnDef="winRate">
        <md-header-cell *mdHeaderCellDef md-sort-header>Win Rate</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.winRate}}</md-cell>
      </ng-container>

      <!-- timePlayed column -->
      <ng-container mdColumnDef="timePlayed">
        <md-header-cell *mdHeaderCellDef md-sort-header>Time Played</md-header-cell>
        <md-cell *mdCellDef="let row">{{row.timePlayed}}</md-cell>
      </ng-container>

      <!-- timePlayed column -->
      <ng-container mdColumnDef="mostPlayedHeroes">
        <md-header-cell *mdHeaderCellDef md-sort-header>Most Played</md-header-cell>
        <md-cell *mdCellDef="let row">
          <div class="flex-layout" fxLayout="column" fxFlex *ngFor="let hero of row.mostPlayedHeroes">
            <ow-hero-portrait [owCode]="hero.code"></ow-hero-portrait>
          </div>
        </md-cell>
      </ng-container>


      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>
</div>
