<div class="leaderboard-table flex-layout px-3" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
  <div class="flex-layout" fxLayout="column" fxFlex>

    <div class="flex-layout" fxLayout="row" fxFlex="noshrink">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <ow-search [placeholder]="'Filter Players'"></ow-search>
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- position column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Rank</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
      </ng-container>

      <!-- platform column -->
      <ng-container matColumnDef="platform">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Platform</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.platform}}</mat-cell>
      </ng-container>

      <!-- region column -->
      <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Region</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.region}}</mat-cell>
      </ng-container>

      <!-- player column -->
      <ng-container matColumnDef="player">
        <mat-header-cell *matHeaderCellDef>Player</mat-header-cell>
        <mat-cell *matCellDef="let row" fxLayoutAlign="start center">
          <img class="md-image md-image-24 mr-1" [src]="row.player.avatarUrl">
          <span><strong>{{row.player.tag}}</strong></span>
        </mat-cell>
      </ng-container>

      <!-- level column -->
      <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Level</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.level}}</mat-cell>
      </ng-container>

      <!-- competitive rating column -->
      <ng-container matColumnDef="competitiveRating">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>
        <mat-cell *matCellDef="let row" fxLayoutAlign="start center">
          <img class="md-image md-image-24 mr-1" [src]="row.competitiveRating.rankUrl">
          <span>{{row.competitiveRating.rank}}</span>
        </mat-cell>
      </ng-container>

      <!-- timeOnFire column -->
      <ng-container matColumnDef="timeOnFire">
        <mat-header-cell *matHeaderCellDef mat-sort-header>On Fire</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.timeOnFire}}</mat-cell>
      </ng-container>

      <!-- kdRatio column -->
      <ng-container matColumnDef="kdRatio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>K/D Ratio</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.kdRatio}}:1</mat-cell>
      </ng-container>

      <!-- wins column -->
      <ng-container matColumnDef="wins">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Wins</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.wins}}</mat-cell>
      </ng-container>

      <!-- lost column -->
      <ng-container matColumnDef="lost">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Losses</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.lost}}</mat-cell>
      </ng-container>

      <!-- winRate column -->
      <ng-container matColumnDef="winRate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Win Rate</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.winRate}}</mat-cell>
      </ng-container>

      <!-- timePlayed column -->
      <ng-container matColumnDef="timePlayed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Time Played</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.timePlayed}}</mat-cell>
      </ng-container>

      <!-- timePlayed column -->
      <ng-container matColumnDef="mostPlayedHeroes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Most Played</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="flex-layout" fxLayout="column" fxFlex *ngFor="let hero of row.mostPlayedHeroes">
            <ow-hero-portrait [hero]="hero"></ow-hero-portrait>
          </div>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
