<div class="career flex-layout" fxLayout="row" *ngIf="snapshotStats">
  <div fxLayout="column" fxLayoutGap="8px">
    <div fxLayout="row">
      <md-card>
        <md-card-header>
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start end">
            <div fxLayout="column">
              <span class="text-uppercase"><strong>Career</strong></span>
            </div>
            <div fxLayout="column">
              <span class="mat-caption">All statisitcs are per minute averages.</span>
            </div>
          </div>
        </md-card-header>
        <md-card-content>
          <div class="pt-3" fxLayout="row">
            <div class="flex-layout"
                 fxLayout="column"
                 fxFlex="50%"
                 *ngIf="combatChart">
              <div fxLayout="row" fxLayoutAlign="center center">
                <span class="mat-caption text-uppercase">Combat</span>
              </div>
              <div fxLayout="row">
                <ow-chart [chartType]="combatChart.chartType"
                  [labels] = "combatChart.xAxisLabels"
                  [datasets]="combatChart.datasets"
                  [legend]="combatChart.legend">
                </ow-chart>
              </div>
            </div>
            <div class="flex-layout"
                 fxLayout="column"
                 fxFlex="50%"
                 *ngIf="combatChart">
              <div fxLayout="row" fxLayoutAlign="center center">
                <span class="mat-caption text-uppercase">Game</span>
              </div>
              <div fxLayout="row">
                <ow-chart [chartType]="gameChart.chartType"
                  [labels] = "gameChart.xAxisLabels"
                  [datasets]="gameChart.datasets"
                  [legend]="gameChart.legend">
                </ow-chart>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

</div>
