.career {
  .avatar {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .level {
    border-radius: 0 0 2px 2px;
  }
  .stat-blocks {
    & > div {
      min-width: 120px;
    }
  }
}
