<div class="career px-3" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px" fxLayoutWrap>

  <div class="pt-3 text-center" fxLayout="column" fxFlex="96px">
    <img class="avatar md-image md-image-96" draggable="false" [src]="profile.portraitUrl">
    <span class="level mat-caption">{{profile.level}}</span>
  </div>

  <div class="pt-3" fxLayout="column">
    <span class="mat-body-1 text-uppercase mb-0">{{ profile.platform | uppercase }} {{ profile.region | uppercase }}</span>
    <span class="mat-display-3 text-uppercase text-word-break mb-0"><strong>{{ profile.overwatchName }}</strong></span>
    <span class="mat-caption">{{ profile.tag }}</span>
  </div>

  <div fxLayout="column" fxFlex fxFlex.lt-md="grow">
    <div class="stat-blocks" fxLayout="row" fxLayoutAlign.gt-md="end center" fxLayoutWrap>

      <div class="pt-3 px-3 text-center" fxLayout="column" fxFlex.gt-sm="initial" fxFlex.lt-md="33.333%" fxFlex.xs="50%" *ngIf="modeIndicator.mode === 'competitive'">
        <div [ngStyle]="{ 'height': '40px' }" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <img class="md-image" [src]="profile.competitiveRankUrl">
          <span class="mat-title mb-0"><strong>{{ profile.competitiveLevel}}</strong></span>
        </div>
        <span class="mat-caption text-uppercase">Skill Rating</span>
      </div>

      <div class="pt-3 px-3 text-center" fxLayout="column" fxFlex.gt-sm="initial" fxFlex.lt-md="33.333%" fxFlex.xs="50%">
        <div [ngStyle]="{ 'height': '40px' }" fxLayout="row" fxLayoutAlign="center center">
          <span class="mat-title mb-0"><strong>{{ profile[modeIndicator.mode].heroesTotalSnapshotStatistic.gameHistoryStatistic.gamesWon }}</strong></span>
        </div>
        <span class="mat-caption text-uppercase">Wins</span>
      </div>

      <div class="pt-3 px-3 text-center" fxLayout="column" fxFlex.gt-sm="initial" fxFlex.lt-md="33.333%" fxFlex.xs="50%">
        <div [ngStyle]="{ 'height': '40px' }" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <span class="mat-title mb-0"><strong>{{ profile[modeIndicator.mode].heroesTotalSnapshotStatistic.gameHistoryStatistic.timePlayed | owSecondsToHours }}</strong></span>
          <span class="mat-caption text-uppercase">hrs</span>
        </div>
        <span class="mat-caption text-uppercase">Play Time</span>
      </div>

    </div>
  </div>

</div>
