<div class="nav-list" fxLayout="row">

  <div fxLayout="row" fxHide.lt-md>

    <md-nav-list fxLayout="row" fxLayoutGap="8px">
      <button md-button *ngFor="let link of firstTwo" routerLink="{{ link.routerLink }}">{{link.name}}</button>
    </md-nav-list>

    <md-menu #remainingLinksMenu="mdMenu">
      <button md-menu-item *ngFor="let link of remaining" routerLink="{{ link.routerLink }}">{{ link.name }}</button>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="remainingLinksMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </div>

  <md-menu #mobileMenu="mdMenu">
    <button md-menu-item *ngFor="let link of navLinks" routerLink="{{ link.routerLink }}">{{ link.name }}</button>
  </md-menu>

  <button md-icon-button [mdMenuTriggerFor]="mobileMenu" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>

</div>
