<div class="nav-list"
     fxLayout="row"
     fxLayoutAlign="start center"
     fxLayoutGap="8px"
     fxHide.lt-md>

  <div fxLayout="column">

    <md-nav-list class="main-nav-menu"
                 [ngStyle]="{ padding: 0 }"
                 fxLayout="row"
                 fxLayoutGap="8px"
                 fxHide.lt-md>
       <a class="text-uppercase"
          md-list-item
          fxLayout="column"
          fxFlex="noshrink"
          *ngFor="let link of firstTwo"
          routerLink="{{ link.routerLink }}">{{ link.name }}</a>
    </md-nav-list>

  </div>

  <div fxLayout="column">

    <md-menu class="main-nav-menu" #appMenu="mdMenu" [overlapTrigger]="false">
      <md-nav-list fxFlex="180px" dense>
         <a md-list-item
            *ngFor="let link of remaining"
            routerLink="{{ link.routerLink }}">{{ link.name }}</a>
      </md-nav-list>
    </md-menu>

    <button class="min-width-0" md-button [mdMenuTriggerFor]="appMenu">
      <md-icon>more_horiz</md-icon>
    </button>

  </div>

</div>

<md-menu #navListMenu="mdMenu"
         xPosition="before"
         yPosition="below"
         [overlapTrigger]="false">
  <button routerLink="{{ link.routerLink }}"
          *ngFor="let link of navLinks"
          fxFlex="240px"
          md-menu-item>
          <md-icon *ngIf="link.materialIcon">{{ link.materialIcon }}</md-icon>
          <span>{{ link.name }}</span>
  </button>
</md-menu>

<button class="min-width-0"
        [mdMenuTriggerFor]="navListMenu"
        md-button
        fxHide.gt-sm>
  <md-icon>menu</md-icon>

</button>
