<div class="friends-list py-2" fxLayout="column" fxLayoutGap="8px" fxFlex>

  <div class="px-2" fxLayout="column" fxFlex *ngIf="!(sideBarSearchResults | async)?.display; else searchResults;">
    <mat-toolbar class="friends-list-toolbar">
      <div fxLayout="column" fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!(toggleClubCreation$ | async); else showAddNewClub;">
          <span class="mat-caption text-uppercase">({{ (clubs | async)?.length }}) Clubs</span>
          <button mat-icon-button matTooltip="Create a New Club" (click)="toggleClubCreation$.next(true)">
            <mat-icon>playlist_add</mat-icon>
          </button>
        </div>
        <ng-template #showAddNewClub>
          <ow-create-club (blur)="toggleClubCreation$.next(false)" (inProgress)="toggleClubCreation$.next(false)"></ow-create-club>
        </ng-template>
      </div>
    </mat-toolbar>
    <div class="scroll-content px-2 py-2" fxLayout="column" fxFlex *ngIf="hasFriends | async; else noFriends;" [perfect-scrollbar]>
      <div fxLayout="column" fxLayoutGap="8px" fxFlex="noshrink" fxLayoutAlign="start space-around">
        <ow-club *ngFor="let club of clubs | async" [club]="club"></ow-club>
      </div>
    </div>
    <ng-template #noFriends>
      <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <p class="text-heading mat-display-2 mb-2">Did you try turning it on and off?</p>
        <p>There's nothing to see here.</p>
      </div>
    </ng-template>
  </div>

  <ng-template #searchResults>
    <div fxLayout="column" fxFlex>
      <ow-search-results fxFill></ow-search-results>
    </div>
  </ng-template>

  <ow-search
    class="mx-2"
    [searchInProgress]="(sideBarSearchResults | async)?.searching"
    [placeholder]="'Add a friend'"
    (onSearch)="onSearch$.next($event);">
  </ow-search>

</div>

<!-- <div class="friends-list" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="14px" fxFlex>

  <div class="px-3" fxLayout="column" fxFlex *ngIf="(sideBarSearchResults | async)?.display; else showFriendsList;">
    <ow-search-results fxFill></ow-search-results>
  </div>

  <ng-template #showFriendsList>

    <mat-toolbar>

      <div fxLayout="row"
           fxLayoutAlign="space-between center"
           fxLayoutGap="14px"
           *ngIf="!(toggleClubCreation$ | async); else pendingClubCreation;"
           fxFill>
        <div fxLayout="row" fxLayout="start center" fxLayoutGap="8px">
          <span class="mat-caption text-uppercase">({{ (clubs | async)?.length }}) Clubs</span>
        </div>
        <button mat-icon-button matTooltip="Create a New Club" (click)="toggleClubCreation$.next(true)">
          <mat-icon>playlist_add</mat-icon>
        </button>
      </div>

      <ng-template #pendingClubCreation>
        <div fxLayout="row" fxLayoutAlign="start center" fxFill>
          <div fxLayout="column" fxFlex>
            <ow-create-club (blur)="toggleClubCreation$.next(false)" (inProgress)="toggleClubCreation$.next(false)"></ow-create-club>
          </div>
        </div>
      </ng-template>

    </mat-toolbar>

    <div class="scroll-content px-3" fxLayout="column" fxFlex *ngIf="hasFriends | async; else noFriends;">

      <div fxLayout="column" fxLayoutGap="14px" fxFlex="noshrink" fxLayoutAlign="start space-around" [perfect-scrollbar]>
        <ow-club *ngFor="let club of clubs | async" [club]="club"></ow-club>
      </div>

    </div>

    <ng-template #noFriends>
      <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <p class="text-heading mat-display-2 mb-2">Did you try turning it on and off?</p>
        <p>There's nothing to see here.</p>
      </div>
    </ng-template>

  </ng-template>

  <ow-search
    [searchInProgress]="(sideBarSearchResults | async)?.searching"
    [placeholder]="'Add a friend'"
    (onSearch)="onSearch$.next($event)">
  </ow-search>

</div> -->
