<div class="friends-list" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="14px" fxFlex>

  <div class="px-3" fxLayout="column" fxFlex *ngIf="(sideBarSearchResults | async)?.display; else showFriendsList;">
    <ow-search-results fxFill></ow-search-results>
  </div>

  <ng-template #showFriendsList>

    <md-toolbar>

      <div fxLayout="row"
           fxLayoutAlign="space-between center"
           fxLayoutGap="14px"
           *ngIf="!(toggleClubCreation$ | async); else pendingClubCreation;"
           fxFill>
        <div fxLayout="row" fxLayout="start center" fxLayoutGap="8px">
          <span class="mat-caption text-uppercase">({{ (clubs | async)?.length }}) Clubs</span>
        </div>
        <button md-icon-button mdTooltip="Create a New Club" (click)="toggleClubCreation$.next(true)">
          <md-icon>playlist_add</md-icon>
        </button>
      </div>

      <ng-template #pendingClubCreation>
        <div fxLayout="row" fxLayoutAlign="start center" fxFill>
          <div fxLayout="column" fxFlex>
            <ow-create-club (blur)="toggleClubCreation$.next(false)" (inProgress)="toggleClubCreation$.next(false)"></ow-create-club>
          </div>
        </div>
      </ng-template>

    </md-toolbar>

    <div class="scroll-content px-3" fxLayout="column" fxFlex *ngIf="hasFriends | async; else noFriends;">

      <div fxLayout="column" fxLayoutGap="14px" fxFlex="noshrink" fxLayoutAlign="start space-around" [perfect-scrollbar]>
        <ow-club *ngFor="let club of clubs | async" [club]="club"></ow-club>
      </div>

    </div>

    <ng-template #noFriends>
      <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <p class="text-heading mat-display-2 mb-2">Did you try turning it on and off?</p>
        <p>There's nothing to see here.</p>
      </div>
    </ng-template>

  </ng-template>

  <ow-search
    [searchInProgress]="(sideBarSearchResults | async)?.searching"
    [placeholder]="'Add a friend'"
    (onSearch)="onSearch$.next($event)">
  </ow-search>

</div>
