<div class="friends-list py-3" fxLayout="column" fxLayoutGap="14px" fxFlexFill>

  <div *ngIf="(sideBarSearchResults | async)?.display; then showSearchResults; else showTabContent;"></div>

  <ng-template #showSearchResults>
    <ow-search-results 
    class="flex-layout px-2 py-2"
    fxLayout="column"
    fxFlex="grow"
    fxLayoutGap="14px"
    ></ow-search-results>
  </ng-template>

  <ng-template #showTabContent>

    <div *ngIf="hasFriends | async; then friendsList; else noFriends;"></div>

    <ng-template #noFriends>
      <div class="px-3 flex-layout" fxLayout="column" fxFlex="grow">
        <div fxLayout="column" fxLayoutAlign="end center" fxFlex="1 1 55%">
          <p class="text-heading mat-display-2 mb-2">Did you try turning it on and off?</p>
        </div>
        <div fxLayout="column" fxFlex="1 1 45%">
          <p>There's nothing to see here.</p>
        </div>
      </div>
    </ng-template>

    <ng-template #friendsList>

      <div *ngIf="toggleClubCreation$ | async; then pendingClubCreation; else clubHeader;"></div>

      <ng-template #clubHeader>
        <div class="flex-layout" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px" fxFlex="noshrink">
          <div class="flex-layout" fxLayout="column" fxFlex="grow">
            <span fxLayout="row" fxLayoutAlign="start center">
              <md-icon class="mr-2">group</md-icon> ({{ (clubs | async)?.length }}) Clubs
            </span>
          </div>
          <div class="flex-layout" fxLayout="column" fxFlex="noshrink">
            <button class="min-width-0" md-button mdTooltip="Create a New Club" (click)="toggleClubCreation$.next(true)">
              <md-icon>playlist_add</md-icon>
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template #pendingClubCreation>
        <ow-create-club (blur)="toggleClubCreation$.next(false)" (inProgress)="toggleClubCreation$.next(false)"></ow-create-club>
      </ng-template>

      <div class="ow-tab-content flex-layout px-2 py-2"
           fxLayout="column"
           fxLayoutGap="8px"
           fxFlex="grow"
           [perfect-scrollbar]>

        <ng-container *ngIf="(clubs | async)?.length">
          <ow-club class="flex-layout"
                   fxLayout="row"
                   fxFlex="0 0 auto"
                   *ngFor="let club of clubs | async"
                   [club]="club">
          </ow-club>
        </ng-container>

      </div>

    </ng-template>

  </ng-template>

  <div class="flex-layout" fxLayout="column" fxFlex="noshrink">
    <ow-search
      [searchInProgress]="(sideBarSearchResults | async)?.searching"
      [placeholder]="'Add a friend'"
      (onSearch)="onSearch$.next($event)">
    </ow-search>
  </div>

</div>
