<div class="profile-header" *ngIf="player">

  <div class="container">

    <div class="row">

      <div class="col">

        <div class="row align-items-center justify-content-lg-start justify-content-center">

          <div class="col-auto pl-3 mb-3">
            <img [src]="player.portraitUrl" alt="" class="md-image rounded">
          </div><!-- end .col-auto -->

          <div class="col-lg-4 col-auto px-3 mb-3">

            <div class="platform-region">

              <span class="d-inline-block small text-uppercase rounded mr-1">
                {{ player.platform }}
              </span><!-- end .platform -->

              <span class="d-inline-block small text-uppercase rounded mr-1" *ngIf="player.region">
                {{ player.region }}
              </span><!-- end .region -->

            </div><!-- end .platform-region -->

            <div class="player d-flex align-items-center">

              <div class="player-level d-inline-block">
                <span class="level">{{ player.level }}</span>
                <img [src]="player.levelUrl" alt="" class="level-border">
              </div><!-- end div -->

              <span class="player-tag h3">{{ player.overwatchName }}</span>

            </div><!-- end .player-tag -->

          </div><!-- end .col -->

        </div><!-- end .row -->

        <div class="row">

          <div class="col text-lg-left text-center">

            <div class="user-actions mb-4">

              <button class="btn btn-outline-primary d-inline-flex align-items-center mr-2"
                type="button"
                name="button"
                (click)="renew()"
                [ngSwitch]="renewInProgress">

                <ng-container *ngSwitchCase="false">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                  <span>Renew</span>
                </ng-container>

                <ng-container *ngSwitchCase="true">
                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                  <span>Updating</span>
                </ng-container>

              </button><!-- end button -->

              <button class="btn btn-outline-primary d-inline-flex align-items-center mr-2"
                type="button" name="button">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                <span>Share</span>
              </button><!-- end button -->

              <button class="btn btn-outline-primary d-inline-flex align-items-center mr-2"
                type="button"
                name="button"
                (click)="follow(player)">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Follow</span>
              </button><!-- end button -->

            </div><!-- end .user-actions -->

          </div><!-- end .col -->

        </div><!-- end .row -->

      </div><!-- end .col -->

      <div class="col-lg col-12 overview-stats">

        <div class="row align-items-center">

          <div class="col-md col-6 text-center mb-3">

            <div class="stat-block d-inline-flex align-items-center mb-1">
              <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-7.png"
                   alt="player rank"
                   class="rank d-inline-flex mr-1">
              <span>{{ player.competitiveLevel }}</span>
            </div><!-- end .stat-block -->

            <div class="label mb-2">
              <span class="text-uppercase">Skill Rating</span>
            </div><!-- end label -->

            <div class="trend text-right py-2">
              <span class="change gain mr-1">+0.01%</span>
              <span class="position">- 1124TH</span>
            </div><!-- end .trend -->

          </div><!-- end .col -->

          <div class="col-md col-6 text-center mb-3" *ngIf='snapshotStats'>

            <div class="stat-block d-inline-flex align-items-center mb-1">
              <span>{{ getStat('winrate') | number : '1.2-2' || 0 }}%</span>
            </div><!-- end .stat-block -->

            <div class="label mb-2">
              <span class="text-uppercase">Win Rate</span>
            </div><!-- end label -->

            <div class="trend text-right py-2">
              <span class="change loss mr-1">-1.56%</span>
              <span class="position">- 74TH</span>
            </div><!-- end .trend -->

          </div><!-- end .col -->

          <div class="col-md col-6 text-center mb-3">

            <div class="stat-block d-inline-flex align-items-center mb-1">
              <span>{{ getStat('leaderboardrating') || '-' }}</span>
            </div><!-- end .stat-block -->

            <div class="label mb-2">
              <span class="text-uppercase">US Rank</span>
            </div><!-- end label -->

            <div class="trend text-right py-2">
              <span class="change loss mr-1">-1.56%</span>
              <span class="position">- 74TH</span>
            </div><!-- end .trend -->

          </div><!-- end .col -->

          <div class="col-md col-6 text-center mb-3">

            <div class="stat-block d-inline-flex align-items-center mb-1">
              <span>{{ getStat('wins') }} - {{ getStat('loss') }}</span>
            </div><!-- end .stat-block -->

            <div class="label mb-2">
              <span class="text-uppercase">Win - Loss</span>
            </div><!-- end label -->

            <div class="trend text-right py-2">
              <span class="change mr-1" [class.loss]="statChanges.winPercentage < 0" [class.gain]="statChanges.winPercentage > 0"><ng-container *ngIf="statChanges.winPercentage > 0">+</ng-container>{{ statChanges.winPercentage | percent:'1.0-2' }}</span>
              <span class="position">- 74TH</span>
            </div><!-- end .trend -->

          </div><!-- end .col -->

        </div><!-- end .row -->

      </div><!-- end .col -->

    </div><!-- end .row -->

  </div><!-- end .container -->

</div><!-- end .profile-header -->
