<div class="row mb-3">
  <div class="col-12">
    <div class="content rounded px-3 pt-3">
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-12 col-md-12 mb-3">
          <div class="row align-items-center">
            <div class="col-auto pl-3 pr-0">
              <img [src]="player.portraitUrl" alt="" class="avatar rounded">
            </div>
            <!-- end .col-auto -->
            <div class="col py-2">
              <div class="row mb-1">
                <div class="col-12">
                  <span class="d-inline-block small text-uppercase content-outline rounded px-2 py-1">
                    {{ player.platform }}</span>
                  <span class="d-inline-block small text-uppercase content-outline rounded px-2 py-1" *ngIf="player.region">
                    {{ player.region }}</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h2 font-weight-bold mb-0 text-uppercase">{{ player.overwatchName }}</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
        </div>
        <!-- end .col -->
        <div class="col-xl-8 col-lg-12 col-md-12">
          <div class="row">
            <div class="col-xl-3 col-md-6 col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm col-12">
                  <span class="small">Skill Rating</span>
                </div>
                <!-- end .col -->
                <div class="col-auto px-3">
                  <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h5 font-weight-bold">{{ player.competitiveLevel }}</span>
                  <sup class="text-uppercase mx-1">99th</sup>
                </div>
                <!-- end .col -->
              </div>
            </div>
            <!-- end .col -->
            <div class="col-xl-3 col-md-6 col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm col-12">
                  <span class="small">US Rank</span>
                </div>
                <!-- end .col -->
                <div class="col-auto px-3">
                  <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_down</i>0.11% )</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h5 font-weight-bold">{{ getStat('leaderboardrating') || '-' }}</span>
                </div>
                <!-- end .col -->
              </div>
            </div>
            <!-- end .col -->
            <div class="col-xl-3 col-md-6 col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm col-12">
                  <span class="small text-u">Win/Loss</span>
                </div>
                <!-- end .col -->
                <div class="col-auto px-3">
                  <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h5 font-weight-bold">{{ getStat('wins') }} - {{ getStat('loss') }}</span>
                </div>
                <!-- end .col -->
              </div>
            </div>
            <!-- end .col -->
            <div class="col-xl-3 col-md-6 col-6 mb-3">
              <div class="row align-items-center">
                <div class="col-sm col-12">
                  <span class="small text-u">Win Rate</span>
                </div>
                <!-- end .col -->
                <div class="col-auto px-3">
                  <span class="small d-flex align-items-center">(<i class="material-icons">arrow_drop_up</i>0.11% )</span>
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
              <div class="row">
                <div class="col-12">
                  <span class="h5 font-weight-bold">{{ getStat('winrate') | number : '1.2-2' || 0 }}%</span>
                  <sup class="text-uppercase mx-1">1,042th</sup>
                </div>
                <!-- end .col -->
              </div>
            </div>
            <!-- end .col -->
          </div>
          <!-- end .row -->
        </div>
        <!-- end .col -->
      </div>
      <!-- row -->
      <div class="row">
        <div class="col-12 text-lg-left text-center mb-3">
          <button class="btn btn-outline-primary mr-2" type="button" name="button">
              <span class="small">Renew</span>
            </button>
          <button class="btn btn-outline-primary mr-2" type="button" name="button">
              <span class="small">Share</span>
            </button>
          <button class="btn btn-outline-primary mr-2" type="button" name="button">
              <span class="small">Follow</span>
            </button>
        </div>
      </div>
      <!-- end .row -->
    </div>
    <!-- end .content -->
  </div>
  <!-- end .col -->
</div>
<!-- end .row -->
