@mixin ow-input-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $text-color: mat-color($primary, default-contrast);

  .mat-input-container {

    .mat-input-underline {
      background-color: $text-color;
    }

    .mat-input-placeholder {
      color: $text-color;
    }

  }

}

@mixin ow-card-input-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-card {

    &.ow-primary {
      @include ow-input-theme($theme);
    }

  }

}

@mixin mat-input-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @include ow-card-input-theme($theme);

}
