@mixin search-component-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .form-group {
    i {
      color: mat-color($foreground, text);
    }
  }

}
