<div class="compared-profiles flex-layout" fxLayout="column" fxFlex *ngIf="players">
  <div class="flex-layout px-3 py-3" fxLayout="row">
    <span class="mat-caption text-uppercase"><strong>Comparing {{players.length}} profiles.</strong></span>
  </div>
  <div class="flex-layout" fxLayout="row" fxFlex="noshrink" fxLayoutWrap>
    <div class="flex-layout px-3 py-3" fxLayout="column" fxFlex="grow" fxLayoutGap="8px" *ngFor="let player of players">
      <div class="flex-layout" fxLayout="row" fxLayoutAlign="start center">
        <div class="flex-layout" fxLayout="column" fxFlex="noshrink">
          <img class="md-image md-image-36" [src]="player.portraitUrl">
        </div>
        <div class="flex-layout px-2" fxLayout="column" fxFlex="grow">
          <div class="flex-layout" fxLayout="row">
            <span class="mat-caption text-uppercase"><strong>{{player.tag}}</strong></span>
          </div>
        </div>
      </div>
      <div class="flex-layout" fxLayout="row">
        <div class="flex-layout" fxLayout="column" fxFlex>
          <div class="flex-layout" fxLayout="row">
            <span class="mat-caption text-uppercase"><strong>platform</strong></span>
          </div>
          <div class="flex-layout pt-1" fxLayout="row">
            <div class="flex-layout" fxLayout="column" fxFlex>
              <md-radio-group fxLayoutGap="8px" [ngModel]="player.platform" (change)="changePlatform(player, $event)">
                <md-radio-button [disabled]="hasPlatform(player, 'pc')" value="pc">PC</md-radio-button>
                <md-radio-button [disabled]="hasPlatform(player, 'psn')" value="psn">PSN</md-radio-button>
                <md-radio-button [disabled]="hasPlatform(player, 'xbl')" value="xbl">XBL</md-radio-button>
              </md-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-layout" fxLayout="row">
        <div class="flex-layout" fxLayout="column" fxFlex>
          <div class="flex-layout" fxLayout="row">
            <span class="mat-caption text-uppercase"><strong>region</strong></span>
          </div>
          <div class="flex-layout pt-1" fxLayout="row">
            <div class="flex-layout" fxLayout="column" fxFlex>
              <md-radio-group fxLayoutGap="8px" [ngModel]="player.region" (change)="changeRegion(player, $event)">
                <md-radio-button [disabled]="hasRegion(player, 'us')" value="us">US</md-radio-button>
                <md-radio-button [disabled]="hasRegion(player, 'eu')" value="eu">EU</md-radio-button>
                <md-radio-button [disabled]="hasRegion(player, 'kr')" value="kr">KR</md-radio-button>
                <md-radio-button [disabled]="hasRegion(player, 'ch')" value="ch">CH</md-radio-button>
                <md-radio-button [disabled]="hasRegion(player, '')" value="">GBL</md-radio-button>
              </md-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
