@import "../../../../../../style/colors";

.global-sidebar-left-friends-list-club {

  .btn-club-name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .skill-rating {
    margin-top: 1px;
  }

  .draggable-item:hover {
    cursor: pointer;
    background-color: $gray-lightest;
  }

}
