<div class="row footer-nav">
  <ul class="nav">
    <li class="nav-item footer-item">
      <a class="nav-link" [routerLink]="['home']">Home</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" [routerLink]="['following']">Following</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" [routerLink]="['leaderboard']">Leaderboard</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" [routerLink]="['esports']">E-Sports</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" [routerLink]="['live']">Live</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" [routerLink]="['news']">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['friends']">Friends</a>
    </li>
  </ul>
</div>

<div class="row">
  <span class="mx-auto tos">
    Terms of Service - Privacy Policy
  </span>
</div>

<div class="row mb-3">
  <span class="mx-auto copy">
    <img src="/img/stplogo.svg" class="logo">
    &copy; Stop The Payload. Trademarks, Copyrights, and brands are the property of their respective owners.
  </span>
</div>
