<div class="heroes-header">
  <div class="row mb-3">
    <div class="col-12">
      <div class="content rounded px-3 pt-3">
        <div class="row align-items-center">

          <div class="col-xl-4 col-md-6 col-12 mb-3">
            <div class="row align-items-center">
              <div class="col-4">
                <span class="small text-uppercase">Platform</span>
              </div>
              <div class="col-8">
                <div ngbDropdown>
                  <button class="btn btn-outline-primary py-2 small text-left" id="dropdownBasic1" ngbDropdownToggle>PC</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item small pl-2 pr-4 py-2">XBL</button>
                    <button class="dropdown-item small pl-2 pr-4 py-2">PSN</button>
                  </div>
                </div>
                <!-- end ngbDropdown -->
              </div>
            </div>
            <!-- end .row -->
          </div>
          <!-- end .col -->

          <div class="col-xl-4 col-md-6 col-12 mb-3">
            <div class="row align-items-center">
              <div class="col-4">
                <span class="small text-uppercase">Region</span>
              </div>
              <div class="col-8">
                <div ngbDropdown>
                  <button class="btn btn-outline-primary py-2 small text-left" id="dropdownBasic1" ngbDropdownToggle>Global</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item small pl-2 pr-4 py-2">United States</button>
                    <button class="dropdown-item small pl-2 pr-4 py-2">Europe</button>
                    <button class="dropdown-item small pl-2 pr-4 py-2">Korea</button>
                    <button class="dropdown-item small pl-2 pr-4 py-2">China</button>
                  </div>
                </div>
                <!-- end ngbDropdown -->
              </div>
            </div>
            <!-- end .row -->
          </div>
          <!-- end .col -->

          <div class="col-xl-4 col-12 mb-3">
            <div class="row align-items-center">
              <div class="col-4">
                <span class="small text-uppercase">Game Mode</span>
              </div>
              <div class="col-8">
                <div ngbDropdown>
                  <button class="btn btn-outline-primary py-2 small text-left" id="dropdownBasic1" ngbDropdownToggle>Competitive</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item small pl-2 pr-4 py-2">Quick Play</button>
                  </div>
                </div>
                <!-- end ngbDropdown -->
              </div>
            </div>
            <!-- end .row -->
          </div>
          <!-- end .col -->

        </div>
        <!-- end .row -->
      </div>
      <!-- end .content -->
    </div>
    <!-- end .col -->
  </div>
  <!-- end .row -->
</div>
