<div class="lifetime-stats flex-layout py-3 px-3" fxLayout="row">
  <div class="flex-layout" fxLayout="column" fxFlex>
    <div class="flex-layout" fxLayout="row">
      <div class="flex-layout" fxLayout="column" fxFlex>
        <div>
          <span class="text-uppercase"><strong>Recently Played</strong></span>
          <span class="mat-caption">% of games played</span>
        </div>
      </div>
    </div>
    <div class="flex-layout" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">

      <div class="flex-layout pt-3" fxLayout="column" fxFlex>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout" fxLayout="column" fxLayoutAlign="start center" fxFlex>
            <ow-hero-portrait [class]="'md-image-48'" [owCode]="'0x02E0000000000029'"></ow-hero-portrait>
          </div>
        </div>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout text-center py-1" fxLayout="column" fxFlex>
            <span class="text-uppercase"><strong>35%</strong></span>
          </div>
        </div>
      </div>

      <div class="flex-layout pt-3" fxLayout="column" fxFlex>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout" fxLayout="column" fxLayoutAlign="start center" fxFlex>
            <ow-hero-portrait [class]="'md-image-48'" [owCode]="'0x02E0000000000029'"></ow-hero-portrait>
          </div>
        </div>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout text-center py-1" fxLayout="column" fxFlex>
            <span class="text-uppercase"><strong>35%</strong></span>
          </div>
        </div>
      </div>

      <div class="flex-layout pt-3" fxLayout="column" fxFlex>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout" fxLayout="column" fxLayoutAlign="start center" fxFlex>
            <ow-hero-portrait [class]="'md-image-48'" [owCode]="'0x02E0000000000029'"></ow-hero-portrait>
          </div>
        </div>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout text-center py-1" fxLayout="column" fxFlex>
            <span class="text-uppercase"><strong>35%</strong></span>
          </div>
        </div>
      </div>

      <div class="flex-layout pt-3" fxLayout="column" fxFlex>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout" fxLayout="column" fxLayoutAlign="start center" fxFlex>
            <ow-hero-portrait [class]="'md-image-48'" [owCode]="'0x02E0000000000029'"></ow-hero-portrait>
          </div>
        </div>
        <div class="flex-layout" fxLayout="row">
          <div class="flex-layout text-center py-1" fxLayout="column" fxFlex>
            <span class="text-uppercase"><strong>35%</strong></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
