<div *ngIf="!(blogPosts | async); then search; else news;"></div>

<ng-template #search>
  <ow-page-spinner></ow-page-spinner>
</ng-template>

<ng-template #news>

  <div class="news"
       infiniteScroll
       [infiniteScrollDistance]="0"
       [infiniteScrollUpDistance]="1"
       [infiniteScrollThrottle]="250"
       (scrolledUp)="onScrollUp(state)"
       (scrolled)="onScrollDown(state)">

    <div class="news-page-header fixed-top"
         ngStyle.gt-xs="padding-left: 64px; margin-top: 64px;"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex="grow">

      <div class="content"
           fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="30px"
           fxFlex="grow">

        <div fxLayout="column" fxFlex="grow">
          <ow-page-state [state]="state"
                         (change)="onPageStateChange($event)"></ow-page-state>
        </div>

      </div>

    </div>

    <div class="px-3 py-3" fxLayout="row" fxFlex="grow" fxLayoutWrap>

      <div class="px-3 py-3"
           fxLayout="column"
           fxLayoutAlign="center center"
           fxFlex.xs="100%"
           fxFlex.sm="50%"
           fxFlex.md="33.333%"
           fxFlex.lg="25%"
           *ngFor="let post of blogPosts | async">

        <ow-news-post-card [post]="post"></ow-news-post-card>

      </div>

    </div>

  </div>

</ng-template>
