<div class="news" fxLayout="column" fxLayoutGap="30px" fxFlex *ngIf="newsPagination$ | async as paginationParams">
  <md-toolbar *ngIf="newsFilters$ | async as filters">
    <ow-page-filters [filters]="filters" (change)="onPageFilterChange($event)"></ow-page-filters>
  </md-toolbar>
  <div fxLayout="row"
       fxLayoutWrap
       infiniteScroll
       [infiniteScrollDistance]="0"
       [infiniteScrollUpDistance]="1"
       [infiniteScrollThrottle]="250"
       (scrolled)="onScrollDown(paginationParams, blogPosts)"
       *ngIf="blogPosts$ | async as blogPosts; else spinner">
    <div class="pt-3 px-3"
         fxLayout="column"
         fxFlex.xs="100%"
         fxFlex.sm="50%"
         fxFlex.md="33.333%"
         fxFlex.lg="25%"
         *ngFor="let post of blogPosts">
      <ow-news-post-card [post]="post"></ow-news-post-card>
    </div>
    <div class="pt-3 px-3" fxLayout="column" fxFlex="100%" *ngIf="blogPosts.length; else noitems">
      <button md-button (click)="onScrollDown(paginationParams, blogPosts)">
        <span>Load More</span>
      </button>
    </div>
  </div>
  <ng-template #noitems>
    <div class="pt-3 px-3" fxLayout="column" fxLayoutAlign="center center" fxFlex>
      <span class="mat-title">No posts to display.</span>
    </div>
  </ng-template>
  <ng-template #spinner>
    <ow-page-spinner></ow-page-spinner>
  </ng-template>
</div>
