<button mat-button class="player-profile-button px-2 py-2" *ngIf="playerData$ | async as player" (click)="navigateToProfile(playerData$)" fxFlex="grow">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <img class="md-image md-image-48" [src]="player.portraitUrl">
    <div class="text-left" fxLayout="column" fxFlex>
      <span class="player-tag mat-caption text-overflow"><small>{{player.tag}}</small></span>
      <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start end">
        <span class="player-overwatch-name mat-body-1 text-overflow text-uppercase"><strong>{{player.overwatchName}}</strong></span>
        <span class="player-platform-region mat-caption text-uppercase"><small>{{player.platform}} {{player.region}}</small></span>
      </div>
      <div fxLayout="row" fxLayoutGap="4px" *ngIf="resultsMode && player.snapshotStatistics.length">
        <img class="md-image md-image-18" [src]="player.snapshotStatistics[0].profileSnapshotStatistic.profileStatistic.competitiveRankUrl">
        <span class="mat-caption">{{player.snapshotStatistics[0].profileSnapshotStatistic.profileStatistic.competitiveLevel}}</span>
      </div>
    </div>
    <mat-icon>chevron_right</mat-icon>
  </div>
</button>
