<div class="user-actions" fxLayout="row">

  <div fxLayout="row" fxHide.lt-md>
    <button *ngFor="let link of navLinks" routerLink="{{ link.routerLink }}" md-button>{{ link.name }}</button>
  </div>

  <md-menu #appMenu="mdMenu" xPosition="before">
    <button md-menu-item *ngFor="let link of navLinks" routerLink="{{ link.routerLink }}">
      <span>{{ link.name }}</span>
    </button>
  </md-menu>

  <button md-icon-button [mdMenuTriggerFor]="appMenu" fxHide.gt-sm>
    <md-icon>account_box</md-icon>
  </button>

</div>
