<div class="compare-profile-list">
  <div class="row mb-3">
      <div class="col-12">
        <div class="content rounded px-3 pt-3">    
          <div class="row align-items-center">

            <div class="col-md-3 col-4 mb-3">
              <div class="px-1 py-1">
                <div class="profile-card rounded px-2 py-2">
                  <div class="row align-items-center">
                    <div class="col-auto profile-avatar pl-3">
                      <img src="https://blzgdapipro-a.akamaihd.net/game/unlocks/0x0250000000000C8D.png" alt="" class="avatar-sm rounded">
                    </div>
                    <div class="col">
                      <p class="small battle-tag mb-0 text-uppercase font-weight-bold">Cyllo#2112</p>
                      <p class="small text-uppercase mb-0 skill-rating">2685</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .col -->
            
          </div>
          <!-- end .row -->
        </div>
        <!-- end .content -->
      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->
  </div>