<div class="compare flex-layout px-3 pt-3" fxLayout="column" fxFlex>
  <div class="flex-layout" fxLayout="row" fxFlex="noshrink">
    <div class="flex-layout" fxLayout="column" fxFlex="240px">
      <ow-compared-profiles [profiles]="profiles | async" [selectedKeys]="selectedProfileKeys | async" (change)="selectedProfileKeys.next($event)"></ow-compared-profiles>
    </div>
    <div class="flex-layout px-3" fxLayout="column" fxLayoutGap="30px" fxFlex>

      <div class="flex-layout" fxLayout="row">
        <div class="flex-layout" fxLayout="column" fxFlex>
          <div class="flex-layout pt-3" fxLayout="row">
            <div class="flex-layout" fxLayout="column" fxFlex>
              <ow-chart
                *ngIf="datasets | async as chartDataset"
                [labels]="chartData.xAxisLabels"
                [datasets]="chartDataset"
                [chartType]="chartData.chartType"
                [legend]="chartData.legend">
              </ow-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-layout" fxLayout="row">
        <div class="flex-layout" fxLayout="column" fxFlex>
          <!-- <ow-list-of-compareable-heroes [heroes]="heroes | async" [selectedHeroes]="selectedHeroes | async" (change)="selectedHeroes.next($event)"></ow-list-of-compareable-heroes> -->
        </div>
      </div>

      <div class="flex-layout" fxLayout="row">
        <div class="flex-layout" fxLayout="column" fxFlex>
          <ow-stat-category-block (change)="selectedStatCategories.next($event)"></ow-stat-category-block>
        </div>
      </div>

    </div>
  </div>
</div>
