<div class="compare flex-layout px-3 pt-3" fxLayout="column" fxFlex>
  <div class="flex-layout" fxLayout="row" fxFlex="noshrink">
    <div class="flex-layout" fxLayout="column" fxFlex="240px">
      <ow-compared-profiles></ow-compared-profiles>
    </div>
    <div class="flex-layout px-3" fxLayout="column" fxLayoutGap="30px" fxFlex>

      <div class="flex-layout" fxLayout="row">
        <div class="flex-layout" fxLayout="column" fxFlex>
          <div class="flex-layout pt-3" fxLayout="row">
            <div class="flex-layout" fxLayout="column" fxFlex>
              <ow-chart
                [labels]="chartData.xAxisLabels"
                [datasets]="chartData.datasets"
                [chartType]="chartData.chartType"
                [legend]="chartData.legend">
              </ow-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-layout" fxLayout="row">
        <div class="flex-layout" fxLayout="column" fxFlex>
          <ow-list-of-compareable-heroes></ow-list-of-compareable-heroes>
        </div>
      </div>

      <div class="flex-layout" fxLayout="row">
        <div class="flex-layout" fxLayout="column" fxFlex>
          <ow-stat-category-block></ow-stat-category-block>
        </div>
      </div>

    </div>
  </div>
</div>
