@import './career/career-theme';
@import './snapshots/snapshots-theme';
@import './overview/overview-theme';
@import './heroes/heroes-theme';

@mixin ow-profile-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
}

@mixin ow-profile-theme($theme) {
  .profile {
    @include ow-profile-career-theme($theme);
    @include ow-snapshots-theme($theme);
    @include ow-overview-theme($theme);
    @include ow-heroes-theme($theme);
    @include ow-profile-component-theme($theme);
  }
}
