<div class="profile" fxLayout="column" fxLayoutGap="30px" fxFlex *ngIf="displayProfile | async as currentProfile; else loadingBlock">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
    <div class="px-3" fxLayout="column" fxFlex.gt-sm="initial" fxFlex.lt-md>
      <ow-platform-region
        [players]="players"
        [currentProfile]="currentProfile"
        (change)="changeProfile$.next($event)">
      </ow-platform-region>
    </div>
    <div class="px-3" fxLayout="column" fxFlex.gt-sm="initial" fxFlex.lt-md>
      <ow-game-mode-toggle
        (gameMode)="selectedGameMode$.next($event)"
        [modeIndicator]="modeIndicator">
      </ow-game-mode-toggle>
    </div>
    <div class="pt-3 px-3" fxLayout="column" fxFlex>
      <div fxLayout="row" fxLayoutAlign.gt-md="end center" fxLayoutGap="8px">
        <button class="ow-primary" mat-button (click)="reScrapeProfile$.next()">
          <mat-icon>refresh</mat-icon>
          <span class="text-uppercase ml-1">Renew</span>
        </button>
        <button class="battle-net" mat-button routerLink="/register">
          <mat-icon>link</mat-icon>
          <span class="text-uppercase ml-1">Claim via Battle.net</span>
        </button>
      </div>
    </div>
  </div>

  <ow-profile-career [profile]="currentProfile" [modeIndicator]="modeIndicator | async"></ow-profile-career>

  <div fxLayout="row">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" fxFlex>
      <mat-tab label="Overview">
        <div class="py-3 px-3" fxLayout="column" fxFlex>
          <ow-profile-overview 
            [profile]="currentProfile"
            [modeIndicator]="modeIndicator">
          </ow-profile-overview>
        </div>
      </mat-tab>

      <mat-tab label="Heroes">
        <div class="py-3 px-3" fxLayout="column" fxFlex>
          <ow-profile-heroes></ow-profile-heroes>
        </div>
      </mat-tab>

      <mat-tab label="Trends">
        <div class="py-3 px-3" fxLayout="column" fxFlex>
          <ow-profile-trends [modeIndicator]="modeIndicator"></ow-profile-trends>
        </div>
      </mat-tab>
      
      <mat-tab label="Sessions">
        <div class="py-3 px-3" fxLayout="column" fxFlex *ngIf="selectedTabIndex == 3">
          <ow-snapshots-history
            [modeIndicator]="modeIndicator">
          </ow-snapshots-history>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #loadingBlock>
  <ow-page-spinner></ow-page-spinner>
</ng-template>
