<div class="row my-3 content rounded">

  <div class="col-6 py-3">
    <div>
      <small class="text-uppercase">Platform</small>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary active">PC</button>
      <button type="button" class="btn btn-secondary">XBL</button>
      <button type="button" class="btn btn-secondary">PSN</button>
    </div>
  </div>
  <!-- end .col -->

  <div class="col-6 py-3 text-right">
    <div>
      <small class="text-uppercase">Region</small>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary active">US</button>
      <button type="button" class="btn btn-secondary">EU</button>
      <button type="button" class="btn btn-secondary">KR</button>
    </div>
  </div>
  <!-- end .col -->

</div>

<div *ngIf="player">
  <!-- end .row -->

  <div class="row my-3 content rounded align-items-center">

    <div class="col-xl-4 py-3">

      <div class="row align-items-center">

        <div class="col-3">
          <div class="square rounded">
            <div class="square__content square__content--centered">
              <div class="img-overlay full-width bottom-in-shadow base-line-height text-right px-1 py-1">
                <small class="font-weight-bold label-light">121</small>
              </div>
              <img src="{{ player.portraitUrl }}" alt="">
            </div>
          </div>
        </div>
        <!-- end .col -->

        <div class="col-9 base-line-height ">
          <p class="h2 font-weight-bold mb-0">{{ player.overwatchName }}</p>
          <small class="text-uppercase">{{ player.platform }} ({{ player.region }})</small>
        </div>
        <!-- end .col -->

      </div>
      <!-- end .row -->

      <div class="row mt-2">
        <div class="col-12">
          <button class="btn btn-outline-primary d-inline-flex align-items-center mx-2 my-2"><i class="material-icons mr-1">refresh</i>Renew</button>
          <button class="btn btn-outline-primary d-inline-flex align-items-center mx-2 my-2"><i class="material-icons mr-1">share</i>Share</button>
          <button class="btn btn-outline-primary d-inline-flex align-items-center mx-2 my-2"><i class="material-icons mr-1">favorite_border</i>Follow</button>
        </div>
      </div>
      <!-- end .row -->

    </div>
    <!-- end .col -->

    <div class="col-xl-8 py-3">

      <div class="row">

        <div class="col-xl-3 col-md-6 col-sm-6">

          <div class="row my-2">
            <div class="col-xl-6 base-line-height">
              <small class="text-uppercase">Skill Rating</small>
            </div>
            <div class="col-xl-6">
              <small class="d-flex align-items-center">(<i class="material-icons ">arrow_drop_up</i>0.11%)</small>
            </div>
          </div>
          <!-- end .row -->

          <div class="row">
            <div class="col-12 align-items-center">
              <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-7.png" width="30" alt="" class="season-badge">
              <span class="h3 font-weight-bold mb-0">2219</span>
              <sup class="ml-1 x-small">99TH</sup>
            </div>
          </div>
          <!-- end .row -->

        </div>
        <!-- end .col -->

        <div class="col-xl-3 col-md-6 col-sm-6">

          <div class="row my-2">
            <div class="col-xl-6 base-line-height">
              <small class="text-uppercase">US Ranking</small>
            </div>
            <div class="col-xl-6">
              <small class="d-flex align-items-center">(<i class="material-icons ">arrow_drop_up</i>0.11%)</small>
            </div>
          </div>
          <!-- end .row -->

          <div class="row">
            <div class="col-12">
            <span class="h3 font-weight-bold mb-0">1,099<sup class="ml-1 x-small"><span class="x-small">TH</span></sup>
            </span>
            </div>
          </div>
          <!-- end .row -->

        </div>
        <!-- end .col -->

        <div class="col-xl-3 col-md-6 col-sm-6">

          <div class="row my-2">
            <div class="col-xl-6 base-line-height">
              <small class="text-uppercase ">Wins - Loss</small>
            </div>
            <div class="col-xl-6">
              <small class="d-flex align-items-center">(<i class="material-icons ">arrow_drop_up</i>0.11%)</small>
            </div>
          </div>
          <!-- end .row -->

          <div class="row">
            <div class="col-12">
              <span class="h3 font-weight-bold mb-0">209 - 64</span>
            </div>
          </div>
          <!-- end .row -->

        </div>
        <!-- end .col -->

        <div class="col-xl-3 col-md-6 col-sm-6">

          <div class="row my-2">
            <div class="col-xl-6 base-line-height">
              <small class="text-uppercase">Win Rate</small>
            </div>
            <div class="col-xl-6">
              <small class="d-flex align-items-center">(<i class="material-icons ">arrow_drop_up</i>0.11%)</small>
            </div>
          </div>
          <!-- end .row -->

          <div class="row">
            <div class="col-12">

              <span class="h3 font-weight-bold mb-0">64.4%</span>

            </div>
          </div>
          <!-- end .row -->

        </div>
        <!-- end .col -->

      </div>
      <!-- end .row -->

    </div>
    <!-- end .col -->

  </div>
  <!-- end .row -->

  <div class="row my-3 content rounded">

    <div class="col-6 py-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary active">Competitive Play</button>
        <button type="button" class="btn btn-secondary">Quick Play</button>
      </div>
    </div>
    <!-- end .col -->

    <div class="col-12 my-3">

      <div class="row">
        <div class="col-2 align-items-center relative">
          <div class="absolute pos-top pos-right mr-3">
            <small class="text-uppercase">99th</small>
          </div>
          <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-7.png" width="52" alt="">
          <div class="d-inline-flex flex-column base-line-height">
            <p class="h4 font-weight-bold mb-0">4978</p>
            <p class="small mb-0">Current</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-12 my-3">

      <ngb-tabset #t="ngbTabset">

        <ngb-tab id="tab-selectbyid1" title="Simple">

          <ng-template ngbTabTitle>
            Overview
          </ng-template>
          <!-- end ngbTabTitle -->
          <ng-template ngbTabContent>

            <div class="container-fluid py-3">

              <div class="row">

                <div class="col-9">

                  <div class="row my-3">
                    <div class="col-12">
                      <span class="text-uppercase font-weight-bold">Career</span>
                      <small>All statistics are per min averages</small>
                    </div>
                  </div>

                  <div class="row my-3 py-3">

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2 mb-2">
                      <div class="row">
                        <div class="col-12 text-center mb-2">
                          <span>1.67</span>
                        </div>
                        <div class="col-12 mb-2">
                          <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                        </div>
                        <div class="col-12 text-center mb-2">
                          <p class="small text-uppercase mb-0">Kills</p>
                          <p class="small text-uppercase mb-0">Top 0.1%</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end .row -->

                  <div class="row my-3">
                    <div class="col-12">
                      <span class="text-uppercase font-weight-bold">Most Played Heroes</span>
                      <a href="#" class="btn btn-outline-primary text-uppercase ml-2">See All Heroes</a>
                    </div>
                  </div>
                  <!-- end .row -->

                  <div class="row my-3 py-3">

                    <div class="col-3">

                      <div class="row my-2">

                        <div class="col-4 pr-0">

                          <a href="#">
                            <div class="square rounded hero-avatar">
                              <div class="square__content square__content--centered">
                                <div class="img-overlay full-width bottom-in-shadow base-line-height px-1 py-1">
                                  <small class="font-weight-bold label-light">Reaper</small>
                                </div>
                                <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000002.png" alt="">
                              </div>
                            </div>
                          </a>

                        </div>

                        <div class="col-8">
                          <div class="row">
                            <div class="col-12 pl-2 mb-2">
                              <span class="text-uppercase font-weight-bold">Reaper</span>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-3 pl-1 pr-1">
                              <img src="img/OffenseIcon.svg" class="full-width" alt="">
                            </div>
                            <div class="col-9 pl-0">
                              <span class="text-uppercase">Offense</span>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">2.63:1 (886/223)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">K/D Ratio</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">47.8%</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">Win Rate</span>
                        </div>
                      </div>

                    </div>
                    <!-- end .col -->

                    <div class="col-3">

                      <div class="row my-2">

                        <div class="col-4 pr-0">

                          <a href="#">
                            <div class="square rounded hero-avatar">
                              <div class="square__content square__content--centered">
                                <div class="img-overlay full-width bottom-in-shadow base-line-height px-1 py-1">
                                  <small class="font-weight-bold label-light">Reaper</small>
                                </div>
                                <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000002.png" alt="">
                              </div>
                            </div>
                          </a>

                        </div>

                        <div class="col-8">
                          <div class="row">
                            <div class="col-12 pl-2 mb-2">
                              <span class="text-uppercase font-weight-bold">Reaper</span>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-3 pl-1 pr-1">
                              <img src="img/OffenseIcon.svg" class="full-width" alt="">
                            </div>
                            <div class="col-9 pl-0">
                              <span class="text-uppercase">Offense</span>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">2.63:1 (886/223)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">K/D Ratio</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">47.8%</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">Win Rate</span>
                        </div>
                      </div>

                    </div>
                    <!-- end .col -->

                    <div class="col-3">

                      <div class="row my-2">

                        <div class="col-4 pr-0">

                          <a href="#">
                            <div class="square rounded hero-avatar">
                              <div class="square__content square__content--centered">
                                <div class="img-overlay full-width bottom-in-shadow base-line-height px-1 py-1">
                                  <small class="font-weight-bold label-light">Reaper</small>
                                </div>
                                <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000002.png" alt="">
                              </div>
                            </div>
                          </a>

                        </div>

                        <div class="col-8">
                          <div class="row">
                            <div class="col-12 pl-2 mb-2">
                              <span class="text-uppercase font-weight-bold">Reaper</span>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-3 pl-1 pr-1">
                              <img src="img/OffenseIcon.svg" class="full-width" alt="">
                            </div>
                            <div class="col-9 pl-0">
                              <span class="text-uppercase">Offense</span>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">2.63:1 (886/223)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">K/D Ratio</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">47.8%</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">Win Rate</span>
                        </div>
                      </div>

                    </div>
                    <!-- end .col -->

                    <div class="col-3">

                      <div class="row my-2">

                        <div class="col-4 pr-0">

                          <a href="#">
                            <div class="square rounded hero-avatar">
                              <div class="square__content square__content--centered">
                                <div class="img-overlay full-width bottom-in-shadow base-line-height px-1 py-1">
                                  <small class="font-weight-bold label-light">Reaper</small>
                                </div>
                                <img src="https://blzgdapipro-a.akamaihd.net/game/heroes/small/0x02E0000000000002.png" alt="">
                              </div>
                            </div>
                          </a>

                        </div>

                        <div class="col-8">
                          <div class="row">
                            <div class="col-12 pl-2 mb-2">
                              <span class="text-uppercase font-weight-bold">Reaper</span>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-3 pl-1 pr-1">
                              <img src="img/OffenseIcon.svg" class="full-width" alt="">
                            </div>
                            <div class="col-9 pl-0">
                              <span class="text-uppercase">Offense</span>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row my-3">
                        <div class="col-6">
                          <span class="small text-uppercase">2.63:1 (886/223)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">K/D Ratio</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">47.8%</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">Win Rate</span>
                        </div>
                      </div>

                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row -->

                  <div class="row my-3">
                    <div class="col-12">
                      <span class="text-uppercase font-weight-bold">Role Performance</span>
                    </div>
                  </div>
                  <!-- end .row -->

                  <div class="row my-3 py-3">

                    <div class="col-3">
                      <div class="row my-2 align-items-center">
                        <div class="col-3 pr-0">
                          <img src="img/OffenseIcon.svg" alt="" class="full-width">
                        </div>
                        <div class="col-9">
                          <div class="row">
                            <div class="col-12 mb-2">
                              <span class="text-uppercase font-weight-bold">Reaper</span>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-12">
                              <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                            </div>
                            <div class="col-6">
                              <small class="text-uppercase">Game Time</small>
                            </div>
                            <div class="col-6 text-right">
                              <small class="text-uppercase">6 Hrs</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row my-2">
                        <div class="col-6">
                          <span class="small text-uppercase">28.8% (97)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">Games Played</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">2.63:1 (886/223)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">K/D Ratio</span>
                        </div>
                      </div>
                    </div>
                    <!-- end .col -->

                    <div class="col-3">
                      <div class="row my-2 align-items-center">
                        <div class="col-3 pr-0">
                          <img src="img/OffenseIcon.svg" alt="" class="full-width">
                        </div>
                        <div class="col-9">
                          <div class="row">
                            <div class="col-12 mb-2">
                              <span class="text-uppercase font-weight-bold">Reaper</span>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-12">
                              <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                            </div>
                            <div class="col-6">
                              <small class="text-uppercase">Game Time</small>
                            </div>
                            <div class="col-6 text-right">
                              <small class="text-uppercase">6 Hrs</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row my-2">
                        <div class="col-6">
                          <span class="small text-uppercase">28.8% (97)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">Games Played</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">2.63:1 (886/223)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">K/D Ratio</span>
                        </div>
                      </div>
                    </div>
                    <!-- end .col -->

                    <div class="col-3">
                      <div class="row my-2 align-items-center">
                        <div class="col-3 pr-0">
                          <img src="img/OffenseIcon.svg" alt="" class="full-width">
                        </div>
                        <div class="col-9">
                          <div class="row">
                            <div class="col-12 mb-2">
                              <span class="text-uppercase font-weight-bold">Reaper</span>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-12">
                              <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                            </div>
                            <div class="col-6">
                              <small class="text-uppercase">Game Time</small>
                            </div>
                            <div class="col-6 text-right">
                              <small class="text-uppercase">6 Hrs</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row my-2">
                        <div class="col-6">
                          <span class="small text-uppercase">28.8% (97)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">Games Played</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">2.63:1 (886/223)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">K/D Ratio</span>
                        </div>
                      </div>
                    </div>
                    <!-- end .col -->

                    <div class="col-3">
                      <div class="row my-2 align-items-center">
                        <div class="col-3 pr-0">
                          <img src="img/OffenseIcon.svg" alt="" class="full-width">
                        </div>
                        <div class="col-9">
                          <div class="row">
                            <div class="col-12 mb-2">
                              <span class="text-uppercase font-weight-bold">Reaper</span>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-12">
                              <ngb-progressbar type="stp" [value]="25" [max]="100"></ngb-progressbar>
                            </div>
                            <div class="col-6">
                              <small class="text-uppercase">Game Time</small>
                            </div>
                            <div class="col-6 text-right">
                              <small class="text-uppercase">6 Hrs</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row my-2">
                        <div class="col-6">
                          <span class="small text-uppercase">28.8% (97)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">Games Played</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <span class="small text-uppercase">2.63:1 (886/223)</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="small text-uppercase">K/D Ratio</span>
                        </div>
                      </div>
                    </div>
                    <!-- end .col -->

                  </div>
                  <!-- end .row -->

                  <div class="row my-3">
                    <div class="col-12">
                      <span class="text-uppercase font-weight-bold">Heroes</span>
                    </div>
                  </div>
                  <!-- end .row -->

                  <div class="row my-3">
                    <div class="col-12">
                      tabset supposed to go here
                    </div>
                  </div>
                  <!-- end .row -->

                </div>

                <div class="col-3 sidebar">

                  <div class="row">
                    <div class="col-12">
                      <span class="text-uppercase font-weight-bold">Lifetime Statistics</span>
                    </div>

                    <div class="col-12 py-3">
                      <small class="text-uppercase px-3">Combat</small>
                    </div>

                    <div class="col-12 py-3">

                      <div class="row">
                        <div class="col-7">
                          <small class="text-uppercase">Eliminations</small>
                        </div>
                        <div class="col-5 text-right">
                          <small class="text-uppercase">238</small>
                        </div>
                      </div>
                      <!-- end .row -->

                      <div class="row">
                        <div class="col-7">
                          <small class="text-uppercase">Eliminations</small>
                        </div>
                        <div class="col-5 text-right">
                          <small class="text-uppercase">238</small>
                        </div>
                      </div>
                      <!-- end .row -->

                    </div>

                    <div class="col-12 py-3">
                      <small class="text-uppercase px-3">Game</small>
                    </div>

                    <div class="col-12 py-3">

                      <div class="row">
                        <div class="col-7">
                          <small class="text-uppercase">Eliminations</small>
                        </div>
                        <div class="col-5 text-right">
                          <small class="text-uppercase">238</small>
                        </div>
                      </div>
                      <!-- end .row -->

                      <div class="row">
                        <div class="col-7">
                          <small class="text-uppercase">Eliminations</small>
                        </div>
                        <div class="col-5 text-right">
                          <small class="text-uppercase">238</small>
                        </div>
                      </div>
                      <!-- end .row -->

                    </div>

                  </div>

                </div>
                <!-- end .sidebar -->

              </div>

            </div>
            <!-- end .container-fluid -->

          </ng-template>
          <!-- end ngbTabContent -->

        </ngb-tab>
        <!-- ngb-tab -->

        <ngb-tab id="tab-selectbyid2">

          <ng-template ngbTabTitle>
            Match Snapshots <span class="skill-rating py-1 px-2 rounded ml-1 small text-uppercase">New</span>
          </ng-template>
          <!-- end ngbTabTitle -->
          <ng-template ngbTabContent>

            <div class="container-fluid py-3">
              <div class="row">
                <div class="col-12 text-center">
                  <p class="px-3 py-3">Not yet implemented.</p>
                </div>
              </div>
            </div>

          </ng-template>
          <!-- end ngbTabContent -->

        </ngb-tab>
        <!-- ngb-tab -->

        <ngb-tab id="tab-selectbyid3">

          <ng-template ngbTabTitle>
            Guide
          </ng-template>
          <!-- end ngbTabTitle -->
          <ng-template ngbTabContent>

            <div class="container-fluid py-3">
              <div class="row">
                <div class="col-12 text-center">
                  <p class="px-3 py-3">Not yet implemented.</p>
                </div>
              </div>
            </div>

          </ng-template>
          <!-- end ngbTabContent -->

        </ngb-tab>
        <!-- ngb-tab -->

        <ngb-tab id="tab-selectbyid4">

          <ng-template ngbTabTitle>
            Leaderboard
          </ng-template>
          <!-- end ngbTabTitle -->
          <ng-template ngbTabContent>

            <div class="container-fluid py-3">
              <div class="row">
                <div class="col-12 text-center">
                  <p class="px-3 py-3">Not yet implemented.</p>
                </div>
              </div>
            </div>

          </ng-template>
          <!-- end ngbTabContent -->

        </ngb-tab>
        <!-- ngb-tab -->

      </ngb-tabset>
      <!-- end ngb-tabset -->

    </div>

  </div>
  <!-- end .row -->

</div>
