<div class="news-reel">

  <section class="row mb-3">

    <div class="col-12">

      <div class="row mx-0">

        <div class="col-md-6 col-12 px-0">

          <div class="row h-100 mx-0">

            <div class="col-md-6 col-12 px-0">
              <div class="news-card h-100">
                <a href="javascript:void(0)">
                  <div class="banner h-100">
                    <img src="/img/cardplaceholder4.png" alt="">
                  </div>
                  <div class="body px-3 py-3">
                      <p class="title-lg text-uppercase font-weight-bold mb-0">Lorei Ipsum</p>
                      <p class="small mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-md-6 col-12 px-0">
              <div class="news-card h-100">
                <a href="javascript:void(0)">
                  <div class="banner h-100">
                    <img src="/img/cardplaceholder4.png" alt="">
                  </div>
                  <div class="body px-3 py-3">
                      <p class="title-lg text-uppercase font-weight-bold mb-0">Lorei Ipsum</p>
                      <p class="small mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </a>
              </div>
            </div>

          </div>

        </div>

        <div class="col-md-6 col-12 h-100 px-0">

          <div class="row mx-0">

            <div class="col-6 px-0">
              <div class="news-card h-100">
                <a href="javascript:void(0)">
                  <div class="banner h-100">
                    <img src="/img/cardplaceholder4.png" alt="">
                  </div>
                  <div class="body px-3 py-3">
                      <p class="title-lg text-uppercase font-weight-bold mb-0">Lorei Ipsum</p>
                      <p class="small mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-6 px-0">
              <div class="news-card h-100">
                <a href="javascript:void(0)">
                  <div class="banner h-100">
                    <img src="/img/cardplaceholder4.png" alt="">
                  </div>
                  <div class="body px-3 py-3">
                      <p class="title-lg text-uppercase font-weight-bold mb-0">Lorei Ipsum</p>
                      <p class="small mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-6 px-0">
              <div class="news-card h-100">
                <a href="javascript:void(0)">
                  <div class="banner h-100">
                    <img src="/img/cardplaceholder4.png" alt="">
                  </div>
                  <div class="body px-3 py-3">
                      <p class="title-lg text-uppercase font-weight-bold mb-0">Lorei Ipsum</p>
                      <p class="small mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-6 px-0">
              <div class="news-card h-100">
                <a href="javascript:void(0)">
                  <div class="banner h-100">
                    <img src="/img/cardplaceholder4.png" alt="">
                  </div>
                  <div class="body px-3 py-3">
                      <p class="title-lg text-uppercase font-weight-bold mb-0">Lorei Ipsum</p>
                      <p class="small mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </a>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
    <!-- end .col -->

  </section>
  <!-- end .row -->

</div>
<!-- end .hero-wall-catalog -->
