<div class="flex-layout" fxLayout="row" fxLayoutAlign="start center" fxFlex="noshrink">
  <div class="flex-layout pt-3 px-3" fxLayout="column" fxFlex="initial">
    <md-select placeholder="Platform" [(ngModel)]="selectedPlatform">
       <md-option *ngFor="let platform of platforms" [value]="platform.value">{{ platform.name }}</md-option>
    </md-select>
  </div>

  <div class="flex-layout pt-3 px-3" fxLayout="column" fxFlex="initial">
    <md-select placeholder="Region" [(ngModel)]="selectedRegion">
       <md-option *ngFor="let region of regions" [value]="region.value">{{ region.name }}</md-option>
    </md-select>
  </div>

</div>
