@import "../../../../../style/colors";

.global-sidebar-left-friends-list {

  .user-action {
    position: relative;
  }

  .message {

    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: $white;

    .inner {
      background-color: $green;
    }

  }

  .message.show {
    display: block;
  }

}

:host /deep/ .global-sidebar-left-friends-list {
  .form-group {
    input {
      height: 36px;
    }
  }
}
