<div class="most-played" fxLayout="row" *ngIf="sortedHeroData">
  <div fxLayout="column" fxFlex="grow">
    <div fxLayout="row">
      <md-card fxFlex="100%">
        <md-card-header>
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start end">
            <div fxLayout="column">
              <span class="text-uppercase"><strong>Favorite Heroes</strong></span>
            </div>
          </div>
        </md-card-header>
        <md-card-content>
          <div class="pt-3" fxLayout="row" fxFlex="100%">
            <div fxLayout="column" fxLayoutGap="14px" fxFlex="100%">
              <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let hero of sortedHeroData">
                <div class="px-2" fxLayout="column" fxFlex="auto">
                  <img class="hero-thumbnail md-image md-image-48" [src]="hero.portraitUrl">
                </div>
                <div class="px-2" fxLayout="column" fxFlex="grow">
                  <div fxLayout="row">
                    <span class="text-uppercase"><strong>{{ hero.name }}</strong></span>
                  </div>
                  <div fxLayout="row">
                   <div fxLayout="column">
                     <span class="mat-caption text-uppercase">{{ hero.role }}</span>
                   </div>
                  </div>
                </div>
                <div class="px-2" fxLayout="column" fxFlex="grow">
                  <div fxLayout="row">
                    <span class="mat-caption text-uppercase">{{ hero.kdratio | number : '1.2-2' }}:1</span>
                  </div>
                  <div fxLayout="row">
                   <span class="mat-caption text-uppercase">{{ hero.kills }}/{{ hero.deaths }}</span>
                  </div>
                </div>
                <div class="px-2" fxLayout="column" fxFlex="noshrink">
                  <div fxLayout="row">
                    <span class="mat-caption text-uppercase">{{ hero.winRate | number : '1.2-2' }}% Won</span>
                  </div>
                  <div fxLayout="row">
                    <span class="mat-caption text-uppercase">{{ hero.wins }} Wins</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
