<nav class="navbar navbar-light fixed-top">
  <div class="row">
    <div class="col-2 mr-3"></div>
    <div class="col-2 mr-3 hidden-sm-up"></div>
    <div class="col-sm-7 p-0 hidden-xs-down mx-3">
      <form [formGroup]="questionForm">
        <ow-search #search></ow-search>
      </form>
    </div>
    <div class="col-1 mr-3 hidden-md-down"></div>
    <div class="col my-2 input-group p-0 ml-3">
      <button class="btn btn-outline-primary btn-sm" type="submit">Sign up</button>
      <button class="btn btn-primary btn-sm" type="submit">Login</button>
    </div>
  </div>
</nav>
