@import "../../../style/colors";

.x-small-text {
  font-size: x-small;
}

.card-player-image {
  height: 40px;
  width: 40px;
  border-radius: 5px !important;
}

.heroes-image {
  height: 25px;
  width: 25px;
  border-radius: 5px !important;
}
