<div class="hero-cards">
  <div class="row">
    <div class="col-12 mb-2">
      <span class="text-uppercase font-weight-bold">Heroes</span>
    </div>
    <!-- end .col -->
  </div>
  <!-- end .row -->
  <div class="row">
    <div class="col-12">
      <ngb-tabset type="pills">
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="small d-flex align-items-center">All</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="container-fluid px-0 pt-3">
              <div class="row">
                <div class="col-12">
                  <ow-hero-card></ow-hero-card>
                  <!-- end ow-hero-card -->
                </div>
                <!-- end .col -->
              </div>
              <!-- end .row -->
            </div>
            <!-- end .container-fluid -->
          </ng-template>
        </ngb-tab>
        <!-- end ngb-tab -->
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="small d-flex align-items-center"><img src="img/OffenseIcon.svg" alt="" class="role-icon-sm mr-2">Offense</span>
          </ng-template>
          <ng-template ngbTabContent>
            Offense Data
          </ng-template>
        </ngb-tab>
        <!-- end ngb-tab -->
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="small d-flex align-items-center"><img src="img/DefenseIcon.svg" alt="" class="role-icon-sm mr-2">Defense</span>
          </ng-template>
          <ng-template ngbTabContent>
            Defense Data
          </ng-template>
        </ngb-tab>
        <!-- end ngb-tab -->
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="small d-flex align-items-center"><img src="img/SupportIcon.svg" alt="" class="role-icon-sm mr-2">Support</span>
          </ng-template>
          <ng-template ngbTabContent>
            Support Data
          </ng-template>
        </ngb-tab>
        <!-- end ngb-tab -->
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="small d-flex align-items-center"><img src="img/TankIcon.svg" alt="" class="role-icon-sm mr-2">Tank</span>
          </ng-template>
          <ng-template ngbTabContent>
            Tank Data
          </ng-template>
        </ngb-tab>
        <!-- end ngb-tab -->
      </ngb-tabset>
      <!-- end ngb-tabset -->
    </div>
    <!-- end .col -->
  </div>
  <!-- end .row -->
</div>
<!-- end .hero-cards -->
