@import "../../../../style/colors";

:host /deep/ .hero-cards {

  .nav-link {
    color: $gray-light;
    border: 1px solid $gray-lighter;
    border-radius: 0;
    height: 100%;
  }

  .nav-link:hover {
    color: $brand-inverse;
    border-color: $brand-inverse;
  }

  .nav-item:hover + .nav-item .nav-link {
    border-left: 1px solid $brand-inverse;
  }

  .nav-link.active {
    background-color: $brand-inverse;
    border-color: $brand-inverse;
    color: $white;
  }

  .nav-item:first-child .nav-link {
    border-radius: 0.25rem 0 0 0.25rem;
  }

  .nav-item:last-child .nav-link {
    border-radius: 0 0.25rem 0.25rem 0;
  }

  .nav-item:not(:last-child) .nav-link {
    border-right: 0;
  }


}
