@mixin mat-sidenav-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-sidenav-container {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mav-sidenav-content {
    border-right: 1px solid mat-color($foreground, divider);
  }

  .mat-sidenav {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-button:disabled {
    color: mat-color($primary, lighter);
  }

}
